<table class="mat-table" *ngIf="isAllInPageSelected() && dataSource.length > 0">
  <tr class="mat-row">
    <td class="mat-cell" *ngIf="!allSelected">
      <span>Alle <b>{{selection.selected.length}}</b> brukere på denne siden er markert. </span>
      <a *ngIf="isAllInPageSelected()" [routerLink]="" (click)="onSelectAll()">
        Marker alle {{pageLength}} brukere i databasen
      </a>
    </td>
    <td  class="mat-cell" *ngIf="allSelected">
      <span>Alle <b>{{pageLength}}</b> brukere i databasen er markert. </span>
      <a [routerLink]="" (click)="onDeselectAll()"> Fjern markeringen</a>
    </td>
  </tr>
</table>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox #masterCheckbox (change)="masterToggle(masterCheckbox.checked)"
                    [checked]="selection.hasValue() && isAllInPageSelected()"
                    [indeterminate]="selection.hasValue() && !isAllInPageSelected()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)=checkboxToggle(row)
                    [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>Email</th>
    <td mat-cell *matCellDef="let row">{{row.roleMapping.email}}</td>
  </ng-container>

  <ng-container matColumnDef="group">
    <th mat-header-cell *matHeaderCellDef>Gruppe</th>
    <td mat-cell *matCellDef="let row">{{row.roleMapping.group}}</td>
  </ng-container>

  <ng-container matColumnDef="role">
    <th mat-header-cell *matHeaderCellDef>Rolle</th>
    <td mat-cell *matCellDef="let row">{{row.roleMapping.roleList}}</td>
  </ng-container>

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let row">{{row.id}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"
      [ngClass]="selectedRows.indexOf(row.id) !== -1  ? 'highlightSelected': null|| selectedRow == row.id ? 'highlight' : null"
      (click)="onRowClick(row)"></tr>
</table>

<mat-paginator (page)="page.emit($event)"
               [length]="pageLength"
               [pageIndex]="pageIndex"
               [pageSize]="pageSize"
               [pageSizeOptions]="pageOptions">
</mat-paginator>

