<h2 mat-dialog-title>
  <ng-container i18n="@@eventDetailDialogCardTitle">Event</ng-container>
</h2>

<div mat-dialog-content>
  <form *ngIf="eventObject" [formGroup]="form">
    <div fxLayout="row wrap" fxLayoutGap="24px">
      <div fxFlex fxLayout="column">
        <mat-form-field>
          <input matInput
                 placeholder="Type"
                 formControlName="type"
                 readonly>
        </mat-form-field>
        <mat-form-field>
          <input matInput
                 placeholder="Source"
                 formControlName="source"
                 readonly>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="State" formControlName="state">
            <mat-option *ngFor="let state of States" [value]="state">
              {{State[state]}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Severity" formControlName="severity">
            <mat-option *ngFor="let severity of Severities" [value]="severity">
              {{Severity[severity]}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput
                 placeholder="Assignee"
                 i18n-placeholder="@@eventDetailsAssigneePlaceholder"
                 formControlName="assignee">
        </mat-form-field>
        <mat-form-field>
          <mat-chip-list #chipList fxLayout="row wrap" fxLayoutGap="8px">
            <mat-chip *ngFor="let label of labelList"
                      [selectable]="canUpdate"
                      [removable]="removable"
                      (removed)="onRemoveLabel(label)"
                      (click)="onClickLabel(label)">
              {{label}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input matInput
                   [formControl]="labelControl"
                   placeholder="Label"
                   i18n-placeholder="@@eventLabelInputPlaceholder"
                   [matChipInputFor]="chipList"
                   [matChipInputSeparatorKeyCodes]="labelInputSeparators"
                   (matChipInputTokenEnd)="onAddLabel($event)">
          </mat-chip-list>
        </mat-form-field>
        <form [formGroup]="labelForm" *ngIf="labelForm.enabled">
          <mat-card class="label-form">
            <mat-card-header>
              <mat-icon mat-card-avatar>edit</mat-icon>
              <mat-card-title i18n="@@eventLabelEditCardTitle">Edit label</mat-card-title>
            </mat-card-header>
            <mat-card-content fxLayout="row" fxLayoutGap="16px">
              <mat-form-field fxFlex>
                <input #labelEdit matInput placeholder="Label" formControlName="label"
                       i18n-placeholder="@@eventEditLabelInputPlaceholder">
              </mat-form-field>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="accent"
                      *ngIf="canUpdateLabel"
                      (click)="onUpdateLabel(labelEdit.value)"
                      i18n="@@commonButtonOk">OK
              </button>
              <button i18n="@@commonButtonCancel" mat-button (click)="onAbortLabelEdit()">
                CANCEL
              </button>
            </mat-card-actions>
          </mat-card>
        </form>
        <div [ngSwitch]="eventObject.type">
          <ng-container *ngSwitchCase="EventType.altSeed">
            <app-event-alternative-seed [eventObject]="eventObject"
                                        [configObject]="eventObject | getSeedConfig | async">
            </app-event-alternative-seed>
          </ng-container>
          <ng-container *ngSwitchDefault>
            <mat-list *ngIf="eventObject.dataList.length">
              <h3 matSubheader>Data</h3>
              <ng-container *ngFor="let data of eventObject.dataList">
                <mat-list-item>{{data.key}}:{{data.value}}</mat-list-item>
              </ng-container>
            </mat-list>
          </ng-container>
        </div>
      </div>

      <div fxFlex fxLayout="column">
        <app-event-activity [activities]="eventObject.activityList"></app-event-activity>
      </div>
    </div>
  </form>
</div>

<div mat-dialog-actions *ngIf="canEdit">
  <button mat-raised-button color="accent"
          *ngIf="!showSave"
          [disabled]="!canUpdate"
          [mat-dialog-close]="onDialogClose()"
          i18n="@@commonButtonSave">UPDATE
  </button>
  <button mat-button
          (click)="onRevert()"
          [disabled]="!form.dirty"
          i18n="@@commonButtonRevert">
    REVERT
  </button>
  <button mat-button
          mat-dialog-close
          i18n="@@commonButtonCancel">CANCEL
  </button>
  <span fxFlex></span>
</div>
