<form [formGroup]="form" fxFlex>
  <mat-card>
    <mat-card-header>
      <mat-icon mat-card-avatar>sentiment_neutral</mat-icon>
      <mat-card-title>
        <span i18n="@@politenessconfigDetailsHeader">Politenessconfig</span>
      </mat-card-title>
      <mat-card-subtitle>
        <span *ngIf="!configObject.id"
              i18n="@@politenessconfigNewPolitenessConfigHeader">Ny (ikke lagret)</span>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content fxLayout="row wrap" fxLayoutGap="24px">
      <div fxFlex fxLayout="column">
        <app-meta formControlName="meta"></app-meta>
        <mat-form-field *ngIf="!showSave">
          <input matInput
                 formControlName="id"
                 placeholder="Id"
                 readonly
                 i18n-placeholder="@@configIdPlaceholder">
        </mat-form-field>
      </div>

      <div fxFlex fxLayout="column">
        <mat-form-field>
          <mat-select placeholder="Velg policy"
                      formControlName="robotsPolicy"
                      i18n-placeholder="@@politenessconfigFormRobotPolicyDropdownPlaceholder">
            <mat-option *ngFor="let policy of robotsPolicies" [value]="policy">{{RobotsPolicy[policy]}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="robotsPolicy.value === RobotsPolicy.CUSTOM_ROBOTS">
            <textarea matInput
                      formControlName="customRobots"
                      placeholder="robots.txt">
            </textarea>
          <mat-error *ngIf="!customRobots.valid"
                     i18n="@@politenessconfigFormValidityDurationRequiredError">
            Må være et tall.
          </mat-error>
        </mat-form-field>

        <!--CrawlHostGroup Selector -->
        <app-labels kind="CrawlHostGroup Selector" formControlName="crawlHostGroupSelectorList"
                    [removable]="canEdit"></app-labels>


        <mat-form-field>
          <input matInput
                 formControlName="minimumRobotsValidityDurationS"
                 placeholder="Minimum robots validity (seconds)"
                 i18n-placeholder="@@politenessconfigFormMinRobotsValidDurationPlaceholder">
          <mat-error *ngIf="!minRobotsValidDurationSec.valid"
                     i18n="@@politenessconfigFormMinRobotsValidDurationRequiredError">
            Må være et tall.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput
                 formControlName="minTimeBetweenPageLoadMs"
                 placeholder="Minimum time between page load (ms)"
                 i18n-placeholder="@@politenessconfigFormMinTimeBetweenPageLoadPlaceholder">
          <mat-error *ngIf="!minTimeBetweenPageloadMs.valid"
                     i18n="@@politenessconfigFormMinTimeBetweenPageloadRequiredError">
            Må være et tall.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput
                 formControlName="maxTimeBetweenPageLoadMs"
                 placeholder="Maximum time between page load (ms)"
                 i18n-placeholder="@@politenessconfigFormMaxTimeBetweenPageLoadPlaceholder">
          <mat-error *ngIf="!maxTimeBetweenPageloadMs.valid"
                     i18n="@@politenessconfigFormMaxTimeBetweenPageloadRequiredError">
            Må være et tall
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput
                 formControlName="delayFactor"
                 placeholder="Delay factor"
                 i18n-placeholder="@@politenessconfigFormDelayFactorPlaceholder">
          <mat-error *ngIf="!delayFactor.valid"
                     i18n="@@politenessconfigFormMaxTimeBetweenPageloadRequiredError">
            Må være et tall
          </mat-error>
        </mat-form-field>


        <mat-form-field>
          <input matInput
                 formControlName="maxRetries"
                 placeholder="Maximum retries"
                 i18n-placeholder="@@mustBeNumberError">
          <mat-error *ngIf="!maxRetries.valid"
                     i18n="@@mustBeNumberError">
            Må være et tall
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput
                 formControlName="retryDelaySeconds"
                 placeholder="Retry delay (s)"
                 i18n-placeholder="@@politenessconfigFormRetryDelaySecondsPlaceholder">
          <mat-error *ngIf="!retryDelaySeconds.valid"
                     i18n="@@mustBeNumberError">
            Må være et tall
          </mat-error>
        </mat-form-field>
      </div>
    </mat-card-content>

    <mat-card-actions *ngIf="canEdit">
      <button mat-raised-button color="accent"
              [disabled]="!canSave"
              *ngIf="showSave"
              (click)="onSave()"
              i18n="@@commonButtonSave">
        LAGRE
      </button>
      <button mat-raised-button color="accent"
              *ngIf="!showSave"
              [disabled]="!canUpdate"
              (click)="onUpdate()"
              i18n="@@commonButtonSave">
        OPPDATER
      </button>
      <button mat-button
              (click)="onRevert()"
              [disabled]="!canRevert"
              i18n="@@commonButtonRevert">
        TILBAKESTILL
      </button>
      <span fxFlex></span>
      <button mat-button
              *ngIf="!showSave"
              (click)="onDelete()"
              i18n="@@commonButtonDelete">
        SLETT
      </button>
    </mat-card-actions>
  </mat-card>
</form>
