<mat-toolbar>
  <h1 *ngIf="!selector" i18n="@@labelToolbarHeader">Merkelapp</h1>
  <h1 *ngIf="selector" i18n="@@labelSelectorToolbarHeader">Selector</h1>
  <span class="fill-space"></span>
  <button mat-mini-fab (click)="onCreateLabel()" *ngIf="canUpdate">
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>

<div class="chiplist" fxLayout="row">
  <mat-form-field fxFlex>
    <mat-chip-list #chipList *ngFor="let group of groups | async;">
      <mat-chip *ngFor="let value of group.values"
                [selectable]="canUpdate"
                [removable]="canDelete"
                (remove)="onRemoveLabel(group)"
                (click)="onClickLabel(group.key, value)">
        {{group.key + ':' + value}}
        <mat-icon matChipRemove *ngIf="canDelete">cancel</mat-icon>
      </mat-chip>
      <input *ngIf="canUpdate"
             [matChipInputFor]="chipList"
             [matChipInputSeparatorKeyCodes]="labelInputSeparators"
             (matChipInputTokenEnd)="onSaveLabel(null, $event.value)"
             [disabled]="canUpdate ? null :  ''"/>
    </mat-chip-list>
  </mat-form-field>
</div>

<form [formGroup]="labelForm">
  <mat-card-content *ngIf="canUpdate && labelForm.enabled" class="newLabelCard">
    <mat-form-field>
      <input #newKey matInput placeholder="Type" formControlName="key"
             i18n-placeholder="@@labelFormAddNewTypePlaceholder">
      <mat-icon matSuffix matTooltipShowDelay="500"
                i18n-matTooltip="=@@labelNewLabelKeyTooltip"
                matTooltip='Hva skal merkelappen beskrive?
             Eks. Org.nummer, kategorisering, begivenhet'>
        info
      </mat-icon>
    </mat-form-field>
    <mat-form-field>
      <input #newValue matInput placeholder="Verdi" formControlName="value"
             i18n-placeholder="@@labelFormAddNewValuePlaceholder">
      <mat-icon matSuffix matTooltipShowDelay="500"
                i18n-matTooltip="@@labelNewLabelValueTooltip"
                matTooltip='En verdi gir en merkelapp. Den brukes for å merke og identifisere en entitet eller seed.
             Eks. offentlig nettsted, nettavis, Valg 2017'>
        info
      </mat-icon>
    </mat-form-field>
    <mat-card-actions>
      <button i18n="@@commonButtonAdd" mat-button color="primary"
              [disabled]="!labelForm.valid"
              (click)="onSaveLabel(newKey.value, newValue.value)">Legg til
      </button>
      <button mat-button color="accent"
              [disabled]="!labelForm.valid"
              (click)="onUpdateLabel(newKey.value, newValue.value)"> Oppdater

      </button>
      <button i18n="@@commonButtonCancel" mat-button color="warn"
              (click)="onAbort()">Avbryt
      </button>
    </mat-card-actions>
  </mat-card-content>
</form>
