<div>
  <div class="chiplist" fxLayout="row">
    <mat-form-field>
      <mat-chip-list #chipList fxLayout="row" fxLayoutGap="8px" fxLayoutWrap>
        <ng-container *ngFor="let group of groups | async">
          <mat-chip *ngFor="let value of group.values"
                    [selectable]="canUpdate"
                    [removable]="canDelete"
                    (remove)="onRemoveLabel(group.key, value)"
                    (click)="onClickLabel(group.key, value)">
            {{group.key + ':' + value}}
            <mat-icon matChipRemove *ngIf="canDelete">cancel</mat-icon>
          </mat-chip>
        </ng-container>
        <input #chipInput [placeholder]="kind"
               [matChipInputFor]="chipList"
               [matChipInputSeparatorKeyCodes]="labelInputSeparators"
               (matChipInputTokenEnd)="onSaveLabel('', $event.value); chipInput.value = ''"
               [attr.disabled]="canUpdate ? null : ''"/>
      </mat-chip-list>

    </mat-form-field>
  </div>

  <form [formGroup]="labelForm">
    <mat-card-content *ngIf="canUpdate && labelForm.enabled" class="newLabelCard">
      <mat-form-field>
        <input #newKey matInput placeholder="Type" formControlName="key"
               i18n-placeholder="@@labelFormAddNewTypePlaceholder">
        <mat-icon matSuffix matTooltipShowDelay="500"
                  i18n-matTooltip="=@@labelNewLabelKeyTooltip"
                  matTooltip='Hva skal merkelappen beskrive?
             Eks. Org.nummer, kategorisering, begivenhet'>
          info
        </mat-icon>
      </mat-form-field>
      <mat-form-field>
        <input #newValue matInput placeholder="Verdi" formControlName="value"
               i18n-placeholder="@@labelFormAddNewValuePlaceholder">
        <mat-icon matSuffix matTooltipShowDelay="500"
                  i18n-matTooltip="@@labelNewLabelValueTooltip"
                  matTooltip='En verdi gir en merkelapp. Den brukes for å merke og identifisere en entitet eller seed.
             Eks. offentlig nettsted, nettavis, Valg 2017'>
          info
        </mat-icon>
      </mat-form-field>
      <mat-card-actions>
        <button i18n="@@commonButtonAdd" mat-button color="primary"
                *ngIf="!showUpdate"
                [disabled]="!labelForm.valid"
                (click)="onSaveLabel(newKey.value, newValue.value)">Legg til
        </button>
        <button mat-button color="accent"
                *ngIf="showUpdate"
                [disabled]="!(labelForm.valid && labelForm.dirty)"
                (click)="onUpdateLabel(newKey.value, newValue.value)">Oppdater

        </button>
        <button i18n="@@commonButtonCancel" mat-button color="warn"
                (click)="onAbort()">Avbryt
        </button>
      </mat-card-actions>
    </mat-card-content>
  </form>

</div>
