<div *ngIf="entity" class="row">
  <div class="col-md-12">
    <h2 *ngIf="entity.id">Entity Details</h2>
    <h2 *ngIf="!entity.id">New Entity</h2>
  </div>
</div>
<div class="col-md-12">


  <form [formGroup]="entityForm">

    <!-- Hero Detail Controls -->
    <div class="form-group" >
      <label class="center-block">Name:
        <input class="form-control" [(ngModel)]="entity.name" formControlName="name">
      </label>
    </div>
    <div class="form-group" >
      <label class="center-block">
        <input class="form-control" [(ngModel)]="entity.id" formControlName="id" hidden/>
      </label>
    </div>
    <div class="form-group">
      <label class="center-block">Description:
        <input class="form-control" [(ngModel)]="entity.description" formControlName="description" placeholder="description"/>
      </label>
    </div>
        <div class="form-group">
          <label class="center-block">Created:
      <input *ngIf="!entity.created"  class="form-control" formControlName="created" [(ngModel)]="entity.created" />
      <input *ngIf="entity.created"  class="form-control" formControlName="created" [ngModel]="entity.created.seconds * 1000 | date:'yyyy-MM-dd HH:mm:ss Z'" />
          </label>
    </div>
    <div class="form-group" >
      <label class="center-block">Created By:
      <input class="form-control" [(ngModel)]="entity.created_by" formControlName="created_by" />
      </label>
    </div>
    <div class="form-group" >
      <label class="center-block">Last Modified:
      <input *ngIf="!entity.last_modified"  class="form-control" formControlName="last_modified" [(ngModel)]="entity.last_modified" />
      <input *ngIf="entity.last_modified"  class="form-control" formControlName="last_modified" [ngModel]="entity.last_modified.seconds * 1000 | date:'yyyy-MM-dd HH:mm:ss Z'" />
      </label>
    </div>
    <div class="form-group" >
      <label class="center-block">Last Modified By:
      <input class="form-control" [(ngModel)]="entity.last_modified_by" formControlName="last_modified_by"/>
      </label>
    </div>
    <!-- Hero Detail Controls -->


    <!-- The repeated address template -->

    <div class="form-group" >

      <div formArrayName="labels" class="well well-lg" >
        <div *ngFor="let label of labels.controls; let i=index" [formGroupName]="i" >
          <div class="panel-heading">
            <span>Label #{{i + 1}}</span>
            <span class="glyphicon glyphicon-remove pull-right" *ngIf="labels.controls.length > 1" (click)="removeLabel(i)"></span>
          </div>

          <div class="form-group">
            <label class="center-block">Key:
              <input class="form-control" formControlName="key">
            </label>
          </div>
          <div class="form-group">
            <label class="center-block">Value:
              <input class="form-control" formControlName="value">
            </label>
          </div>
        </div>
        <button class="btn btn-success" (click)="addLabel()" type="button">Add a Label</button>
      </div>
    </div>

    <br>
    <!-- End of
          <!-- The repeated address template -->


    {{entityForm.value | json}}

  </form>
  <button class="btn btn-primary" *ngIf="!entity.id" (click)="createEntity(entityForm.value)" novalidate>Create</button>
  <button class="btn btn-info"  *ngIf="entity.id" (click)="updateEntity(entityForm)">Update</button>
  <button class="btn btn-danger" *ngIf="entity.id" (click)="deleteEntity(entity.id); $event.stopPropagation()">Delete</button>

</div>
