<mat-card *ngIf="health">
  <mat-card-header>
    <mat-card-title>
      <span>
        Health check
      <span fxFlex></span>
      <mat-icon *ngIf="status==='up'" style="color: green" matTooltip="{{status}}">check_circle</mat-icon>
        <mat-icon *ngIf="status==='warn'" style="color: darkorange" matTooltip="{{status}}">warning</mat-icon>
      <mat-icon *ngIf="status==='down'" style="color: red" matTooltip="{{status}}">cancel</mat-icon>
      </span>
    </mat-card-title>
    <mat-card-subtitle>{{version}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-accordion>
      <app-health-check-status [checks]=activityCheck></app-health-check-status>
      <app-health-check-status [checks]="dashboardCheck"></app-health-check-status>
      <app-health-check-status [checks]="harvestCheck"></app-health-check-status>
    </mat-accordion>
  </mat-card-content>
</mat-card>
