<div *ngIf="configObject" fxLayout="row wrap" fxLayoutGap="16px" style="width: 100%;" class="preview-padding">
  <div fxFlex class="preview-meta-column">
    <app-meta-preview [configObject]="configObject"></app-meta-preview>
  </div>
  <div fxFlex class="preview-details-column">
    <ng-container [ngSwitch]="configObject.kind">
      <ng-container *ngSwitchCase="Kind.SEED">
        <app-seed-preview [configObject]="configObject" (edit)="onEditConfig($event)"></app-seed-preview>
      </ng-container>
      <ng-container *ngSwitchCase="Kind.COLLECTION">
        <app-collection-preview [configObject]="configObject"></app-collection-preview>
      </ng-container>
      <ng-container *ngSwitchCase="Kind.CRAWLJOB">
        <app-crawljob-preview [configObject]="configObject"></app-crawljob-preview>
      </ng-container>
      <ng-container *ngSwitchCase="Kind.CRAWLSCHEDULECONFIG">
        <app-schedule-preview [configObject]="configObject"></app-schedule-preview>
      </ng-container>
      <ng-container *ngSwitchCase="Kind.CRAWLCONFIG">
        <app-crawlconfig-preview [configObject]="configObject"></app-crawlconfig-preview>
      </ng-container>
      <ng-container *ngSwitchCase="Kind.CRAWLHOSTGROUPCONFIG">
        <app-crawlhostgroupconfig-preview [configObject]="configObject"></app-crawlhostgroupconfig-preview>
      </ng-container>
      <ng-container *ngSwitchCase="Kind.BROWSERCONFIG">
        <app-browserconfig-preview [configObject]="configObject"></app-browserconfig-preview>
      </ng-container>
      <ng-container *ngSwitchCase="Kind.BROWSERSCRIPT">
        <app-browserscript-preview fxFlex [configObject]="configObject"></app-browserscript-preview>
      </ng-container>
      <ng-container *ngSwitchCase="Kind.POLITENESSCONFIG">
        <app-politenessconfig-preview [configObject]="configObject"></app-politenessconfig-preview>
      </ng-container>
    </ng-container>
  </div>
  <div fxFlex>
    <app-shortcut-list [configObject]="configObject"></app-shortcut-list>
  </div>
</div>

