<form [formGroup]="form" fxFlex>
  <mat-card>
    <mat-card-header>
      <mat-icon mat-card-avatar>web</mat-icon>
      <mat-card-title>
        <span i18n="@@browserconfigDetailsHeader">BrowserConfig</span>
      </mat-card-title>
      <mat-card-subtitle>
        <span *ngIf="!configObject.id"
              i18n="@@browserconfigNewConfigHeader">
        Ny (ikke lagret)</span>
      </mat-card-subtitle>
      <span fxFlex></span>
      <button mat-icon-button
              matTooltip="Opprett en ny konfigurasjon baser på klone av denne konfigurasjonen"
              *ngIf="configObject.id"
              (click)="onClone()"
      ><mat-icon>file_copy</mat-icon></button>
    </mat-card-header>

    <mat-card-content fxLayout="row wrap" fxLayoutGap="24px">
      <div fxFlex fxLayout="column">
        <app-meta formControlName="meta"></app-meta>
        <mat-form-field *ngIf="!showSave">
          <input matInput
                 formControlName="id"
                 placeholder="Id"
                 readonly
                 i18n-placeholder="@@configIdPlaceholder">
        </mat-form-field>
      </div>
      <div fxFlex fxLayout="column">
        <mat-form-field>
          <input matInput formControlName="userAgent" placeholder="Brukeragent"
                 i18n-placeholder="@@browserconfigFormUserAgentPlaceholder">
          <mat-error *ngIf="!userAgent.valid"
                     i18n="@@browserconfigFormUserAgentRequiredError">
            Må ha en lengde på minst ett tegn.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput formControlName="windowWidth" placeholder="Vindusbredde"
                 i18n-placeholder="@@browserconfigFormWindowWidthPlaceholder">
          <mat-error *ngIf="!windowWidth.valid"
                     i18n="@@browserconfigFormWindowWidthRequiredError">
            Må være et tall.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput formControlName="windowHeight" placeholder="Vindushøyde"
                 i18n-placeholder="@@browserconfigFormWindowHeightPlaceholder">
          <mat-error *ngIf="!windowHeight.valid"
                     i18n="@@browserconfigFormWindowHeightRequiredError">
            Må være et tall.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput formControlName="pageLoadTimeoutMs" placeholder="Page load timeout in ms"
                 i18n-placeholder="@@browserconfigFormPageLoadTimeoutPlaceholder">
          <mat-error *ngIf="!pageLoadTimeoutMs.valid"
                     i18n="@@browserconfigFormPageLoadTimeoutRequiredError">
            Må være et tall.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput formControlName="maxInactivityTimeMs" placeholder="Max inactivity time ms"
                 i18n-placeholder="@@browserconfigFormSleepAfterPageLoadPlaceholder">
          <mat-error *ngIf="!maxInactivityTimeMs.valid"
                     i18n="@@browserconfigFormSleepAfterPageLoadRequiredError">
            Må være et tall.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="BrowserScripts" multiple formControlName="scriptRefIdList">
            <mat-option *ngFor="let browserScript of browserScripts"
                        [value]="browserScript.id">{{browserScript.meta.name}}</mat-option>
          </mat-select>
        </mat-form-field>

        <app-labels kind="Script Selector" formControlName="scriptSelectorList" [removable]="canEdit"></app-labels>

        <mat-list *ngIf="showShortcuts">
          <mat-list-item *ngFor="let id of scriptRefIdList.value">
            <mat-icon matTooltip="BrowserScript">web_asset</mat-icon>&nbsp;
            <a class="shortcut-link"
               [routerLink]="['/config/browserscript']"
               [queryParams]="{id: id}">{{ getScriptName(id) }}</a>
          </mat-list-item>
        </mat-list>
      </div>
    </mat-card-content>

    <mat-card-actions *ngIf="canEdit">
      <button mat-raised-button color="accent"
              [disabled]="!canSave"
              *ngIf="showSave"
              (click)="onSave()"
              i18n="@@commonButtonSave">
        LAGRE
      </button>
      <button mat-raised-button color="accent"
              *ngIf="!showSave"
              [disabled]="!canUpdate"
              (click)="onUpdate()"
              i18n="@@commonButtonSave">
        OPPDATER
      </button>
      <button mat-button
              (click)="onRevert()"
              [disabled]="!canRevert"
              i18n="@@commonButtonRevert">
        TILBAKESTILL
      </button>
      <span fxFlex></span>
      <button mat-button
              *ngIf="!showSave"
              (click)="onDelete()"
              i18n="@@commonButtonDelete">
        SLETT
      </button>
    </mat-card-actions>
  </mat-card>
</form>
