<h2 i18n="@@politenessconfigListHeader">Politenessconfigs</h2>

<mat-nav-list>
  <mat-list-item
    *ngFor="let politenessconfig of politenessConfigs" (click)="selectPolitenessConfig(politenessconfig)"
    [class.active]="politenessconfig === selectedPolitenessConfig">
    {{politenessconfig.meta.name}}

  </mat-list-item>
</mat-nav-list>

<button mat-raised-button color="primary"
        (click)="createNewPolitenessConfig()"
        i18n="@@commonButtonNew">Ny
</button>

<ng-container *ngIf="selectedPolitenessConfig">
  <app-politenessconfig-details
    [politenessConfig]="selectedPolitenessConfig"
    [createHandler]="addPolitenessConfig"
    [updateHandler]="updatePolitenessConfig"
    [deleteHandler]="deletePolitenessConfig">
  </app-politenessconfig-details>
</ng-container>

