<h2>Politenessconfigs</h2>

<md-nav-list>
  <md-list-item
    *ngFor="let politenessconfig of politenessconfigs" (click)="selectPolitenessconfig(politenessconfig)"
    [class.active]="politenessconfig === selectedPolitenessconfig">
    {{politenessconfig.meta.name}}

  </md-list-item>
</md-nav-list>

<button md-raised-button color="warn"
        (click)="createNewPolitenessconfig()">New
</button>

<ng-container *ngIf="selectedPolitenessconfig">
  <politenessconfig-details
    [politenessconfig]="selectedPolitenessconfig"
    [createHandler]="addPolitenessconfig"
    [updateHandler]="updatePolitenessconfig"
    [deleteHandler]="deletePolitenessconfig">
  </politenessconfig-details>
</ng-container>

