<div class="col-md-2">
  <h4>
    Quick Documentation
  </h4>
  <span>
    Create and edit Schedule configurations,
    wich are used by the crawljob-configuration.
  </span>
  <br>
  <br>
  <span>
  The server-side cron implementation uses the library cront4j. <a target="_blank"
                                                                   href="http://www.sauronsoftware.it/projects/cron4j/manual.php#p02">Cron4j Documentation</a>.
  </span>
  <br>
  <img src="../../../../assets/images/cron_expression.png">
  <br>
  <br>

  <span>
    Valid from/to is used when a special occasion occours. e.g election campaign.
  </span>
</div>
