.ttIcon {
  opacity: 30;
}

.ttIcon:hover {
  opacity: 70;
}

.metaNameInput > * {
  width: 40%;
}

.metaDescriptionInput > * {
  width: 80%;
}

.marginDropdown {
  margin-bottom: 1em;
}

div.extraMetadata mat-form-field {
  width: 45%;
}
