<h4>Legg til Seeds</h4>
<form [formGroup]="seedForm" fxLayout="column">
  <div>
    <label>Entitet:
      <angular2-multiselect [data]="entityList"
                            [(ngModel)]="selectedEntityItems"
                            [settings]="dropdownEntitySettings"
                            formControlName="entity_id">
      </angular2-multiselect>
      <small [hidden]="seedForm.controls.entity_id.valid">
        Entitet er påkrevd.
      </small>
    </label>
  </div>

  <md-form-field formGroupName="meta">
    <input mdInput type="url" formControlName="name" placeholder="Seed">
    <md-error *ngIf="! seedForm.controls.meta.valid">
      Seed er påkrevd.
    </md-error>
  </md-form-field>

  <div>
    <label>Høstejobb:
      <angular2-multiselect [data]="crawljobList"
                            [(ngModel)]="selectedCrawljobItems"
                            [settings]="dropdownCrawljobSettings"
                            formControlName="job_id">
      </angular2-multiselect>
      <small [hidden]="seedForm.controls.job_id.valid">
        Høstejobb er påkrevd.
      </small>
    </label>
  </div>

  <md-form-field formGroupName="meta">
    <input mdInput formControlName="description" placeholder="Description">
  </md-form-field>

  <md-card formArrayName="label">
    <md-card *ngFor="let label of label.controls; let i=index" [formGroupName]="i">
      <md-card-header>
        <md-card-title>Merkelapp #{{i + 1}}</md-card-title>
      </md-card-header>
      <md-card-content>
        <md-form-field>
          <input mdInput formControlName="key" placeholder="Type">
        </md-form-field>

        <md-form-field>
          <input mdInput formControlName="value" placeholder="Value">
          <md-error *ngIf="! seedForm.controls.label.valid">
            Merkelapp er påkrevd.
          </md-error>
        </md-form-field>

        <button md-icon-button (click)="removeLabel(i)">
          <md-icon>close</md-icon>
        </button>
      </md-card-content>
    </md-card>
    <button md-raised-button color="accent" (click)="addLabel()">Legg til merkelapp</button>
  </md-card>

  <div>
    <button md-raised-button
            color="primary"
            id="createSeed"
            [disabled]="!seedForm.valid"
            (click)="createSeed()">
      Lagre
    </button>
    <button md-raised-button color="accent" [disabled]="!seedForm.valid" (click)="createSeedNew()">Lagre og ny</button>
  </div>

</form>




