<mat-card *ngIf="warcError">
  <mat-card-title>
    <span i18n="@@warcStatusDetailsCardTitle">Error messages</span>
  </mat-card-title>
  <mat-card-subtitle i18n="@@warcStatusDetailsCardSubtitle">
    <span>Report from Jhove</span>
  </mat-card-subtitle>

  <mat-card-content>
    <div fxLayout="column" fxLayoutGap="15px">
      <mat-form-field>
        <input matInput
               placeholder="Filename"
               i18n-placeholder="@@warcStatusFormFilenamePlaceholder"
               [(ngModel)]="warcError.filename"
               disabled>
      </mat-form-field>

      <mat-form-field>
        <input matInput
               placeholder="Status"
               i18n-placeholder="@@warcStatusFormStatusPlaceholder"
               [(ngModel)]="warcError.status"
               disabled>
      </mat-form-field>

      <mat-form-field>
        <input matInput
               placeholder="Created"
               i18n-placeholder="@@warcStatusFormTimestampPlaceholder"
               [(ngModel)]="timestamp"
               disabled>
      </mat-form-field>

      <mat-toolbar>
        <span i18n="@@warcStatusMessagesToolbarText">Messages</span>
        <span class="fill-space"></span>
      </mat-toolbar>

      <ng-container *ngFor="let error of this.errors">
        <mat-accordion>
          <mat-expansion-panel fxFlex>

            <mat-expansion-panel-header>
              <mat-panel-title> {{error.type}} ({{error.total}})</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-table [dataSource]="error.subMessages">
              <ng-container matColumnDef="subMessage">
                <mat-header-cell i18n="@@warcStatusSubMessageErrorHeaderCell" *matHeaderCellDef>Error</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.message}}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="subMessageCount">
                <mat-header-cell i18n="@@warcStatusSubMessageCountHeaderCell"*matHeaderCellDef>Count</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.count}}</mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="errorSummaryColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: errorSummaryColumns;"></mat-row>
            </mat-table>
          </mat-expansion-panel>
        </mat-accordion>
      </ng-container>
      <mat-accordion>
        <mat-expansion-panel fxFlex>
          <mat-expansion-panel-header>
            <mat-panel-title i18n="@@warcStatusTotalErrorsPanelTitle">
              All errors ({{totalErrors(errors)}})
            </mat-panel-title>
            <mat-panel-description></mat-panel-description>
          </mat-expansion-panel-header>
          <mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="text">
              <mat-header-cell *matHeaderCellDef
                               class="validator-message-table__text-column"
                               i18n="@@warcStatusTotalErrosTextHeaderCell">Text
              </mat-header-cell>
              <mat-cell *matCellDef="let row"
                        class="validator-message-table__text-column">{{row.text}}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="severity">
              <mat-header-cell *matHeaderCellDef
                               class="validator-message-table__severity-column"
                               i18n="@@warcStatusTotalErrorsSeverityHeaderCell">Severity
              </mat-header-cell>
              <mat-cell *matCellDef="let row"
                        class="validator-message-table__severity-column">{{row.severity}}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="subMessage">
              <mat-header-cell i18n="@@warcStatusTotalErrorsSubMessageHeaderCell" *matHeaderCellDef>
                Info
              </mat-header-cell>
              <mat-cell *matCellDef="let row">{{row.subMessage}}</mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns">
            </mat-row>
          </mat-table>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-toolbar>
        <span i18n="@@@@warcStatusNonCompliantWarcIdToolbarText">Non-compliant WARC ID</span>
        <span class="fill-space"></span>
      </mat-toolbar>
      <ul>
        <li *ngFor="let id of warcError.nonCompliantWarcId">
          {{id}}
        </li>
      </ul>
    </div>
  </mat-card-content>
</mat-card>
