.content-padding {
  padding: 1em 1.5em 2em 1.3em;
}

.container {
  height: 100%;
}

.sidenav--icon__margin {
  margin-right: 0.5em;
}

.title {
  text-decoration: none;
  color: inherit;
}

.header--button__margin {
  margin-right: 1rem;
}
