<div class="container mat-typography" fxLayout="column" *ngIf="!error; else initFailed">
  <mat-toolbar class="main-toolbar" color="primary">
    <button mat-icon-button
            [mat-menu-trigger-for]="menu"
            *ngIf="isLoggedIn"
            class="header--button__margin">
      <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <a mat-menu-item
         *ngIf="canConfigure"
         [routerLink]="['/config']">
        <mat-icon>settings</mat-icon>
        <span i18n="@@mainMenuConfiguration">Configuration</span>
      </a>

      <a mat-menu-item
         *ngIf="canConfigure"
         [routerLink]="['/report']">
        <mat-icon>report</mat-icon>
        <span i18n="@@mainMenuReport">Report</span>
      </a>

      <a mat-menu-item
         *ngIf="canAdministrate"
         [routerLink]="['/validator']">
        <mat-icon>storage</mat-icon>
        <span i18n="@@mainMenuWarc">WARC</span>
      </a>

      <a mat-menu-item
         [routerLink]="['/config/logconfig']">
        <mat-icon>notes</mat-icon>
        <span i18n="@@mainMenuLogConfiguration">Log level</span>
      </a>
    </mat-menu>

    <a routerLink="/" class="title"><h1>Veidemann {{ version }}</h1></a>

    <span fxFlex></span>

    <app-time></app-time>

    <span fxFlex></span>

    <app-crawlerstatus [runStatus]="runStatus$ | async" (change)="onChangeRunStatus($event)"></app-crawlerstatus>

    <a mat-button
       mat-icon-button
       matTooltip="Help"
       i18n-matTooltip="@@mainToolbarHelpButtonTooltip"
       target="_blank"
       [routerLink]="['/docs']"
       [routerLinkActiveOptions]="{exact: true}"
       [routerLinkActive]="['is-active']">
      <mat-icon>help</mat-icon>
    </a>

    <button color="primary"
            mat-button
            mat-flat-button
            (click)="onLogin()"
            *ngIf="!isLoggedIn">
      <mat-icon>account_box</mat-icon>&nbsp;
      <span i18n="@@mainToolbarLoginButton">LOGIN</span>
    </button>

    <button color="primary"
            mat-button
            mat-flat-button
            matTooltip="{{name}}"
            (click)="onLogout()"
            *ngIf="isLoggedIn">
      <mat-icon>account_box</mat-icon>&nbsp;
      <span i18n="@@mainToolbarLogoutButton">LOGOUT</span>
    </button>
  </mat-toolbar>

  <div *ngIf="isModuleLoading$ | async" class="module-loader">
    <h2 i18n="@@appModuleLoadingText">Loading module...</h2>
    <mat-spinner [strokeWidth]="2"></mat-spinner>
  </div>

  <app-dialog></app-dialog>
  <main fxFlex>
    <router-outlet></router-outlet>
  </main>
</div>

<ng-template #initFailed>
  <div class="mat-typography" fxFlexFill fxLayout="column" fxLayoutAlign="center center" *ngIf="error">
    <h1 i18n="@@appModuleInitFailedMessage">Initialization failed</h1>
    <p>{{ error.message }}</p>
  </div>
</ng-template>
