<div class="container mat-typography" fxLayout="column" *ngIf="!error; else initFailed">
  <mat-toolbar class="main-toolbar" color="primary">
    <a routerLink="/"><img border="0" class="veidemann_logo" src="assets/logo/veidemann_horizontal_white.png"></a>

    <span fxFlex></span>

    <app-time></app-time>

    <span fxFlex></span>

    <a mat-button mat-icon-button [matMenuTriggerFor]="helpMenu"><mat-icon>help</mat-icon></a>
    <mat-menu #helpMenu="matMenu">
      <a mat-menu-item
         target="_blank"
         [routerLink]="['/docs']"
         [routerLinkActive]="['is-active']"
         [routerLinkActiveOptions]="{exact:true}">Docs</a>
      <a mat-menu-item (click)="onAbout()">About</a>
    </mat-menu>

    <button color="primary"
            mat-button
            mat-flat-button
            (click)="onLogin()"
            *ngIf="!isLoggedIn">
      <mat-icon>account_box</mat-icon>&nbsp;
      <span i18n="@@mainToolbarLoginButton">LOGIN</span>
    </button>

    <button color="primary"
            mat-button
            mat-flat-button
            matTooltip="{{name}}"
            (click)="onLogout()"
            *ngIf="isLoggedIn">
      <mat-icon>account_box</mat-icon>&nbsp;
      <span i18n="@@mainToolbarLogoutButton">LOGOUT</span>
    </button>
  </mat-toolbar>

  <nav mat-tab-nav-bar>
    <a mat-tab-link
       *ngIf="'read' | able: 'configs'"
       [routerLink]="['/config']"
       routerLinkActive
       #config="routerLinkActive"
       [active]="config.isActive">
      <span i18n="@@mainMenuConfiguration">CONFIGURATION</span>
    </a>

    <a mat-tab-link
       *ngIf="'read' | able: 'report'"
       [routerLink]="['/report']"
       routerLinkActive
       #report="routerLinkActive"
       [active]="report.isActive">
      <span i18n="@@mainMenuReport">REPORT</span>
    </a>

    <a mat-tab-link
       *ngIf="'read' | able: 'logconfig'"
       [routerLink]="['/logconfig']"
       routerLinkActive
       #log="routerLinkActive"
       [active]="log.isActive">
      <span i18n="@@mainMenuLogConfiguration">LOG LEVEL</span>
    </a>
  </nav>

  <div *ngIf="isModuleLoading$ | async" class="module-loader">
    <h2 i18n="@@appModuleLoadingText">Loading module...</h2>
    <mat-spinner [strokeWidth]="2"></mat-spinner>
  </div>

  <app-dialog></app-dialog>
  <main fxFlex>
    <router-outlet></router-outlet>
  </main>
</div>

<ng-template #initFailed>
  <div class="mat-typography" fxFlexFill fxLayout="column" fxLayoutAlign="center center" *ngIf="error">
    <h1 i18n="@@appModuleInitFailedMessage">Initialization failed</h1>
    <p>{{ error.message }}</p>
  </div>
</ng-template>
