<form [formGroup]="form">
  <mat-card>
    <mat-card-header>
      <mat-icon mat-card-avatar>link</mat-icon>
      <mat-card-title>
        <span i18n="@@seedDetailsCardTitle">Seed</span>
      </mat-card-title>
      <mat-card-subtitle *ngIf="!configObject.id">
        <span i18n="@@commonConfigDetailsCardSubtitle">New (unsaved)</span>
      </mat-card-subtitle>
      <span fxFlex></span>
      <div (click)="disabled.disabled ? disabled.enable(): null">
        <mat-slide-toggle class="disabled-toggle"
                          color="warn"
                          formControlName="disabled"
                          i18n="@@seedDisabledToggleSwitch"
                          i18n-matTooltip="@@seedDisabledToggleSwitchTooltip"
                          [matTooltip]="disabled.disabled ?
                            'Disabled state for all of the selected configs are not equal.'
                             +'Click here and set desired state to override all, '
                             + 'or leave untouched to keep the configurations original value.'
                            : null">
          Deactivated
        </mat-slide-toggle>
      </div>
    </mat-card-header>
    <mat-card-content fxLayout="column">
      <div fxLayout="row wrap" fxLayoutGap="24px">
        <div fxFlex fxLayout="column">
          <app-seed-meta formControlName="meta"
                         [entityRef]="entityRef.value"
                         (move)="move.emit($event)"></app-seed-meta>
          <mat-form-field *ngIf="configObject.id">
            <input matInput
                   formControlName="id"
                   placeholder="Id"
                   readonly
                   i18n-placeholder="@@metaIdPlaceholder">
          </mat-form-field>

          <mat-form-field formGroupName="entityRef">
            <input matInput formControlName="id"
                   placeholder="Entity Id"
                   [readonly]="entityIdReadonly"
                   i18n-placeholder="@@metaEntityIdInputPlaceholder">
            <button mat-icon-button matSuffix
                    matTooltip="Move seed to another entity"
                    i18n-matTooltip="seedDetailsEditEntityIdButtonTooltip"
                    (click)="onEditEntityId()">
              <mat-icon>swap_horiz</mat-icon>
            </button>
            <mat-error>
              Reference to entity is required
            </mat-error>
          </mat-form-field>
        </div>

        <div fxFlex fxLayout="column">
          <mat-form-field>
            <mat-select placeholder="CrawlJob" i18n-placeholder="@@seedDetailsFormCrawljobPlaceholder"
                        multiple formControlName="jobRefListId">
              <mat-option *ngFor="let crawlJob of crawlJobs"
                          [value]="crawlJob.id">{{crawlJob.meta.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <div fxLayout="row" *ngIf="this.configObject.seed.jobRefList">
          <mat-tab-group>
            <ng-container *ngFor=" let job of configObject.seed.jobRefList">
            <ng-container *ngIf="job.id | getScriptAnnotations: configObject.id | async as scriptAnnotation">
            <mat-tab *ngIf="scriptAnnotation.length > 0" label="{{job.id | getJobNamePipe | async}}">
              <div fxLayout="column" style="margin-top: 16px; overflow: hidden">
                <app-script-annotation
                                       [annotations]=" scriptAnnotation">
                </app-script-annotation>
              </div>
            </mat-tab>
            </ng-container>
            </ng-container>
          </mat-tab-group>
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions *ngIf="canEdit">
      <button mat-raised-button
              [color]="form.valid ? 'accent' : 'warn'"
              *ngIf="showSave"
              [disabled]="!canSave"
              (click)="onSave()"
              [matTooltip]="!form.valid ? 'Form not valid!.' : ''"
              i18n="@@commonButtonSave">SAVE
      </button>
      <button mat-raised-button color="accent"
              *ngIf="!showSave"
              [disabled]="!canUpdate"
              (click)="onUpdate()"
              i18n="@@commonButtonSave">UPDATE
      </button>
      <button mat-button
              [disabled]="!canRevert"
              (click)="onRevert()"
              i18n="@@commonButtonRevert">REVERT
      </button>
      <button mat-button
              *ngIf="!showSave && canDelete"
              (click)="onDelete()"
              i18n="@@commonButtonDelete">DELETE
      </button>
    </mat-card-actions>
  </mat-card>
</form>
