table {
  width: 100%;
}

.list-row:hover {
  background: rgba(0, 1, 0, 0.5);
}

.list {
  margin-bottom: 1em;
}

.mat-table {
  overflow-y: auto;
}


.highlight {
  background-color: #eee;
}

.highlightSelected {
  background-color: #ddd;
}
