<h1 mat-dialog-title>Slett konfigurasjoner</h1>
  <div mat-dialog-content [formGroup]="form">

    <span>Er du sikker på at du vil slette alle {{numberOfConfigs}} konfigurasjoner?</span>

    <mat-divider style="padding-top: 5px; padding-bottom: 10px;"></mat-divider>
    <span>For å bekrefte skriv inn hvor mange konfigurasjoner som blir slettet:</span>
    <br>
    <mat-form-field style="padding-top: 10px">
      <input matInput
             formControlName="delete_confirmation"
             placeholder="Antall konfigurasjoner">
    </mat-form-field>
  </div>

  <div mat-dialog-actions>
    <button mat-raised-button
            mat-dialog-close
            color="accent">Avbryt
    </button>
    <button mat-raised-button
            color="warn"
            (click)="onDelete()"> Slett
    </button>
  </div>
