<style>
  .mat-form-field {
    width: 100%;
  }
</style>
<h1 mat-dialog-title>Bekreft sletting</h1>
<div mat-dialog-content [formGroup]="form">
  <p>Er du sikker på at du vil slette {{numberOfConfigs}} konfigurasjoner?</p>

  <mat-form-field>
    <input matInput
           formControlName="count"
           placeholder="Antall konfigurasjoner">
    <mat-hint>Bekreft antall som skal slettes</mat-hint>
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-button
          mat-dialog-close>AVBRYT
  </button>
  <span fxFlex></span>
  <button mat-raised-button
          color="warn"
          (click)="onDelete()">SLETT
  </button>
</div>
