<form [formGroup]="form">
  <md-card *ngIf="entity">
    <md-card-header>
      <md-card-title>
        <span>ENTITET</span>
      </md-card-title>
      <md-card-subtitle>
        <span *ngIf="!entity.id">Ny (ikke lagret)</span>
      </md-card-subtitle>
    </md-card-header>
    <md-card-content fxLayout="row" fxLayoutWrap>
      <div fxFlex fxLayout="column">
        <ng-container formGroupName="meta">
          <md-form-field>
            <input mdInput formControlName="name" placeholder="Navn">
            <md-error *ngIf="!form.get('meta.name').valid">
              Navn er påkrevd.
            </md-error>
          </md-form-field>

          <md-form-field>
            <input mdInput formControlName="description" placeholder="Beskrivelse">
            <md-icon class="ttInfo" mdSuffix mdTooltipShowDelay="500" mdTooltip={{entityDetailsText.addDescriptionTooltip}}>info</md-icon>
          </md-form-field>
        </ng-container>

        <md-form-field>
          <input mdInput
                 formControlName="id"
                 placeholder="Id">
        </md-form-field>

        <ng-container formGroupName="meta">
          <md-form-field formGroupName="created">
            <input mdInput
                   formControlName="seconds"
                   placeholder="Created">
          </md-form-field>

          <md-form-field>
            <input mdInput
                   formControlName="created_by"
                   placeholder="Created by">
          </md-form-field>


          <md-form-field formGroupName="last_modified">
            <input mdInput
                   formControlName="seconds"
                   placeholder="Last modified">
          </md-form-field>


          <md-form-field>
            <input mdInput
                   formControlName="last_modified_by"
                   placeholder="Last modified by">
          </md-form-field>
        </ng-container>
      </div>
      <div fxFlex fxLayout="column">
        <!-- Labels -->
        <ng-container formGroupName="meta">
          <app-labels type="Label" formControlName="label"></app-labels>
        </ng-container>
        <!-- Seedlist -->
        <md-toolbar>
          <span>Seed</span>
          <span class="fill-space"></span>
          <button md-mini-fab (click)="onCreateSeed()">
            <md-icon>add</md-icon>
          </button>
        </md-toolbar>
        <app-base-list (onRowClick)="onSelectSeed($event)" [items]="seeds | async"></app-base-list>
      </div>
    </md-card-content>

    <md-card-actions>
      <button md-raised-button color="primary"
              *ngIf="!entity.id" [disabled]="!form.valid"
              (click)="onSave()">
        Lagre
      </button>
      <button md-raised-button color="primary"
              *ngIf="entity.id" [disabled]="!form.dirty || !form.valid"
              (click)="onUpdate()">Lagre
      </button>
      <button md-raised-button color="accent"
              (click)="onRevert()"
              [disabled]="!form.dirty">Tilbakestill
      </button>
      <button md-raised-button color="warn"
              (click)="onDelete()">Slett
      </button>
    </md-card-actions>
  </md-card>
</form>


