<button class="action-button"
        color="primary"
        mat-fab
        *ngIf="kind !== Kind.SEED"
        (click)="onCreateConfig()">
  <mat-icon>add</mat-icon>
</button>

<mat-progress-bar mode="indeterminate" *ngIf="loading$ | async"></mat-progress-bar>

<div [ngSwitch]="kind">
  <app-rolemapping-list *ngSwitchCase="Kind.ROLEMAPPING"
                        #baseList
                        (rowClick)="onSelectConfig($event)"
                        (selectedChange)="onSelectedChange($event)"
                        (selectAll)="onSelectAll()">
  </app-rolemapping-list>

  <app-collection-list *ngSwitchCase="Kind.COLLECTION"
                       #baseList
                       (rowClick)="onSelectConfig($event)">
  </app-collection-list>

  <app-base-list *ngSwitchDefault
                 #baseList
                 (action)="onAction($event)"
                 (rowClick)="onSelectConfig($event)"
                 (selectedChange)="onSelectedChange($event)"
                 (selectAll)="onSelectAll()">
  </app-base-list>
</div>

<ng-container [ngSwitch]="kind" *ngIf="singleMode && configObject$ | async as configObject">
  <app-collection-details *ngSwitchCase="Kind.COLLECTION"
                          [configObject]="configObject"
                          [rotationPolicies]="options.rotationPolicies"
                          [subCollectionTypes]="options.subCollectionTypes"
                          (update)="onUpdateConfig($event)"
                          (save)="onSaveConfig($event)"
                          (delete)="onDeleteConfig($event)">
  </app-collection-details>

  <app-crawljob-details *ngSwitchCase="Kind.CRAWLJOB"
                        [configObject]="configObject"
                        [crawlConfigs]="options.crawlConfigs"
                        [crawlScheduleConfigs]="options.crawlScheduleConfigs"
                        (update)="onUpdateConfig($event)"
                        (save)="onSaveConfig($event)"
                        (delete)="onDeleteConfig($event)">
  </app-crawljob-details>

  <app-crawlconfig-details *ngSwitchCase="Kind.CRAWLCONFIG"
                           [configObject]="configObject"
                           [browserConfigs]="options.browserConfigs"
                           [collections]="options.collections"
                           [politenessConfigs]="options.politenessConfigs"
                           (update)="onUpdateConfig($event)"
                           (save)="onSaveConfig($event)"
                           (delete)="onDeleteConfig($event)">
  </app-crawlconfig-details>

  <app-schedule-details *ngSwitchCase="Kind.CRAWLSCHEDULECONFIG"
                        [configObject]="configObject"
                        (update)="onUpdateConfig($event)"
                        (save)="onSaveConfig($event)"
                        (delete)="onDeleteConfig($event)">
  </app-schedule-details>

  <app-browserconfig-details *ngSwitchCase="Kind.BROWSERCONFIG"
                             [configObject]="configObject"
                             [browserScripts]="options.browserScripts"
                             (update)="onUpdateConfig($event)"
                             (save)="onSaveConfig($event)"
                             (delete)="onDeleteConfig($event)">
  </app-browserconfig-details>

  <app-politenessconfig-details *ngSwitchCase="Kind.POLITENESSCONFIG"
                                [configObject]="configObject"
                                [robotsPolicies]="options.robotsPolicies"
                                (update)="onUpdateConfig($event)"
                                (save)="onSaveConfig($event)"
                                (delete)="onDeleteConfig($event)">
  </app-politenessconfig-details>

  <app-browserscript-details *ngSwitchCase="Kind.BROWSERSCRIPT"
                             [configObject]="configObject"
                             (update)="onUpdateConfig($event)"
                             (save)="onSaveConfig($event)"
                             (delete)="onDeleteConfig($event)">
  </app-browserscript-details>

  <app-crawlhostgroupconfig-details *ngSwitchCase="Kind.CRAWLHOSTGROUPCONFIG"
                                    [configObject]="configObject"
                                    (update)="onUpdateConfig($event)"
                                    (save)="onSaveConfig($event)"
                                    (delete)="onDeleteConfig($event)">
  </app-crawlhostgroupconfig-details>

  <app-seed-details *ngSwitchCase="Kind.SEED"
                    [configObject]="configObject"
                    [crawlJobs]="options.crawlJobs"
                    (update)="onUpdateConfig($event)"
                    (save)="onSaveConfig($event)"
                    (delete)="onDeleteConfig($event)">
  </app-seed-details>

  <app-entity-details *ngSwitchCase="Kind.CRAWLENTITY"
                      [configObject]="configObject"
                      (update)="onUpdateConfig($event)"
                      (save)="onSaveConfig($event)"
                      (delete)="onDeleteConfig($event)">
  </app-entity-details>

  <app-rolemapping-details *ngSwitchCase="Kind.ROLEMAPPING"
                           [configObject]="configObject"
                           [roles]="options.roles"
                           (update)="onUpdateConfig($event)"
                           (save)="onSaveConfig($event)"
                           (delete)="onDeleteConfig($event)">
  </app-rolemapping-details>
</ng-container>

<ng-template appDetailHost></ng-template>
