<mat-expansion-panel *ngIf="jobExecutionStatus">
  <mat-expansion-panel-header>
    <mat-panel-title>{{JobExecutionState[jobExecutionStatus.state]}}</mat-panel-title>
    <mat-panel-description i18n="@@crawlJobExecutionStatusPanelDescription">State</mat-panel-description>
  </mat-expansion-panel-header>

  <div fxLayout="column">
    <table class="mat-table">
      <thead>
      <tr class="mat-header-row">
        <th class="mat-header-cell" i18n="@@crawlJobExecutionStatusStartHeaderCell">Start</th>
        <th class="mat-header-cell" i18n="@@crawlJobExecutionStatusEndHeaderCell">End</th>
      </tr>
      </thead>
      <tbody>
      <tr class="mat-row">
        <td class="mat-cell">{{jobExecutionStatus.startTime | date : 'long'}}</td>
        <td class="mat-cell">{{jobExecutionStatus.endTime | date : 'long'}}</td>
      </tr>
      </tbody>
    </table>

    <div class="grid">
      <table class="mat-table">
        <thead>
        <tr class="mat-header-row">
          <th class="mat-header-cell"
              i18n="@@crawlJobExecutionStatusStatisticsHeaderCell">Statistics
          </th>
          <th class="mat-header-cell"></th>
        </tr>
        </thead>
        <tbody>
        <tr class="mat-row">
          <td class="mat-cell"
              i18n="@@crawlJobExecutionStatusStatisticsUrisCrawledHeaderCell">URIs crawled
          </td>
          <td class="mat-cell">{{jobExecutionStatus.urisCrawled}}</td>
        </tr>
        <tr class="mat-row">
          <td class="mat-cell"
              i18n="@@crawlJobExecutionStatusStatisticsDocumentsCrawledHeaderCell">Documents crawled
          </td>
          <td class="mat-cell">{{jobExecutionStatus.documentsCrawled}}</td>
        </tr>
        <tr class="mat-row">
          <td class="mat-cell"
              i18n="@@crawlJobExecutionStatusStatisticsDocumentsDeniedHeaderCell">Documents denied
          </td>
          <td class="mat-cell">{{jobExecutionStatus.documentsDenied}}</td>
        </tr>
        <tr class="mat-row">
          <td class="mat-cell"
              i18n="@@crawlJobExecutionStatusStatisticsDocumentsFailedHeaderCell">Documents failed
          </td>
          <td class="mat-cell">{{jobExecutionStatus.documentsFailed}}</td>
        </tr>
        <tr class="mat-row">
          <td class="mat-cell"
              i18n="@@crawlJobExecutionStatusStatisticsOutOfScopeHeaderCell">Documents out of scope
          </td>
          <td class="mat-cell">{{jobExecutionStatus.documentsOutOfScope}}</td>
        </tr>
        <tr class="mat-row">
          <td class="mat-cell"
              i18n="@@crawlJobExecutionStatusStatisticsDocumentsRetriedHeaderCell">Documents retried
          </td>
          <td class="mat-cell">{{jobExecutionStatus.documentsRetried}}</td>
        </tr>
        </tbody>
      </table>

      <table mat-table [dataSource]="getExecMap(jobExecutionStatus.executionsStateMap)">
        <ng-container matColumnDef="state">
          <th i18n="@@crawlJobExecutionStatusStatisticsExecutionStateMapStateHeaderCell"
              mat-header-cell *matHeaderCellDef>State
          </th>
          <td mat-cell *matCellDef="let execution">{{execution.key}}</td>
        </ng-container>

        <ng-container matColumnDef="count">
          <th i18n="@@crawlJobExecutionStatusStatisticsExecutionStateMapCountHeaderCell"
              mat-header-cell *matHeaderCellDef>Count
          </th>
          <td mat-cell *matCellDef="let execution">{{execution.value}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</mat-expansion-panel>
