<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>Aktivitetslogg</mat-panel-title>
  </mat-expansion-panel-header>
  <mat-list *ngFor="let activity of activityList">
    <ng-container *ngFor="let desc of activity.description">
      <mat-list-item>
        <mat-icon mat-list-icon [ngSwitch]="desc.type">
          <ng-container *ngSwitchCase="'CREATED'">note_add</ng-container>
          <ng-container *ngSwitchCase="'VALUE_CHANGED'">edit</ng-container>
          <ng-container *ngSwitchCase="'ARRAY_ADD'">add</ng-container>
          <ng-container *ngSwitchCase="'ARRAY_DEL'">remove</ng-container>
        </mat-icon>
        <p mat-line>
          <span>{{activity.modifiedBy}}</span><span fxFlex></span><span>{{activity.modifiedTime | date : 'medium' }}</span>
        </p>
        <p mat-line>
          <strong>{{desc.field}}</strong>&nbsp;
          <del *ngIf="desc.oldVal">{{desc.oldVal}}</del>
          <span *ngIf="desc.oldVal">&nbsp;&rarr;&nbsp;</span>
          {{desc.newVal}}
        </p>
        <p mat-line *ngIf="activity.comment">{{activity.comment}}</p>
      </mat-list-item>
      <mat-divider></mat-divider>
    </ng-container>
  </mat-list>
</mat-expansion-panel>
