<div fxFlex>
  <mat-form-field appearance="standard" class="search-form">
    <input matInput
           #searchInput
           class="search-form-input"
           (keyup.enter)="onSearch(searchInput.value)"
           placeholder="Søk"
           autofocus
           i18n-placeholder="@@searchSearchFieldPlaceholder">
  </mat-form-field>
  <app-base-list (rowClick)="onSelectConfig($event)"></app-base-list>

  <ng-container *ngIf="configObject$ | async as configObject; else newentity">
    <div fxLayout="row" fxLayout.sm="column" fxLayoutGap="16px">
      <div #entityDetails fxFlex>
        <app-entity-details
          [configObject]="configObject"
          (save)="onSaveEntity($event)"></app-entity-details>
      </div>

      <div #seedDetails fxFlex>
        <app-seed-details *ngIf="seedObject"
                          [configObject]="seedObject"
                          [crawlJobs]="crawlJobs"
                          (save)="onSaveSeed($event)">
        </app-seed-details>
      </div>
    </div>
  </ng-container>
  <ng-template #newentity>
    <button mat-stroked-button
            (click)="onCreateEntity()"
            class="add-button">
      <mat-icon>add_circle</mat-icon>
      <span>OPPRETT NY ENTITET</span>
    </button>
  </ng-template>
</div>
