<ng-container *ngIf="ability$ | async as ability">
  <!-- <div class="container content-padding" *ngIf="'read' | able: 'home'"> -->
<div class="container content-padding" *ngIf="ability.can('read', 'home')">
  <div fxLayout="row wrap" fxLayoutGap="16px">
    <div fxLayout="column" fxLayoutGap="16px">
<!--      <app-crawlerstatus *ngIf="'read' | able: 'crawlerStatus'"-->
      <app-crawlerstatus *ngIf="ability.can('read', 'crawlerStatus')"
                         [crawlerStatus]="crawlerStatus$ | async"
                         (changeRunStatus)="onChangeRunStatus($event)"></app-crawlerstatus>
    </div>
  </div>
</div>
</ng-container>
