@use '@angular/material' as mat;

$veidemann-dashboard-primary: mat.m2-define-palette(mat.$m2-blue-gray-palette);
$veidemann-dashboard-accent: mat.m2-define-palette(mat.$m2-orange-palette);
$veidemann-dashboard-warn: mat.m2-define-palette(mat.$m2-red-palette);

$veidemann-dashboard-typography: mat.m2-define-typography-config(
  $font-family: 'Lato',
);

$light-theme: mat.m2-define-light-theme((
  color: (
    primary: $veidemann-dashboard-primary,
    accent: $veidemann-dashboard-accent,
    warn: $veidemann-dashboard-warn
  ),
  typography: $veidemann-dashboard-typography,
  density: 0,
));
