@import './theme';

html, body, app-root, mat-sidenav-container {
  margin: 0;
  width: 100%;
  height: 100%;
}

html, body {
  margin: 0;
  padding: 0;
}

// increase font size for tooltip
.mat-tooltip {
  font-size: 0.8rem !important;
}

.list-container__margin {
  margin-bottom: 16px;
}

// floating action button
.action-button.mat-fab{
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 100;
}

.action-button-secondary.mat-fab {
  position: fixed;
  bottom: 5.5rem;
  right: 1rem;
  z-index: 100;
}

.content-padding {
  padding: 16px;
  // padding: 0.5rem 1rem 1.5rem 0.8rem;
}

.container {
  height: 100%;
}

.scroll {
  overflow-y: auto;
}

.no-scroll {
  overflow: hidden;
}

.monospace {
  font-family: monospace;
}
.tooltip-overflow {
  word-wrap: break-word;
  white-space: unset;
  overflow: hidden;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
