html, body, app-root, mat-sidenav-container {
  margin: 0;
  width: 100%;
  height: 100%;
}

html, body {
  margin: 0;
  padding: 0;
}

.fill-space {
  flex: 1 1 auto;
}

.ttInfo {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.ttInfo:hover {
  opacity: 0.7;
  filter: alpha(opacity=50);
  color: #0066ff !important;
}
