html, body, app-root, mat-sidenav-container {
  margin: 0;
  width: 100%;
  height: 100%;
}

html, body {
  margin: 0;
  padding: 0;
}

.fill-space {
  flex: 1 1 auto;
}


.extra-metadata__input.mat-form-field {
  width: 35%;
}

.extra-metadata__input--wide.mat-form-field {
width: 55%;
}

.extra-metadata__input--narrow.mat-form-field{
  width: 20%;
}

.extra-metadata__input--narrow-wide.mat-form-field {
  width:30%;
}

