@import '../../node_modules/@angular/material/theming';

@include mat-core();

$my-app-primary: mat-palette($mat-orange);
$my-app-accent: mat-palette($mat-pink, 500, 900, A100);
$my-app-warn: mat-palette($mat-red);

$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

@include angular-material-theme($my-app-theme);
