@import '~@angular/material/theming';

$my-app-typography: mat-typography-config(
  $font-family: 'Lato, Helvetica, Arial, sans-serif'
);

@include mat-core($my-app-typography);

$my-app-primary: mat-palette($mat-blue-gray);
$my-app-accent: mat-palette($mat-orange);
$my-app-warn: mat-palette($mat-red);

$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

@include angular-material-theme($my-app-theme);


/* DARK THEME */
$ad-app-primary: mat-palette($mat-blue-gray,800);
$angular-dark-theme: mat-dark-theme($ad-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($angular-dark-theme);

$primary: mat-color($my-app-primary);
$accent: mat-color($my-app-accent);
$warn: mat-color($my-app-warn);
$highlight: mat-color(map-get($my-app-theme, background), 'hover');
