<div fxLayout="column">
  <form>
    <mat-form-field>
      <mat-chip-list [disabled]="disabled" #chipList fxLayout="row wrap" fxLayoutGap="8px" cdkDropList
                     (cdkDropListDropped)="onDrop($event)">
        <ng-container *ngFor="let group of groups$ | async">
          <mat-chip *ngFor="let value of group.values"
                    [selectable]="canUpdate"
                    [removable]="removable"
                    (removed)="onRemoveLabel(group.key, value)"
                    (click)="onClickLabel(group.key, value)"
                    cdkDrag
                    [cdkDragData]="group.key + ':' + value">
            {{group.key + ':' + value}}
            <mat-icon matChipRemove *ngIf="removable && !disabled">cancel</mat-icon>
          </mat-chip>
        </ng-container>
        <input #chipInput
               matInput
               [formControl]="control"
               [placeholder]="kind"
               [matChipInputFor]="chipList"
               [matChipInputSeparatorKeyCodes]="labelInputSeparators"
               (matChipInputTokenEnd)="onSave($event);"
               [matAutocomplete]="auto"/>
      </mat-chip-list>
    </mat-form-field>

    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onAutocompleteOptionSelected($event)">
      <mat-option *ngFor="let key of filteredKey$ | async" [value]="key">{{key}}</mat-option>
    </mat-autocomplete>
  </form>

  <form [formGroup]="labelForm" *ngIf="canUpdate && labelForm.enabled">
    <mat-card class="label-form">
      <mat-card-header>
        <mat-icon mat-card-avatar>label</mat-icon>
        <mat-card-title>Rediger merkelapp</mat-card-title>
      </mat-card-header>
      <mat-card-content class="newLabelCard" fxLayout="row" fxLayoutGap="16px">
        <mat-form-field fxFlex>
          <input #newKey matInput placeholder="Type" formControlName="key"
                 i18n-placeholder="@@labelFormAddNewTypePlaceholder">
          <mat-error *ngIf="!key.valid"
                     i18n="@@labelKeyError">
            Kan ikke være tom eller inneholde kolon.
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex>
          <input #newValue matInput placeholder="Verdi" formControlName="value"
                 i18n-placeholder="@@labelFormAddNewValuePlaceholder">
          <mat-error *ngIf="!value.valid"
                     i18n="@@labelValueError">
            Kan ikke være tom.
          </mat-error>
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button color="accent"
                *ngIf="showUpdate"
                [disabled]="!(labelForm.valid && labelForm.dirty)"
                (click)="onUpdateLabel(newKey.value, newValue.value)">OK
        </button>
        <button i18n="@@commonButtonCancel" mat-button
                (click)="onAbort()">AVBRYT
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>


