<form [formGroup]="form">
  <mat-card>
    <mat-card-header>
      <mat-icon mat-card-avatar>web_asset</mat-icon>
      <mat-card-title>
        <span i18n="@@@@browserscriptDetailsCardTitle">BrowserScript</span>
      </mat-card-title>
      <mat-card-subtitle i18n="@@commonMassUpdateCardSubtitle">Mass update</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div fxLayout="row" fxLayoutGap="16px">
        <app-labels fxFlex [removable]="form.enabled"
                    formControlName="labelList"></app-labels>
        <div>
          <mat-button-toggle-group
            name="shouldAddLabel"
            [value]="shouldAddLabel"
            (valueChange)="onToggleShouldAddLabels($event)">
            <mat-button-toggle [value]="true">
              <mat-icon>add</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle [value]="false">
              <mat-icon>remove</mat-icon>
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </div>
    </mat-card-content>

    <mat-card-actions *ngIf="editable">
      <button mat-raised-button color="accent"
              [disabled]="!canUpdate"
              (click)="onUpdate()"
              i18n="@@commonButtonSave">
        UPDATE
      </button>
      <button mat-button
              (click)="onRevert()"
              [disabled]="!canRevert"
              i18n="@@commonButtonRevert">
        REVERT
      </button>
    </mat-card-actions>
  </mat-card>
</form>
