<mat-card>
  <mat-card-header>
    <mat-icon mat-card-avatar>sentiment_neutral</mat-icon>
    <mat-card-title>
      <span i18n="@@politenessconfigDetailsCardTitle">Politenessconfig</span>
    </mat-card-title>
    <mat-card-subtitle>
        <span *ngIf="!configObject?.id"
              i18n="@@commonConfigDetailsCardSubtitle">New (unsaved)</span>
    </mat-card-subtitle>
  </mat-card-header>

  <form [formGroup]="form">
    <mat-card-content fxLayout="row wrap" fxLayoutGap="24px">
      <div fxFlex fxLayout="column">
        <app-meta formControlName="meta"></app-meta>
        <mat-form-field *ngIf="!showSave">
          <input matInput
                 formControlName="id"
                 placeholder="Id"
                 readonly
                 i18n-placeholder="@@configIdPlaceholder">
        </mat-form-field>
      </div>

      <div fxFlex fxLayout="column">
        <mat-form-field>
          <mat-select placeholder="Choose policy"
                      formControlName="robotsPolicy"
                      i18n-placeholder="@@politenessconfigFormRobotPolicyDropdownPlaceholder">
            <mat-option *ngFor="let policy of robotsPolicies" [value]="policy">{{RobotsPolicy[policy]}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="robotsPolicy.value === RobotsPolicy.CUSTOM_ROBOTS">
            <textarea matInput
                      formControlName="customRobots"
                      placeholder="robots.txt"
                      i18n-placeholder="politenessconfigFormCustomRobotsPolicyInputPlaceholder">
            </textarea>
        </mat-form-field>

        <!--CrawlHostGroup Selector -->
        <app-selector placeholder="CrawlHostGroup Selector" formControlName="crawlHostGroupSelectorList"
                      [removable]="canEdit" i18n-placeholder="@@politenessconfigFormCrawlhostgroupSelectorPlaceholder">
        </app-selector>

        <mat-label i18n="@@politenessconfigFormMinRobotsValidDurationLabel">Minimum robots validity</mat-label>
        <app-duration-picker formControlName="minimumRobotsValidityDurationS"
                             [unit]="UnitOfTime.SECOND"
                             [durationGranularity]="'d:h:m:s'">
        </app-duration-picker>
        <mat-error *ngIf="!minRobotsValidDurationSec.valid"
                   i18n="@@politenessconfigFormMinRobotsValidDurationValidationError">
          Must be a number.
        </mat-error>

        <mat-label i18n="@@politenessconfigFormMinTimeBetweenPageloadLabel">Minimum time between page load</mat-label>
        <app-duration-picker formControlName="minTimeBetweenPageLoadMs"
                             [unit]="UnitOfTime.MILLISECOND"
                             [durationGranularity]="'m:s'">
        </app-duration-picker>
        <mat-error *ngIf="!minTimeBetweenPageloadMs.valid"
                   i18n="@@politenessconfigFormMinTimeBetweenPageloadValidationError">
          Must be a number.
        </mat-error>

        <mat-label i18n="@@politenessconfigFormMaxTimeBetweenPageloadLabel">Maximum time between page load</mat-label>
        <app-duration-picker formControlName="maxTimeBetweenPageLoadMs"
                             [unit]="UnitOfTime.MILLISECOND"
                             [durationGranularity]="'m:s'">
        </app-duration-picker>
        <mat-error *ngIf="!maxTimeBetweenPageloadMs.valid"
                   i18n="@@politenessconfigFormMaxTimeBetweenValidationError">
          Must be a number.
        </mat-error>

        <mat-form-field>
          <input matInput
                 formControlName="delayFactor"
                 placeholder="Delay factor"
                 i18n-placeholder="@@politenessconfigFormDelayFactorPlaceholder">
          <mat-error *ngIf="!delayFactor.valid"
                     i18n="@@politenessconfigFormMaxTimeBetweenValidationError">
            Must be a number.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput
                 formControlName="maxRetries"
                 placeholder="Maximum retries"
                 i18n-placeholder="@@politenessconfigFormMaxRetriesPlaceholder">
          <mat-error *ngIf="!maxRetries.valid"
                     i18n="@@politenessconfigFormMaxRetriesValidationError">
            Must be a number.
          </mat-error>
        </mat-form-field>

        <mat-label i18n="politenessconfigFormRetryDelayLabel">Retry delay</mat-label>
        <app-duration-picker formControlName="retryDelaySeconds"
                             [unit]="UnitOfTime.SECOND"
                             [durationGranularity]="'m:s'">
        </app-duration-picker>
        <mat-error *ngIf="!retryDelaySeconds.valid"
                   i18n="@@politenessconfigFormRetryDelayValidationError">
          Must be a number.
        </mat-error>
      </div>
    </mat-card-content>
  </form>


  <mat-card-actions *ngIf="canEdit">
    <button mat-raised-button color="accent"
            [disabled]="!canSave"
            *ngIf="showSave"
            (click)="onSave()"
            i18n="@@commonButtonSave">
      SAVE
    </button>
    <button mat-raised-button color="accent"
            *ngIf="!showSave"
            [disabled]="!canUpdate"
            (click)="onUpdate()"
            i18n="@@commonButtonSave">
      UPDATE
    </button>
    <button mat-button
            (click)="onRevert()"
            [disabled]="!canRevert"
            i18n="@@commonButtonRevert">
      REVERT
    </button>
    <span fxFlex></span>
    <button mat-button
            *ngIf="!showSave"
            (click)="onDelete()"
            i18n="@@commonButtonDelete">
      DELETE
    </button>
  </mat-card-actions>
</mat-card>
