<h2 *ngIf="browserScript.id" i18n="@@browserscriptDetailsHeader">
  Browserscript Detaljer
</h2>
<h2 *ngIf="!browserScript.id" i18n="@@browserscriptNewBrowserscriptHeader">
  Ny Browserscript
</h2>


<form [formGroup]="browserScriptFG" fxLayout="column">

  <md-form-field formGroupName="meta">
    <input mdInput formControlName="name" placeholder="Navn"
            i18n-placeholder="@@metaNameInputPlaceholder">
    <md-error *ngIf="! browserScriptFG.controls.meta.valid"
              i18n="@@metaNameRequiredError">
      Navn er påkrevd.
    </md-error>
  </md-form-field>

  <md-form-field formGroupName="meta">
    <input mdInput formControlName="description" placeholder="Beskrivelse"
           i18n-placeholder="@@metaDescriptionInputPlaceholder">
  </md-form-field>

  <md-form-field>
    <textarea mdInput formControlName="script" placeholder="Script"
              i18n-placeholder="@@browserscriptFormScriptPlaceholder">
    </textarea>
    <md-error *ngIf="! browserScriptFG.controls.script.valid"
              i18n="@@browserscriptFormScriptRequiredError">
      Script er påkrevd.
    </md-error>
  </md-form-field>

  <ng-container formGroupName="meta">
    <app-labels type="Label" formControlName="label"></app-labels>
  </ng-container>

    <div>
      <button md-raised-button color="primary"
              [disabled]="!browserScriptFG.valid"
              *ngIf="!browserScript.id"
              (click)="createBrowserScript(browserScriptFG.value)"
              novalidate
              i18n="@@commonButtonSave">
        Lagre
      </button>
      <button md-raised-button color="primary"
              *ngIf="browserScript.id" [disabled]="!browserScriptFG.valid"
              (click)="updateBrowserScript(browserScriptFG.value)"
              i18n="@@commonButtonSave">
        Lagre
      </button>
      <button md-raised-button color="accent"
              (click)="revert()"
              i18n="@@commonButtonRevert">
        Tilbakestill
      </button>
      <button md-raised-button color="warn"
              *ngIf="browserScript.id"
              (click)="deleteBrowserScript(browserScript.id); $event.stopPropagation()"
              i18n="@@commonButtonDelete">
        Slett
      </button>
    </div>
  </form>
