<form [formGroup]="form">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <span i18n="@@browserscriptDetailsHeader">Browserscript</span>
      </mat-card-title>
      <mat-card-subtitle>
        <span *ngIf="!browserScript.id"
              i18n="@@browserscriptNewBrowserscriptHeader"> Ny (ikke lagret)</span>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content fxLayout="row" fxLayoutWrap>
      <div fxFlex fxLayout="column">
        <ng-container formGroupName="meta">

          <mat-form-field>
            <input matInput formControlName="name" placeholder="Navn"
                   i18n-placeholder="@@metaNameInputPlaceholder">
            <mat-error *ngIf="!name.valid"
                       i18n="@@metaNameRequiredError">
              Navn er påkrevd.
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <textarea matInput formControlName="description" placeholder="Beskrivelse"
                   i18n-placeholder="@@metaDescriptionInputPlaceholder"
                   style="width: auto">
            </textarea>
          </mat-form-field>
        </ng-container>

        <mat-toolbar>
          <span i18n="@@browserscriptFormScriptHeader"> Script</span>
          <span class="fill-space"></span>
        </mat-toolbar>
        <ace-editor formControlName="script"
                    #editor style="height:200px;">
        </ace-editor>
        <mat-error *ngIf="editor.value === '' "
                   i18n="@@browserscriptFormScriptRequiredError">
          Script er påkrevd.
        </mat-error>
      </div>
      <div fxFlex fxLayout="column">
        <ng-container formGroupName="meta">
          <app-labels type="Label" formControlName="label"></app-labels>
        </ng-container>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary"
              [disabled]="!form.valid"
              *ngIf="!browserScript.id"
              (click)="onSave(form.value)"
              novalidate
              i18n="@@commonButtonSave">
        Lagre
      </button>
      <button mat-raised-button color="primary"
              *ngIf="browserScript.id"
              [disabled]="!form.valid || !form.dirty"
              (click)="onUpdate(form.value)"
              i18n="@@commonButtonSave">
        Lagre
      </button>
      <button mat-raised-button color="accent"
              (click)="onRevert()"
              [disabled]="!form.dirty"
              i18n="@@commonButtonRevert">
        Tilbakestill
      </button>
      <button mat-raised-button color="warn"
              *ngIf="browserScript.id"
              (click)="onDelete(browserScript.id); $event.stopPropagation()"
              i18n="@@commonButtonDelete">
        Slett
      </button>
    </mat-card-actions>
  </mat-card>
</form>
