<div [formGroup]="form" fxLayout="column">
  <mat-form-field>
    <input matInput formControlName="name" placeholder="Navn"
      i18n-placeholder="@@metaNameInputPlaceholder">
    <mat-error i18n="@@metaNameRequiredError">
      Navn er påkrevd.
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput formControlName="description" placeholder="Beskrivelse"
      i18n-placeholder="@@metaDescriptionInputPlaceholder" matTextareaAutosize>
    </textarea>
  </mat-form-field>

  <app-labels [removable]="editable" formControlName="label"></app-labels>

  <mat-form-field>
    <input matInput
      formControlName="created"
      placeholder="Opprettet"
      i18n-placeholder="@@metaCreatedInputPlaceholder">
  </mat-form-field>

  <mat-form-field>
    <input matInput
      formControlName="created_by"
      placeholder="Opprettet av"
      i18n-placeholder="@@metaCreatedByInputPlaceholder">
  </mat-form-field>

  <mat-form-field>
    <input matInput
      formControlName=last_modified
      placeholder="Sist endret"
      i18n-placeholder="@@metaLastModifiedInputPlaceholder">
  </mat-form-field>

  <mat-form-field>
    <input matInput
      formControlName="last_modified_by"
      placeholder="Sist endret av"
      i18n-placeholder="@@metaLastModifiedByInputPlaceholder">
  </mat-form-field>

</div>
