<div [formGroup]="meta" fxFlex fxLayout="column">
    <mat-form-field>
      <input matInput formControlName="name" #name placeholder="Navn"
             i18n-placeholder="@@metaNameInputPlaceholder">
      <mat-error *ngIf="!name.valid"
                 i18n="@@metaNameRequiredError">
        Navn er påkrevd.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="description" placeholder="Beskrivelse"
                i18n-placeholder="@@metaDescriptionInputPlaceholder">
      </textarea>
    </mat-form-field>

    <app-labels [removable]="editable" formControlName="label"></app-labels>

    <div>
      <div fxLayout="row" fxLayoutGap="1em">
        <mat-form-field class="extra-metadata__input">
          <input matInput
                 formControlName="created"
                 placeholder="Opprettet"
                 i18n-placeholder="@@metaCreatedInputPlaceholder">
        </mat-form-field>

        <mat-form-field class="extra-metadata__input--narrow">
          <input matInput
                 formControlName="created_by"
                 placeholder="Opprettet av"
                 i18n-placeholder="@@metaCreatedByInputPlaceholder">
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutGap="1em">
        <mat-form-field class="extra-metadata__input">
          <input matInput
                 formControlName=last_modified
                 placeholder="Sist endret"
                 i18n-placeholder="@@metaLastModifiedInputPlaceholder">
        </mat-form-field>

        <mat-form-field class="extra-metadata__input--narrow">
          <input matInput
                 formControlName="last_modified_by"
                 placeholder="Sist endret av"
                 i18n-placeholder="@@metaLastModifiedByInputPlaceholder">
        </mat-form-field>
      </div>
    </div>
</div>

