<form [formGroup]="form">
  <div fxLayout="row wrap" fxLayoutGap="24px">
    <div fxFlex fxLayout="column">
      <mat-form-field>
        <input matInput
               formControlName="uri"
               placeholder="Discovered URI">
        <a mat-icon-button matSuffix [attr.href]="uri" target="_blank"
           matTooltip="Trykk for å åpne lenke i nytt vindu"><mat-icon>link</mat-icon>
        </a>
      </mat-form-field>
      <mat-form-field>
        <input matInput
               formControlName="refUri"
               placeholder="Referring URI">
        <a mat-icon-button matSuffix [attr.href]="refUri" target="_blank"
           matTooltip="Trykk for å åpne lenke i nytt vindu"><mat-icon>link</mat-icon></a>
      </mat-form-field>
<div *ngIf="crawlEntityId && seedId">
  <h3>Entitet og seed tildelt hendelsen</h3>
      <mat-list>
        <mat-list-item>
          <mat-icon matTooltip="Seed">link</mat-icon>&nbsp;
          <a class="shortcut-link"
             [routerLink]="['/config/seed']"
             [queryParams]="{id: seedId}">Seed</a>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matTooltip="Entitet">domain</mat-icon>&nbsp;
          <a class="shortcut-link"
             [routerLink]="['/config/entity']"
             [queryParams]="{id: crawlEntityId}">Entitet</a>
        </mat-list-item>
      </mat-list>
</div>
       <app-event-search [discoveredUri]="uri" (seedCreated)="onSeedCreated($event)"></app-event-search>
    </div>
  </div>
</form>
