<form [formGroup]="form">
  <div fxLayout="row wrap" fxLayoutGap="24px">
    <div fxFlex fxLayout="column">
      <mat-form-field>
        <input matInput
               formControlName="uri"
               placeholder="Discovered URI">
        <a mat-icon-button matSuffix [attr.href]="uri" target="_blank"
           matTooltip="Trykk for å åpne lenke i nytt vindu"><mat-icon>link</mat-icon>
        </a>
      </mat-form-field>
      <mat-form-field>
        <input matInput
               formControlName="refUri"
               placeholder="Referring URI">
        <a mat-icon-button matSuffix [attr.href]="refUri" target="_blank"
           matTooltip="Trykk for å åpne lenke i nytt vindu"><mat-icon>link</mat-icon></a>
      </mat-form-field>
      <div fxLayout="row wrap" fxLayoutGap="24px">
        <div fxFlex fxLayout="column">
          <mat-card>
            <mat-card-header>
              <mat-card-title>
                Entitet
              </mat-card-title>
              <mat-card-subtitle>
                Opprett ny eller velg eksisterende entitet
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                  <input placeholder="Søk">
                Opprett ny entitet
            </mat-card-content>
          </mat-card>
          <app-entity-details [configObject]="crawlEntity" (save)="onSaveEntity($event)"></app-entity-details>
        </div>
        <div fxFlex fxLayout="column">
          <app-seed-details *ngIf="crawlEntity.id !== ''" [configObject]="seed"></app-seed-details>
        </div>
      </div>
    </div>
  </div>
</form>
