<div fxFlex fxLayout="column" class="editorCard mat-elevation-z4">
  <mat-toolbar fxLayout="row"><p>{{this.configObject.meta.name}}</p>
    <span fxFlex></span>
    <mat-form-field class="langSelect">
      <mat-select placeholder="Language"
                  [value]="editorOptions.language"
                  (selectionChange)="onChangeLanguage($event.value)">
        <mat-option *ngFor="let language of editorLanguages" [value]="language">{{language}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="themeSelect">
      <mat-select placeholder="Theme" [value]="editorOptions.theme" (selectionChange)="onChangeTheme($event.value)">
        <mat-option *ngFor="let theme of editorThemes" [value]="theme">
          {{theme}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-toolbar>
  <ngx-monaco-editor class=editor
                     fxFlex
                     [options]="editorOptions"
                     [(ngModel)]="value"
                     (init)="editorInit($event)">
  </ngx-monaco-editor>
</div>
