textarea.form-control {
  height: 350px;
}

.customRobotTxtInput > * {
  width: 80%;
}

.robotPolicyDropdown {
  margin-bottom: 1em;
  width: 50%;
}

div.extraMetadata mat-form-field {
  width: 45%;
}
