<form [formGroup]="form" fxFlex>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <span i18n="@@politenessconfigDetailsHeader">Politenessconfig</span>
      </mat-card-title>
      <mat-card-subtitle>
        <span *ngIf="!configObject.id"
              i18n="@@politenessconfigNewPolitenessConfigHeader">Ny (ikke lagret)</span>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content fxLayout="row wrap" fxLayoutGap="24px">
      <div fxFlex fxLayout="column">
        <app-meta formControlName="meta" [shouldShow]="shouldShow"></app-meta>
        <mat-form-field *ngIf="!showSave && shouldShow">
          <input matInput
                 formControlName="id"
                 placeholder="Id"
                 i18n-placeholder="@@configIdPlaceholder">
        </mat-form-field>
      </div>

      <div fxFlex fxLayout="column">
        <div (click)="robotsPolicy.disabled ? onEnableRobotsPolicy() : null">
          <mat-form-field>
            <mat-select placeholder="Velg policy"
                        formControlName="robotsPolicy"
                        i18n-placeholder="@@politenessconfigFormRobotPolicyDropdownPlaceholder"
                        [matTooltip]="robotsPolicy.disabled ?
                        'Instilling er ikke lik for alle markerte konfigurasjoner.'
                        + 'Klikk her og sett ønsket verdi for å overstyre alle,'
                        + 'eller la stå for å beholde konfigurasjonens opprinnelige verdi'
                        : null"
            >
              <mat-option *ngFor="let policy of robotsPolicies" [value]="policy">{{policy}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <!--CrawlHostGroup Selector -->
        <app-labels kind="CrawlHostGroup Selector" formControlName="crawlHostGroupSelectorList"
                    [removable]="canEdit"></app-labels>

        <ng-container
          *ngIf="robotsPolicy.value === 'CUSTOM_ROBOTS'">
          <div class="customRobotTxtInput">
            <mat-form-field>
            <textarea matInput
                      formControlName="customRobots"
                      placeholder="robots.txt">
            </textarea>
              <mat-error *ngIf="!customRobots.valid"
                         i18n="@@politenessconfigFormValidityDurationRequiredError">
                Må være et tall.
              </mat-error>
            </mat-form-field>
          </div>
        </ng-container>

        <mat-form-field>
          <input matInput
                 formControlName="minimumRobotsValidityDurationS"
                 placeholder="Minimum robots validity (seconds)"
                 i18n-placeholder="@@politenessconfigFormMinRobotsValidDurationPlaceholder">
          <mat-error *ngIf="!minRobotsValidDurationSec.valid"
                     i18n="@@politenessconfigFormMinRobotsValidDurationRequiredError">
            Må være et tall.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput
                 formControlName="minTimeBetweenPageLoadMs"
                 placeholder="Minimum time between page load (ms)"
                 i18n-placeholder="@@politenessconfigFormMinTimeBetweenPageLoadPlaceholder">
          <mat-error *ngIf="!minTimeBetweenPageloadMs.valid"
                     i18n="@@politenessconfigFormMinTimeBetweenPageloadRequiredError">
            Må være et tall.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput
                 formControlName="maxTimeBetweenPageLoadMs"
                 placeholder="Maximum time between page load (ms)"
                 i18n-placeholder="@@politenessconfigFormMaxTimeBetweenPageLoadPlaceholder">
          <mat-error *ngIf="!maxTimeBetweenPageloadMs.valid"
                     i18n="@@politenessconfigFormMaxTimeBetweenPageloadRequiredError">
            Må være et tall
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput
                 formControlName="delayFactor"
                 placeholder="Delay factor"
                 i18n-placeholder="@@politenessconfigFormDelayFactorPlaceholder">
        </mat-form-field>
        <mat-error *ngIf="!delayFactor.valid"
                   i18n="@@politenessconfigFormMaxTimeBetweenPageloadRequiredError">
          Må være et tall
        </mat-error>

        <mat-form-field>
          <input matInput
                 formControlName="maxRetries"
                 placeholder="Maximum retries"
                 i18n-placeholder="@@mustBeNumberError">
        </mat-form-field>
        <mat-error *ngIf="!maxRetries.valid"
                   i18n="@@mustBeNumberError">
          Må være et tall
        </mat-error>
        <mat-form-field>
          <input matInput
                 formControlName="retryDelaySeconds"
                 placeholder="Retry delay (s)"
                 i18n-placeholder="@@politenessconfigFormRetryDelaySecondsPlaceholder">
        </mat-form-field>
        <mat-error *ngIf="!retryDelaySeconds.valid"
                   i18n="@@mustBeNumberError">
          Må være et tall
        </mat-error>
      </div>
    </mat-card-content>

    <mat-card-actions *ngIf="canEdit">
      <button mat-raised-button color="primary"
              *ngIf="showSave"
              [disabled]="!canSave"
              (click)="onSave()"
              novalidate
              i18n="@@commonButtonSave">
        Lagre
      </button>
      <button mat-raised-button color="primary"
              *ngIf="!showSave"
              [disabled]="!canUpdate"
              (click)="onUpdate()"
              i18n="@@commonButtonSave">
        Oppdater
      </button>
      <button mat-raised-button color="accent"
              (click)="onRevert()"
              [disabled]="!canRevert"
              i18n="@@commonButtonRevert">
        Tilbakestill
      </button>
      <button mat-raised-button color="warn"
              *ngIf="!showSave"
              (click)="onDelete(); $event.stopPropagation()"
              i18n="@@commonButtonDelete">
        Slett
      </button>
    </mat-card-actions>
  </mat-card>
</form>
