<h2>Entities</h2>

<md-nav-list>
  <md-list-item
    *ngFor="let entity of entities" (click)="selectEntity(entity)"
    [class.active]="entity === selectedEntity">
    {{entity.meta.name}}
  </md-list-item>
</md-nav-list>

<button md-raised-button color="warn"
        (click)="createNewEntity()">New
</button>

<ng-container *ngIf="selectedEntity">
  <app-entity-details
    [entity]="selectedEntity"
    [createHandler]="addEntity"
    [updateHandler]="updateEntity"
    [deleteHandler]="deleteEntity">
  </app-entity-details>
</ng-container>


