.mat-column-seedId {
  flex: 0 0 20%;
  width: 20%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 16px;
}

.mat-column-state {
  flex: 0 0 15%;
  width: 15%;
  padding-right: 16px;
}

.mat-column-seedId:hover {
  white-space: normal;
  word-break: break-word;
}
