<form [formGroup]="form">
  <mat-card>
    <mat-card-header>
      <mat-icon mat-card-avatar>collections_bookmark</mat-icon>
      <mat-card-title>
        <span i18n="@@collectionDetailsCardTitle">Collection</span>
      </mat-card-title>
      <mat-card-subtitle>
        <span *ngIf="!configObject?.id"
              i18n="@@commonConfigDetailsCardSubtitle">New (unsaved)</span>
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content fxLayout="row wrap" fxLayoutGap="24px">
      <div fxFlex fxLayout="column">
        <app-collection-meta formControlName="meta"></app-collection-meta>
        <mat-form-field *ngIf="!showSave">
          <input matInput
                 formControlName="id"
                 placeholder="Id"
                 readonly
                 i18n-placeholder="@@configIdPlaceholder">
        </mat-form-field>
      </div>

      <div fxFlex fxLayout="column">
        <mat-form-field>
          <mat-select placeholder="Deduplication policy"
                      formControlName="collectionDedupPolicy"
                      i18n-placeholder="@@collectionDedupPolicyDropdownPlaceholder"
                      data-testid="collectionDedupPolicy">
            <mat-option *ngFor="let policy of rotationPolicies" [value]="policy">{{RotationPolicy[policy]}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="File rotation policy"
                      formControlName="fileRotationPolicy"
                      i18n-placeholder="@@collectionFileRotationPolicyDropdownPlaceholder"
                      data-testid="fileRotationPolicy">
            <mat-option *ngFor="let policy of rotationPolicies" [value]="policy">{{RotationPolicy[policy]}}</mat-option>
          </mat-select>
        </mat-form-field>

        <app-filesize-input [placeholder]="'File size'" formControlName="fileSize">
        </app-filesize-input>
        <mat-error *ngIf="!validFileSize" i18n="@@collectionMissingFileSizeError">
          Not specifying any file size will generate an immense amount of WARC's
        </mat-error>

        <mat-checkbox formControlName="compress"
                      labelPosition="after"
                      i18n="@@collectionFormCompressLabel"
                      color="accent">
          Compress
        </mat-checkbox>

        <fieldset class="mat-elevation-z1" formArrayName="subCollectionsList">
          <legend mat-card-subtitle i18n="@@collectionFormSubCollectionTitle">Subcollections</legend>

          <div *ngFor="let subCollectionsList of subCollectionControlArray.controls; let i=index"
               [formGroupName]="i"
               fxLayout="row"
               fxLayoutGap="16px">
            <mat-form-field [hideRequiredMarker]="subCollectionNameInput.value.length >= 2" fxFlex
                            data-testid="subCollectionName">
              <input matInput #subCollectionNameInput formControlName="name" placeholder="Name"
                     i18n-placeholer="@@collectionFormSubCollectionNamePlaceholder">
              <mat-hint *ngIf="subCollectionNameInput.value.length < 2" i18n="@@subCollectionNameInputLengthHint">
                Minimum 2 characters
              </mat-hint>

              <mat-error
                *ngIf="getSubCollectionName(i).hasError('required')"
                i18n="@@collectionMetaSubcollectionNameRequiredError">
                The field is required
              </mat-error>

              <mat-error
                *ngIf="getSubCollectionName(i).hasError('pattern')"
                i18n="@@collectionMetaSubcollectionNamePatternError">
                Invalid name. (Valid characters are A-Å a-å 0-9 _)
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-select placeholder="Subcollection type"
                          formControlName="type"
                          i18n-placeholder="@@collectionSubCollectionTypeDropdownPlaceholder"
                          data-testid="subCollectionType">
                <mat-option *ngFor="let type of subCollectionTypes"
                            [value]="type">{{SubCollectionType[type]}}</mat-option>
              </mat-select>
            </mat-form-field>

            <button mat-button
                    (click)="onRemoveSubCollection(i)"
                    *ngIf="canEdit">
              <mat-icon>remove_circle</mat-icon>&nbsp;
              <span i18n="@@collectionFormRemoveSubcollectionButton">REMOVE</span>
            </button>
          </div>

          <button mat-stroked-button
                  data-testid="addSubCollectionButton"
                  (click)="onAddSubCollection()"
                  *ngIf="canEdit">
            <mat-icon>add_circle</mat-icon>&nbsp;
            <span i18n="@@collectionFormAddSubcollectionButton">ADD SUBCOLLECTION</span>
          </button>
        </fieldset>
      </div>
    </mat-card-content>

    <mat-card-actions *ngIf="canEdit">
      <button mat-raised-button
              *ngIf="showSave"
              [disabled]="!canSave"
              [color]="validFileSize ? 'accent' : 'warn'"
              [matTooltip]="validFileSize ? null : 'Save config knowing the consequences of not setting file size'"
              (click)="onSave()"
              i18n-matTooltip="@@collectionSaveConfigWithoutFileSizeTooltip"
              i18n="@@commonButtonSave">
        SAVE
      </button>
      <button mat-raised-button
              *ngIf="!showSave"
              [disabled]="!canUpdate"
              [color]="validFileSize ? 'accent' : 'warn'"
              [matTooltip]="validFileSize ? null : 'Update config knowing the consequences of not setting file size'"
              (click)="onUpdate()"
              i18n-matTooltip="@@collectionUpdateConfigWithoutFileSizeTooltip"
              i18n="@@commonButtonSave">
        UPDATE
      </button>
      <button mat-button
              (click)="onRevert()"
              [disabled]="!canRevert"
              i18n="@@commonButtonRevert">
        REVERT
      </button>
      <span fxFlex></span>
      <button mat-button
              *ngIf="!showSave && canDelete"
              (click)="onDelete()"
              i18n="@@commonButtonDelete">
        DELETE
      </button>
    </mat-card-actions>
  </mat-card>
</form>
