<md-sidenav-container>

  <!-- Toolbar -->

  <md-toolbar color="primary">
    <a routerLink="/" class="title"><h1>Veidemann</h1></a>
    <span fxFlex fxFlexFill></span>
    <span>{{myDate}}</span>
    <span fxFlex fxFlexFill></span>

    <!-- Toolbar menu button -->

    <button md-icon-button [md-menu-trigger-for]="menu">
      <md-icon>more_vert</md-icon>
    </button>
  </md-toolbar>

  <!-- Toolbar menu-->

  <md-menu x-position="before" #menu>
    <button md-menu-item (click)="setExpertMode(true)">Kurator</button>
    <button md-menu-item (click)="setExpertMode(false)">Expert</button>
  </md-menu>

  <!-- Sidenav -->

  <md-sidenav mode="side" opened="true">

    <!-- Toolbar -->

    <md-toolbar color="primary">
      <a color="primary" md-raised-button [routerLink]="['/logon']">
        <md-icon>person</md-icon>
        Logg på</a>
    </md-toolbar>

    <!-- Navigation -->

    <md-nav-list>
      <a md-list-item [routerLink]="['/']" [routerLinkActiveOptions]="{ exact: true }"
         [routerLinkActive]="['is-active']">
        <md-icon>dashboard</md-icon>
        Aktivitet</a>
      <a md-list-item [routerLink]="['/statistics']" [routerLinkActive]="['is-active']">
        <md-icon>assessment</md-icon>
        Statistikk</a>
      <a md-list-item [routerLink]="['/documentation']" [routerLinkActiveOptions]="{ exact: true }"
         [routerLinkActive]="['is-active']">
        <md-icon>help</md-icon>
        Dokumentasjon</a>
      <a md-list-item [routerLink]="['/search']" [routerLinkActiveOptions]="{ exact: true }"
         [routerLinkActive]="['is-active']">
        <md-icon>search</md-icon>
        Søk</a>
      <md-list-item [disableRipple]="true">
      <h3>Konfigurasjon</h3>
      </md-list-item>
      <a md-list-item [routerLink]="['/crawljobs']" [routerLinkActiveOptions]="{ exact: true }"
         [routerLinkActive]="['is-active']">
        <md-icon>work</md-icon>
        Crawljobs</a>
      <a md-list-item [routerLink]="['/schedule']" [routerLinkActiveOptions]="{ exact: true }"
         [routerLinkActive]="['is-active']">
        <md-icon>schedule</md-icon>
        Schedule</a>
      <a md-list-item [fxHide]="isExpertMode" [routerLink]="['/crawlconfig']"
         [routerLinkActiveOptions]="{ exact: true }"
         [routerLinkActive]="['is-active']">
        <md-icon>build</md-icon>
        Crawlconfig</a>
      <a md-list-item [fxHide]="isExpertMode" [routerLink]="['/crawlhostgroupconfig']"
         [routerLinkActiveOptions]="{ exact: true }"
         [routerLinkActive]="['is-active']">
        <md-icon>build</md-icon>
        Crawlhostgroupconfig</a>
      <a md-list-item [fxHide]="isExpertMode" [routerLink]="['/browserconfig']"
         [routerLinkActiveOptions]="{ exact: true }"
         [routerLinkActive]="['is-active']">
        <md-icon>build</md-icon>
        Browserconfig</a>
      <a md-list-item [fxHide]="isExpertMode" [routerLink]="['/browserscript']"
         [routerLinkActiveOptions]="{ exact: true }"
         [routerLinkActive]="['is-active']">
        <md-icon>build</md-icon>
        Browserscript</a>
      <a md-list-item [fxHide]="isExpertMode" [routerLink]="['/politenessconfig']"
         [routerLinkActiveOptions]="{ exact: true }"
         [routerLinkActive]="['is-active']">
        <md-icon>sentiment_neutral</md-icon>
        Politenessconfig</a>
      <a md-list-item [fxHide]="isExpertMode" [routerLink]="['/logconfig']"
         [routerLinkActiveOptions]="{ exact: true }"
         [routerLinkActive]="['is-active']">
        <md-icon>receipt</md-icon>
        Logconfig</a>
    </md-nav-list>
  </md-sidenav>

  <main class="mat-typography">
    <router-outlet></router-outlet>
  </main>
</md-sidenav-container>
