main {
  padding: 1em 1.5em 2em 1.3em;
  overflow-y: auto;
}

.app-toolbar {
  min-height: 64px;
}

.sidenav--icon__margin {
  margin-right: 0.5em;
}

.title {
  text-decoration: none;
  color: inherit;
}
