<form [formGroup]="form" *ngIf="seed">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <span i18n="@@seedDetailsCardTitle">SEED</span>
      </mat-card-title>
      <mat-card-subtitle *ngIf="!seed.id">
        <span i18n="@@seedDetailsCardSubtitle">Ny (ikke lagret)</span>
      </mat-card-subtitle>
      <span class="fill-space"></span>
      <mat-slide-toggle formControlName="disabled" i18n="@@seedDisabledToggleSwitch">
        Aktiv
      </mat-slide-toggle>
    </mat-card-header>
    <mat-card-content fxLayout="row wrap">
      <div fxFlex fxLayout="column">
        <app-meta formControlName="meta"></app-meta>
        <mat-form-field *ngIf="seed.id">
          <input matInput formControlName="id" placeholder="Id"
                 i18n-placeholder="@@seedFormIdPlaceholder">
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="entity_id"
                 placeholder="Entitetens Id"
                 i18n-placeholder="@@metaEntityIdIputPlaceholder">
        </mat-form-field>
      </div>

      <div fxFlex fxLayout="column">
        <mat-form-field formGroupName="scope" *ngIf="seed.id">
          <input matInput
                 formControlName="surt_prefix"
                 placeholder="Surt prefiks"
                 i18n-placeholder="@@seedFormSurtPrefixPlaceholder">
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Jobb" formControlName="job_id" multiple
                      i18n-placeholder="@@seedCrawljobDropDownPlaceholder">
            <mat-option *ngFor="let job of crawlJobList" [value]="job.id">{{job.itemName}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-card-content>

    <mat-card-actions *ngIf="canEdit">
      <button mat-raised-button color="primary"
              *ngIf="!seed.id"
              [disabled]="!form.valid"
              (click)="onSave()"
              i18n="@@commonButtonSave">Lagre
      </button>
      <button mat-raised-button color="primary"
              *ngIf="seed.id"
              [disabled]="!form.dirty"
              (click)="onUpdate()"
              i18n="@@commonButtonSave">Oppdater
      </button>
      <button mat-raised-button color="accent"
              [disabled]="!form.dirty"
              (click)="onRevert()"
              i18n="@@commonButtonRevert">Tilbakestill
      </button>
      <button mat-raised-button color="warn"
              *ngIf="seed.id"
              (click)="onDelete()"
              i18n="@@commonButtonDelete">Slett
      </button>
    </mat-card-actions>
  </mat-card>
</form>
