<form [formGroup]="form">
  <mat-card>
    <mat-card-header>
      <mat-icon mat-card-avatar>link</mat-icon>
      <mat-card-title>
        <ng-container i18n="@@seedDetailsCardTitle">SEED</ng-container>
      </mat-card-title>
      <mat-card-subtitle *ngIf="!configObject.id">
        <span i18n="@@seedDetailsCardSubtitle">Ny (ikke lagret)</span>
      </mat-card-subtitle>
      <span class="fill-space"></span>
      <button mat-icon-button (click)="onClearClicked()"><mat-icon>clear</mat-icon></button>
    </mat-card-header>
    <mat-card-content fxLayout="row wrap" fxLayoutGap="24px">
      <div fxFlex fxLayout="column">
        <app-meta formControlName="meta" [nameIsUrl]="true" [shouldShow]="shouldShow"></app-meta>
        <mat-form-field *ngIf="configObject.id && shouldShow">
          <input matInput formControlName="id" placeholder="Id"
                 i18n-placeholder="@@seedFormIdPlaceholder">
        </mat-form-field>
        <ng-container formGroupName="entityRef">
          <mat-form-field *ngIf="shouldShow">
          <input matInput formControlName="id"
                 placeholder="Entitetens Id"
                 i18n-placeholder="@@metaEntityIdInputPlaceholder"
          >
        </mat-form-field>
        </ng-container>
      </div>

      <div fxFlex fxLayout="column">
          <div (click)="disabled.disabled ? onEnableDisabled(): null">
          <mat-slide-toggle class="disabled-toggle"
                            formControlName="disabled"
                            i18n="@@seedDisabledToggleSwitch"
                            [matTooltip]="disabled.disabled ?
                            'Instilling er ikke lik for alle markerte konfigurasjoner.'
                            + 'Klikk her og sett ønsket verdi for å overstyre alle,'
                            + 'eller la stå for å beholde konfigurasjonens opprinnelige verdi'
                            : null">
            Deaktivert
          </mat-slide-toggle>
          </div>

        <app-configref formControlName="jobRefList" [multiple]="true" [kind]="Kind.CRAWLJOB"></app-configref>

            <mat-form-field formGroupName="scope" *ngIf="configObject?.id && shouldShow">
          <input matInput
                 formControlName="surtPrefix"
                 placeholder="Surt prefiks"
                 i18n-placeholder="@@seedFormSurtPrefixPlaceholder">
        </mat-form-field>


        <ng-container *ngIf="showShortcuts">
          <mat-toolbar>
            <span i18n="@@configShortCutsToolbarHeader">Snarveier</span>
            <span class="fill-space"></span>
          </mat-toolbar>

        </ng-container>
      </div>
    </mat-card-content>

    <mat-card-actions *ngIf="canEdit">
      <button mat-raised-button color="primary"
              *ngIf="!configObject?.id"
              [disabled]="!form.valid"
              (click)="onSave()"
              i18n="@@commonButtonSave">Lagre
      </button>
      <button mat-raised-button color="primary"
              *ngIf="configObject?.id"
              [disabled]="!form.dirty"
              (click)="onUpdate()"
              i18n="@@commonButtonSave">Oppdater
      </button>
      <button mat-raised-button color="accent"
              [disabled]="!form.dirty"
              (click)="onRevert()"
              i18n="@@commonButtonRevert">Tilbakestill
      </button>
      <button mat-raised-button color="warn"
              *ngIf="configObject?.id"
              (click)="onDelete()"
              i18n="@@commonButtonDelete">Slett
      </button>
    </mat-card-actions>
  </mat-card>
</form>
