<p>
  <mat-icon mat-card-avatar>business</mat-icon>
  <a [routerLink]="['/config', 'entity', id]" matTooltip="{{name}}">{{name | slice : 0: 10}}</a></p>
<ng-container *ngIf="labels.length > 0">
  <mat-label>Labels</mat-label>
  <mat-chip-list fxFlex [disabled]="true" fxLayout="row wrap" fxLayoutGap="8px">
    <mat-chip *ngFor="let label of labels"
              [selectable]="false"
              [disabled]="true"
              [removable]="false">
      {{label.key + ':' + label.value}}
    </mat-chip>

  </mat-chip-list>
</ng-container>
