<div *ngIf="configObject" fxLayout="column">
  <mat-label><b>Latest crawls of seed: </b></mat-label>
  <table style="width: 100%">
    <tr>
      <th *ngFor="let column of crawlStatusTableHeaders" style="text-align: left">
        {{column}}
      </th>
    </tr>
    <tr *ngFor="let execution of ( configObject | getCrawlExecutionStatus: 3 | toArray| async) ">
      <ng-container *ngIf="execution">
        <td>
          <a [routerLink]="['/report/crawlexecution/'+execution?.id]"
             matTooltip="Show crawlexecution report">
            {{execution.jobId | getJobNamePipe | async}}</a>
        </td>
        <td>{{CrawlExecutionState[execution.state]}}</td>
        <td>{{execution.startTime | date:'medium'}}</td>
        <td>{{execution.endTime | date: 'medium'}}</td>
      </ng-container>
    </tr>
  </table>
  <app-shortcut-list [configObject]="configObject"></app-shortcut-list>
</div>



