<form [formGroup]="form">
  <mat-card>

    <mat-card-header>
      <mat-icon mat-card-avatar>link</mat-icon>
      <mat-card-title>
        <ng-container i18n="@@seedDetailsCardTitle">Seed</ng-container>
      </mat-card-title>
      <mat-card-subtitle>Masseoppdatering</mat-card-subtitle>
      <span fxFlex></span>
      <div (click)="disabled.disabled ? disabled.enable(): null">
        <mat-slide-toggle class="disabled-toggle"
                          formControlName="disabled"
                          i18n="@@seedDisabledToggleSwitch"
                          [matTooltip]="disabled.disabled ?
                            'Instilling er ikke lik for alle markerte konfigurasjoner.'
                            + 'Klikk her og sett ønsket verdi for å overstyre alle,'
                            + 'eller la stå for å beholde konfigurasjonens opprinnelige verdi'
                            : null">
          Deaktivert
        </mat-slide-toggle>
      </div>
    </mat-card-header>

    <mat-card-content fxLayout="row wrap" fxLayoutGap="24px">
      <div fxFlex fxLayout="column">
        <div fxLayout="row" fxLayoutGap="16px">
          <app-labels fxFlex [removable]="form.enabled"
                      formControlName="labelList"></app-labels>
          <div>
            <mat-button-toggle-group
              name="shouldAddLabel"
              [value]="shouldAddLabel"
              (valueChange)="onToggleShouldAddLabels($event)">
              <mat-button-toggle [value]="true">
                <mat-icon>add</mat-icon>
              </mat-button-toggle>
              <mat-button-toggle [value]="false">
                <mat-icon>remove</mat-icon>
              </mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </div>
      </div>

      <div fxFlex fxLayout="column">
        <div fxLayout="row" fxLayoutGap="16px">
          <mat-form-field fxFlex>
            <mat-select placeholder="CrawlJob" multiple formControlName="jobRefListId">
              <mat-option *ngFor="let crawlJob of crawlJobs"
                          [value]="crawlJob.id">{{crawlJob.meta.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <div>
            <mat-button-toggle-group [value]="shouldAddCrawlJob"
                                     (valueChange)="onToggleShouldAddCrawlJob($event)"
                                     name="shouldAddCrawlJob">
              <mat-button-toggle [value]="true">
                <mat-icon>add</mat-icon>
              </mat-button-toggle>
              <mat-button-toggle [value]="false">
                <mat-icon>remove</mat-icon>
              </mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </div>
      </div>
    </mat-card-content>

    <mat-card-actions *ngIf="canEdit">
      <button mat-raised-button color="accent"
              [disabled]="!canUpdate"
              (click)="onUpdate()"
              i18n="@@commonButtonSave">OPPDATER
      </button>
      <button mat-button
              [disabled]="!canRevert"
              (click)="onRevert()"
              i18n="@@commonButtonRevert">TILBAKESTILL
      </button>
    </mat-card-actions>
  </mat-card>
</form>
