<ng-container [ngSwitch]="configObject?.kind">
  <app-crawljob-details-multi *ngSwitchCase="Kind.CRAWLJOB"
                        [configObject]="configObject"
                        [crawlConfigs]="options.crawlConfigs"
                        [crawlScheduleConfigs]="options.crawlScheduleConfigs"
                        (update)="onUpdateConfig($event)">
  </app-crawljob-details-multi>

  <app-crawlconfig-details-multi *ngSwitchCase="Kind.CRAWLCONFIG"
                           [configObject]="configObject"
                           [browserConfigs]="options.browserConfigs"
                           [collections]="options.collections"
                           [politenessConfigs]="options.politenessConfigs"
                           (update)="onUpdateConfig($event)">
  </app-crawlconfig-details-multi>

  <app-schedule-details-multi *ngSwitchCase="Kind.CRAWLSCHEDULECONFIG"
                        [configObject]="configObject"
                        (update)="onUpdateConfig($event)">
  </app-schedule-details-multi>

  <app-browserconfig-details-multi *ngSwitchCase="Kind.BROWSERCONFIG"
                             [configObject]="configObject"
                             [browserScripts]="options.browserScripts"
                             (update)="onUpdateConfig($event)">
  </app-browserconfig-details-multi>

  <app-politenessconfig-details-multi *ngSwitchCase="Kind.POLITENESSCONFIG"
                                [configObject]="configObject"
                                [robotsPolicies]="options.robotsPolicies"
                                (update)="onUpdateConfig($event)">
  </app-politenessconfig-details-multi>

  <app-browserscript-details-multi *ngSwitchCase="Kind.BROWSERSCRIPT"
                             [configObject]="configObject"
                             (update)="onUpdateConfig($event)">
  </app-browserscript-details-multi>

  <app-crawlhostgroupconfig-details-multi *ngSwitchCase="Kind.CRAWLHOSTGROUPCONFIG"
                                    [configObject]="configObject"
                                    (update)="onUpdateConfig($event)">
  </app-crawlhostgroupconfig-details-multi>

  <app-seed-details-multi *ngSwitchCase="Kind.SEED"
                    [configObject]="configObject"
                    [crawlJobs]="options.crawlJobs"
                    (update)="onUpdateConfig($event)">
  </app-seed-details-multi>

  <app-entity-details-multi *ngSwitchCase="Kind.CRAWLENTITY"
                      [configObject]="configObject"
                      (update)="onUpdateConfig($event)">
  </app-entity-details-multi>

  <app-rolemapping-details-multi *ngSwitchCase="Kind.ROLEMAPPING"
                           [configObject]="configObject"
                           [roles]="options.roles"
                           (update)="onUpdateConfig($event)">
  </app-rolemapping-details-multi>
</ng-container>
