.search-result {
  border: 1px solid gray;
  border-bottom-color: black;
  border-left-color: black;
  width: 200px;
  height: auto;
  padding: 2px;
  background-color: white;
  cursor: pointer;
}

.search-result:hover {
  color: #000000;
  background-color: #ffa31a;
}

#search-box {
  width: 400px;
  height: 40px;
  font-size: 30px;
  margin-bottom: 10px;
}

.mdl-data-table {
  margin-top: 10px;
  width: 860px;
  border-bottom: 2px;
}

.mdl-data-table tbody {
  border-top: black;
  border-top: 2px;
}

.mdl-data-table th {
  width: 214px;
  text-align: left;
  border-top: 2px;
}
