<h4>Seed Search</h4>

<md-form-field>
  <input mdInput
         placeholder="Søk"/>
</md-form-field>

<md-table [dataSource]="seedDataSource">
  <ng-container mdColumnDef="id">
    <md-header-cell *mdHeaderCellDef>Id</md-header-cell>
    <md-cell *mdCellDef="let row">{{row.id}}</md-cell>
  </ng-container>

  <ng-container mdColumnDef="name">
    <md-header-cell *mdHeaderCellDef>Name</md-header-cell>
    <md-cell *mdCellDef="let row">{{row.meta.name}}</md-cell>
  </ng-container>

  <md-header-row *mdHeaderRowDef="['id', 'name']"></md-header-row>
  <md-row *mdRowDef="let row; columns: ['id', 'name']"
          (click)="handleRowClick(row)">
  </md-row>
</md-table>

<ng-container *ngIf="selectedSeed">
  <app-seed-details
    [seed]="selectedSeed"
    [updateHandler]="updateSeed">
  </app-seed-details>
</ng-container>


