@use '@angular/material' as mat;
@import "src/styles/theme";

table {
  width: 100%;
  table-layout: fixed;
}

.mat-column-uri {
  flex: 0 0 90%;
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

tr.resource-detail-row {
  height: 0;
}

tr.resource-row:not(.resource-expanded-row):hover {
  background: whitesmoke;
}

tr.resource-row:not(.resource-expanded-row):active {
  background: #efefef;
}

tr.resource-row.row-error td {
  color: mat.get-color-from-palette($my-app-warn);;
}

.resource-row td {
  border-bottom-width: 0;
}

.resource-detail {
  overflow: hidden;
  display: flex;
}

.resource-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.resource-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.resource-description {
  padding: 16px;
}

.resource-description-attribution {
  opacity: 0.5;
}

