<app-toolbar>
  <span class="toolbar--title">{{ title$ | async }}</span>
  <button mat-mini-fab
          (click)="onCreateConfig()"
          [disabled]="!singleMode"
          [matTooltip]="!singleMode ? 'Kan ikke opprette en ny konfigurasjon når flere er valgt.':'Legg til en ny konfigurasjon.'">
    <mat-icon>add</mat-icon>
  </button>
</app-toolbar>
<div fxLayoutGap="8px" *ngIf="kind$ | async as kind">
  <ng-container [ngSwitch]="kind">
    <ng-container *ngSwitchCase="Kind.ROLEMAPPING">
      <app-rolemapping-list
        (rowClick)="onSelectConfig($event)"
        (selectedChange)="onSelectedChange($event)"
        (selectAll)="onSelectAll()">
      </app-rolemapping-list>
    </ng-container>

    <ng-container *ngSwitchCase="Kind.COLLECTION">
      <app-collection-list (rowClick)="onSelectConfig($event)"></app-collection-list>
    </ng-container>

    <ng-container *ngSwitchDefault>
      <app-base-list
        (rowClick)="onSelectConfig($event)"
        (selectedChange)="onSelectedChange($event)"
        (selectAll)="onSelectAll()">
      </app-base-list>
    </ng-container>
  </ng-container>
  <ng-container [ngSwitch]="kind" *ngIf="singleMode && configObject$ | async as configObject">
    <ng-container *ngSwitchCase="Kind.COLLECTION">
      <app-collection-details
        [configObject]="configObject"
        (update)="onUpdateConfig($event)"
        (save)="onSaveConfig($event)"
        (delete)="onDeleteConfig($event)">
      </app-collection-details>
    </ng-container>
    <ng-container *ngSwitchCase="Kind.CRAWLJOB">
      <app-crawljob-details
        [configObject]="configObject"
        (update)="onUpdateConfig($event)"
        (save)="onSaveConfig($event)"
        (delete)="onDeleteConfig($event)">
      </app-crawljob-details>
    </ng-container>
    <ng-container *ngSwitchCase="Kind.CRAWLCONFIG">
      <app-crawlconfig-details
        [configObject]="configObject"
        (update)="onUpdateConfig($event)"
        (save)="onSaveConfig($event)"
        (delete)="onDeleteConfig($event)">
      </app-crawlconfig-details>
    </ng-container>
    <ng-container *ngSwitchCase="Kind.CRAWLSCHEDULECONFIG">
      <app-schedule-details
        [configObject]="configObject"
        (update)="onUpdateConfig($event)"
        (save)="onSaveConfig($event)"
        (delete)="onDeleteConfig($event)">
      </app-schedule-details>
    </ng-container>
    <ng-container *ngSwitchCase="Kind.BROWSERCONFIG">
      <app-browserconfig-details
        [configObject]="configObject"
        (update)="onUpdateConfig($event)"
        (save)="onSaveConfig($event)"
        (delete)="onDeleteConfig($event)">
      </app-browserconfig-details>
    </ng-container>
    <ng-container *ngSwitchCase="Kind.POLITENESSCONFIG">
      <app-politenessconfig-details
        [configObject]="configObject"
        (update)="onUpdateConfig($event)"
        (save)="onSaveConfig($event)"
        (delete)="onDeleteConfig($event)">
      </app-politenessconfig-details>
    </ng-container>
    <ng-container *ngSwitchCase="Kind.BROWSERSCRIPT">
      <app-browserscript-details
        [configObject]="configObject"
        (update)="onUpdateConfig($event)"
        (save)="onSaveConfig($event)"
        (delete)="onDeleteConfig($event)">
      </app-browserscript-details>
    </ng-container>
    <ng-container *ngSwitchCase="Kind.CRAWLHOSTGROUPCONFIG">
      <app-crawlhostgroupconfig-details
        [configObject]="configObject"
        (update)="onUpdateConfig($event)"
        (save)="onSaveConfig($event)"
        (delete)="onDeleteConfig($event)">
      </app-crawlhostgroupconfig-details>
    </ng-container>
    <ng-container *ngSwitchCase="Kind.ROLEMAPPING">
      <app-rolemapping-details
        [configObject]="configObject"
        (update)="onUpdateConfig($event)"
        (save)="onSaveConfig($event)"
        (delete)="onDeleteConfig($event)">
      </app-rolemapping-details>
    </ng-container>
  </ng-container>
  <ng-template detail-host></ng-template>
</div>
