<div fxLayout="column" fxFlex>
  <p><strong>Script type:</strong> {{BrowserScriptType[configObject.browserScript.browserScriptType]}}</p>

  <ngx-monaco-editor class="editor"
                     fxFlex
                     fxLayout="row"
                     fxFlexFill
                     [(ngModel)]="configObject.browserScript.script"
                     [options]="editorOptions"
                     (init)="initEditor($event)">
  </ngx-monaco-editor>

  <ng-container *ngIf="configObject.browserScript.urlRegexpList.length">
    <mat-label>URL regexp</mat-label>
    <mat-chip-list>
      <mat-chip color="warn" *ngFor="let regex of configObject.browserScript.urlRegexpList">
        {{regex}}
      </mat-chip>
    </mat-chip-list>
  </ng-container>
</div>
