<mat-card>
  <mat-card-header>
    <mat-icon mat-card-avatar>web_asset</mat-icon>
    <mat-card-title>
      <span i18n="@@browserscriptDetailsCardTitle">Browserscript</span>
    </mat-card-title>
    <mat-card-subtitle>
        <span *ngIf="showSave"
              i18n="@@commonConfigDetailsCardSubtitle"> New (unsaved)</span>
    </mat-card-subtitle>
  </mat-card-header>

  <form [formGroup]="form">

    <mat-card-content fxLayout="row wrap" fxLayoutGap="24px">
      <div fxFlex fxLayout="column">
        <app-meta formControlName="meta"></app-meta>
        <mat-form-field *ngIf="!showSave">
          <input matInput
                 formControlName="id"
                 placeholder="Id"
                 readonly
                 i18n-placeholder="@@configIdPlaceholder">
        </mat-form-field>
      </div>
      <div fxLayout="column" fxFlex>
        <mat-form-field>
          <mat-select placeholder="Choose type"
                      formControlName="browserScriptType"
                      i18n-placeholder="@@browserScriptFormBrowserScriptTypeDropdownPlaceholder">
            <mat-option *ngFor="let type of browserScriptTypes" [value]="type">{{BrowserScriptType[type]}}</mat-option>
          </mat-select>
        </mat-form-field>
<!--        <fieldset style="border: 0px;">-->
<!--          <legend>{{name}}</legend>-->

<!--          <div appScriptEditor #editor formControlName="script"></div>-->
<!--          <mat-error *ngIf="editor.value === ''"-->
<!--                     i18n="@@browserscriptFormScriptRequiredError">-->
<!--            Script is required.-->
<!--          </mat-error>-->
<!--        </fieldset>-->
        <mat-form-field>
          <mat-select placeholder="Theme" [value]="editorOptions.theme" (selectionChange)="onChangeTheme($event.value)">
            <mat-option *ngFor="let theme of editorThemes" [value]="theme">
              {{theme}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <ngx-monaco-editor [options]="editorOptions" formControlName="script"></ngx-monaco-editor>
        <mat-form-field>
          <mat-chip-list #chipList>
            <mat-chip *ngFor="let regex of urlRegexpList"
                      [selectable]="canUpdate"
                      [removable]="removable"
                      (removed)="onRemoveRegex(regex)"
                      (click)="onClickRegex(regex)">
              {{regex}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input matInput
                   [formControl]="control"
                   placeholder="URL regexp"
                   i18n-placeholder="@@browserscriptUrlRegexpInputPlaceholder"
                   [matChipInputFor]="chipList"
                   [matChipInputSeparatorKeyCodes]="labelInputSeparators"
                   (matChipInputTokenEnd)="onSaveRegexp($event);">
          </mat-chip-list>
        </mat-form-field>
        <form [formGroup]="regexpForm" *ngIf="regexpForm.enabled">
          <mat-card class="label-form">
            <mat-card-header>
              <mat-icon mat-card-avatar>edit</mat-icon>
              <mat-card-title i18n="@@browserscriptRegexpEditFormTitle">Edit the expression</mat-card-title>
            </mat-card-header>
            <mat-card-content fxLayout="row" fxLayoutGap="16px">
              <mat-form-field fxFlex>
                <input #regexpEdit matInput placeholder="Regexp" formControlName="regexp"
                       i18n-placeholder="@@browserscriptRegexpEditFormInputPlaceholder">
              </mat-form-field>
            </mat-card-content>

            <mat-card-actions>
              <button mat-raised-button color="accent" *ngIf="canUpdateRegex"
                      (click)="onUpdateRegexp(regexpEdit.value)" i18n="@@commonButtonOk">
                OK
              </button>
              <button i18n="@@commonButtonCancel" mat-button (click)="onAbort()">
                CANCEL
              </button>
            </mat-card-actions>
          </mat-card>
        </form>
      </div>
    </mat-card-content>
  </form>

  <mat-card-actions *ngIf="canEdit">
    <button mat-raised-button color="accent"
            [disabled]="!canSave"
            *ngIf="showSave"
            (click)="onSave()"
            i18n="@@commonButtonSave">
      SAVE
    </button>
    <button mat-raised-button color="accent"
            *ngIf="!showSave"
            [disabled]="!canUpdate"
            (click)="onUpdate()"
            i18n="@@commonButtonSave">
      UPDATE
    </button>
    <button mat-button
            (click)="onRevert()"
            [disabled]="!form.dirty"
            i18n="@@commonButtonRevert">
      REVERT
    </button>
    <span fxFlex></span>
    <button mat-button
            *ngIf="!showSave && canDelete"
            (click)="onDelete()"
            i18n="@@commonButtonDelete">
      DELETE
    </button>
  </mat-card-actions>
</mat-card>
