<div fxLayout="column">
  <form>
    <mat-form-field>
      <mat-chip-grid [disabled]="disabled" #chipList fxLayout="row wrap" fxLayoutGap="8px" cdkDropList
                     (cdkDropListDropped)="onDrop($event)">
        <ng-container *ngFor="let group of groups$ | async">
          <mat-chip-row *ngFor="let value of group.values"
                        [removable]="removable"
                        (removed)="onRemoveLabel(group.key, value)"
                        (click)="onClickLabel(group.key, value)"
                        cdkDrag
                        [cdkDragData]="group.key + ':' + value">
            <mat-chip-option [selectable]="canUpdate"></mat-chip-option>
            {{group.key + ':' + value}}
            <button matChipRemove *ngIf="removable && !disabled" aria-label="'remove label ' + group + ':' + value">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
        </ng-container>
        <input #chipInput
               matInput
               [formControl]="control"
               [placeholder]="placeholder"
               [matChipInputFor]="chipList"
               [matChipInputSeparatorKeyCodes]="labelInputSeparators"
               (matChipInputTokenEnd)="onSave($event);"
               [matAutocomplete]="auto"/>
      </mat-chip-grid>
    </mat-form-field>

    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onAutocompleteOptionSelected($event)">
      <mat-option *ngFor="let key of filteredKey$ | async" [value]="key">{{key}}</mat-option>
    </mat-autocomplete>
  </form>

  <form [formGroup]="labelForm" *ngIf="canUpdate && labelForm.enabled">
    <mat-card appearance="outlined" class="label-form">
      <mat-card-header>
        <mat-icon mat-card-avatar>label</mat-icon>
        <mat-card-title i18n="@@labelEditCardTitle">Edit label</mat-card-title>
      </mat-card-header>
      <mat-card-content class="newLabelCard" fxLayout="row" fxLayoutGap="16px">
        <mat-form-field fxFlex>
          <input #newKey matInput placeholder="Key" formControlName="key"
                 i18n-placeholder="@@labelFormAddNewKeyPlaceholder">
          <mat-error *ngIf="!key.valid"
                     i18n="@@labelKeyEmptyError">
            Can't be empty or contain a colon.
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex>
          <input #newValue matInput placeholder="Value" formControlName="value"
                 i18n-placeholder="@@labelFormAddNewValuePlaceholder">
          <mat-error *ngIf="!value.valid"
                     i18n="@@labelValueEmptyError">
            Can't be empty.
          </mat-error>
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button color="accent"
                *ngIf="showUpdate"
                [disabled]="!(labelForm.valid && labelForm.dirty)"
                (click)="onUpdateLabel(newKey.value, newValue.value)">OK
        </button>
        <button i18n="@@commonButtonCancel" mat-button
                (click)="onAbort()">CANCEL
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>


