<form [formGroup]="form" fxFlex>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <span>WARC Error</span>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayout="row wrap" fxLayoutGap="24px">
      <div fxFlex fxLayout="column">
        <mat-form-field>
          <input matInput
                 formControlName="error"
                 placeholder="Error">
        </mat-form-field>
        <mat-form-field>
          <input matInput
                 formControlName="errorText"
                 placeholder="Message">
        </mat-form-field>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary">
        Behandle feil
      </button>
      <button mat-raised-button color="accent">
        Tilbakestill
      </button>
    </mat-card-actions>
  </mat-card>
</form>
