<form [formGroup]="form" class="content-padding">
  <mat-card>
    <mat-card-header>
      <mat-icon mat-card-avatar>notes</mat-icon>
      <mat-card-title>Loggnivå</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ng-container formArrayName="logLevelList" *ngFor="let logLevelItem of logLevelList.controls; let i=index">
        <div [formGroupName]="i" fxLayout="row" fxLayoutGap="1em">
          <mat-form-field fxFlex="2 1 100%">
            <input matInput formControlName="logger" placeholder="Logger"
                   i18n-placeholder="@@logconfigFormLoggerPlaceholder">
            <mat-error *ngIf="!logLevelItem.get('logger').valid">Feltet kan ikke være tomt</mat-error>
          </mat-form-field>
          <mat-form-field fxFlex>
            <mat-select formControlName="level" placeholder="Nivå"
                        i18n-placeholder="@@logconfigFormLevelPlaceholder">
              <mat-option *ngFor="let level of levelOptions" [value]="level">{{level}}</mat-option>
            </mat-select>
            <mat-error *ngIf="!logLevelItem.get('level').valid">Feltet er påkrevd</mat-error>
          </mat-form-field>

          <button mat-button (click)="onDelete(i)" *ngIf="canEdit">
            <span>FJERN</span>
          </button>
        </div>
      </ng-container>


    </mat-card-content>
    <mat-card-actions *ngIf="canEdit">
      <button mat-raised-button color="accent"
              [disabled]="!canSave"
              (click)="onSave()"
              i18n="@@commonButtonSave">LAGRE
      </button>
      <button mat-button
              (click)="onRevert()"
              [disabled]="!canRevert"
              i18n="@@commonButtonRevert">TILBAKESTILL
      </button>
      <span fxFlex></span>
      <button mat-flat-button
              color="primary"
              (click)="onAdd()">LEGG TIL
      </button>
    </mat-card-actions>
  </mat-card>
</form>
