@import "src/styles/theme";

// cast shade on rows when hovered
tr.item-row:nth-child(2n+1):hover {
  background-color: $dark-focused;
}

// odd numbered rows (taking preview rows into account, eg. "4n") have brighter background color
tr.item-row:nth-child(2n+1) {
  background-color: lighten($dark-focused, 80%);
}

// preview rows have same background color as sibling
tr.item-row:nth-child(2n+1) + tr.preview-row {
  background-color: lighten($dark-focused, 80%);
}
