<div class="list-container__margin mat-elevation-z1">
  <table class="mat-table" *ngIf="selection.selected.length > 1">
    <tr class="mat-row">
      <td class="mat-cell" *ngIf="!allSelected">
        <span><strong>{{selection.selected.length}}</strong> konfigurasjoner er markert. </span>
        <button mat-button *ngIf="!embedded && isAllInPageSelected" (click)="onSelectAll()">
          MARKER ALLE KONFIGURASJONENE I DATABASEN
        </button>
      </td>
      <td class="mat-cell" *ngIf="!embedded && allSelected">
        <span>Alle <b>{{pageLength || ''}}</b> konfigurasjonene i databasen er markert. </span>
        <button mat-button (click)="onDeselectAll()">FJERN MARKERINGEN</button>
      </td>
    </tr>
  </table>

  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef class="checkbox-padding">
        <mat-checkbox #masterCheckbox
                      (change)="onMasterCheckboxToggle(masterCheckbox.checked)"
                      [checked]="selection.hasValue() && isAllInPageSelected"
                      [indeterminate]="selection.hasValue() && !isAllInPageSelected">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row" class="checkbox-padding">
        <mat-checkbox [checked]="selection.isSelected(row)"
                      (click)="$event.stopPropagation()"
                      (change)="onCheckboxToggle(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Navn</th>
      <td mat-cell *matCellDef="let row">{{row.meta.name}}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Beskrivelse</th>
      <td mat-cell *matCellDef="let row">{{row.meta.description}}</td>
    </ng-container>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>

    <ng-container matColumnDef="clone">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row" (click)="$event.stopPropagation()">
        <button mat-icon-button (click)="onClone(row)" *ngIf="selectionCount<2">
          <mat-icon style="color: lightgrey">file_copy</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"
        [ngClass]="isSelected(row) ? 'row-selected' : isChecked(row) ? 'row-checked': ''"
        (click)="onRowClick(row)"></tr>
  </table>

  <mat-paginator
    (page)="onPage($event)"
    [ngClass]="paginator?.length === 0 ? 'hide-mat-paginator-range-label' : ''"
    [length]="paginator?.length"
    [pageIndex]="pageIndex"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageOptions">
  </mat-paginator>
</div>
