@import "src/styles/theme";

table {
  width: 100%;
}

// because next column is too close to checkbox without padding
.checkbox-padding {
  padding-right: 16px;
}

// the action buttons for checked rows are aligned right
.action-cell {
  text-align: right;
}

// cast shade on row when checked
//tr.item-row.row-checked {
//  background-color: lighten($dark-focused, 50%);
//}

// set different text color when row is disabled
tr.item-row.row-disabled td {
  color: $warn;
}

tr.item-row:hover {
  cursor: pointer;
  background-color: $dark-focused;
}

tr.preview-row {
  height: 0;

  td {
    border-bottom-width: 0;
  }

  td.preview-cell {
    border-bottom-width: 1px;
  }
}

tr.item-row.row-selected td {
  border-bottom-style: dashed;
}

// the master toggle checkbox row is special
tr.mat-row.no-interaction {
  cursor: default;
  background-color: inherit;
}

tr.item-row td {
  // border-bottom-width: 0;
}

tr.item-row.row-selected td {
  // border-bottom-width: 1px;
}

.mat-column-name {
  padding-right: 10px;
  max-width: 0px;
  width: 50%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.mat-column-description {
  padding-right: 10px;
  max-width: 0px;
  width: 50%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.mat-column-action {
  text-align: right;
}

// highlight row when navigating with keyboard
tr.item-row.highlight {
  background-color: $dark-focused !important;
}


