<form [formGroup]="form">
  <mat-card>
    <mat-card-header>
      <mat-icon mat-card-avatar>link</mat-icon>
      <mat-card-title>
        <ng-container i18n="@@seedDetailsCardTitle">Seed</ng-container>
      </mat-card-title>
      <mat-card-subtitle *ngIf="!configObject.id">
        <span i18n="@@seedDetailsCardSubtitle">Ny (ikke lagret)</span>
      </mat-card-subtitle>
      <span fxFlex></span>
      <div (click)="disabled.disabled ? disabled.enable(): null">
        <mat-slide-toggle class="disabled-toggle"
                          color="warn"
                          formControlName="disabled"
                          i18n="@@seedDisabledToggleSwitch"
                          [matTooltip]="disabled.disabled ?
                            'Instillingen for valgte konfigurasjoner er ikke lik. Klikk her og sett ønsket verdi for å overstyre alle, eller la stå for å beholde konfigurasjonenes opprinnelige verdi'
                            : null">
          Deaktivert
        </mat-slide-toggle>
      </div>
    </mat-card-header>
    <mat-card-content fxLayout="row wrap" fxLayoutGap="24px">
      <div fxFlex fxLayout="column">
        <app-meta formControlName="meta"
                  [nameIsUrl]="true"
                  [id]="configObject.id">
        </app-meta>
        <mat-form-field *ngIf="configObject.id">
          <input matInput
                 formControlName="id"
                 placeholder="Id"
                 readonly
                 i18n-placeholder="@@seedFormIdPlaceholder">
        </mat-form-field>
        <ng-container formGroupName="entityRef">
          <mat-form-field *ngIf="configObject?.id">
            <input matInput formControlName="id"
                   placeholder="Entitetens Id"
                   readonly
                   i18n-placeholder="@@metaEntityIdInputPlaceholder">
          </mat-form-field>
        </ng-container>
      </div>

      <div fxFlex fxLayout="column">
        <mat-form-field>
          <mat-select placeholder="CrawlJob" multiple formControlName="jobRefListId">
            <mat-option *ngFor="let crawlJob of crawlJobs"
                        [value]="crawlJob.id">{{crawlJob.meta.name}}</mat-option>
          </mat-select>
        </mat-form-field>

        <ng-container *ngIf="meta.errors?.name?.seedExists">
          <mat-error>
            Andre entiteter inneholder seed med samme url som er skrevet inn
          </mat-error>
            <mat-chip-list fxLayout="row wrap"
                           fxLayoutGap="8px">
              <mat-chip class="mat-chip-error"
                        *ngFor="let seed of meta.errors.name.seedExists"
                        (removed)="onRemoveExistingUrl(seed.meta.name)">
                <button mat-icon-button>
                  <mat-icon matTooltip="Flytt seed til denne entiteten"
                            (click)="onMoveSeedToCurrentEntity(seed)">arrow_back
                  </mat-icon>
                </button>
                <a class="mat-chip-error"
                   target="_blank"
                   matTooltip="Gå til entiten som allerede har en seed med lik url"
                   [routerLink]="['../search']"
                   [queryParams]="{id: seed.seed.entityRef.id}">
                  {{seed.meta.name}}
                </a>
                <mat-icon matTooltip="Fjern url fra listen" matChipRemove>cancel</mat-icon>
              </mat-chip>
            </mat-chip-list>
        </ng-container>

        <mat-form-field formGroupName="scope" *ngIf="configObject?.id">
          <input matInput
                 formControlName="surtPrefix"
                 placeholder="Surt prefiks"
                 i18n-placeholder="@@seedFormSurtPrefixPlaceholder">
        </mat-form-field>

        <mat-list *ngIf="configObject?.id">
          <mat-list-item>
            <mat-icon matTooltip="Seed">link</mat-icon>&nbsp;
            <a class="shortcut-link"
               [routerLink]="['/config/seed']"
               [queryParams]="{id: configObject.id}">Seed</a>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matTooltip="Entity">business</mat-icon>&nbsp;
            <a class="shortcut-link"
               [routerLink]="['/config/entity']"
               [queryParams]="{id: entityRef.value.id}">Entitet</a>
          </mat-list-item>
          <mat-list-item *ngFor="let id of jobRefListId.value">
            <mat-icon matTooltip="CrawlJob">work</mat-icon>&nbsp;
            <a class="shortcut-link"
               [routerLink]="['/config/crawljobs']"
               [queryParams]="{id: id}">{{ getCrawlJobName(id) }}</a>
          </mat-list-item>
        </mat-list>

      </div>
    </mat-card-content>

    <mat-card-actions *ngIf="canEdit">
      <button mat-raised-button color="accent"
              *ngIf="showSave"
              [disabled]="!canSave"
              (click)="onSave()"
              i18n="@@commonButtonSave">LAGRE
      </button>
      <button mat-raised-button color="accent"
              *ngIf="!showSave"
              [disabled]="!canUpdate"
              (click)="onUpdate()"
              i18n="@@commonButtonSave">OPPDATER
      </button>
      <button mat-button
              [disabled]="!canRevert"
              (click)="onRevert()"
              i18n="@@commonButtonRevert">TILBAKESTILL
      </button>
      <span fxFlex></span>
      <button mat-button
              *ngIf="!showSave"
              (click)="onDelete()"
              i18n="@@commonButtonDelete">SLETT
      </button>
    </mat-card-actions>
  </mat-card>
</form>
