<form [formGroup]="form">
  <mat-card>
    <mat-card-header>
      <mat-icon mat-card-avatar>business</mat-icon>
      <mat-card-title>
        <ng-container i18n="@@entityDetailsCardTitle">ENTITET</ng-container>
      </mat-card-title>
      <mat-card-subtitle>
        <span *ngIf="showSave"
          i18n="@@entityDetailsCardSubtitle">Ny (ikke lagret)</span>
      </mat-card-subtitle>
      <span class="fill-space"></span>
      <button mat-icon-button (click)="onClearClicked()"><mat-icon>clear</mat-icon></button>
    </mat-card-header>
    <mat-card-content fxLayout="row wrap" fxLayoutGap="24px">
      <div fxFlex fxLayout="column">
        <app-meta formControlName="meta"></app-meta>
        <mat-form-field *ngIf="!showSave">
          <input matInput
                 formControlName="id"
                 placeholder="Id"
                 i18n-placeholder="@@metaIdInputPlaceholder">
        </mat-form-field>
      </div>

      <div fxFlex fxLayout="column">
        <ng-content></ng-content>
      </div>
    </mat-card-content>

    <mat-card-actions *ngIf="canEdit">
      <button mat-raised-button color="primary"
              *ngIf="showSave" [disabled]="!form.valid"
              (click)="onSave()"
              i18n="@@commonButtonSave">Lagre
      </button>
      <button mat-raised-button color="primary"
              *ngIf="!showSave" [disabled]="!form.dirty || !form.valid"
              (click)="onUpdate()"
              i18n="@@commonButtonSave">Oppdater
      </button>
      <button mat-raised-button color="accent"
              (click)="onRevert()"
              [disabled]="!form.dirty"
              i18n="@@commonButtonRevert">Tilbakestill
      </button>
      <button mat-raised-button color="warn"
              *ngIf="!showSave"
              (click)="onDelete()"
              i18n="@@commonButtonDelete">Slett
      </button>
    </mat-card-actions>
  </mat-card>
</form>
