<div fxLayout="column" *ngIf="'read' | able: 'annotation'">
  <form>
    <mat-form-field>
      <mat-chip-list [disabled]="disabled" #chipList fxLayout="row wrap" fxLayoutGap="8px">
        <ng-container *ngFor="let group of groups$ | async">
          <mat-chip *ngFor="let value of group.values"
                    [selectable]="canUpdate"
                    [removable]="removable"
                    (removed)="onRemoveAnnotation(group.key, value)"
                    (click)="onClickAnnotation(group.key, value)"
                    color="primary" selected>
            {{group.key + ':' + value}}
            <mat-icon matChipRemove *ngIf="removable && !disabled">cancel</mat-icon>
          </mat-chip>
        </ng-container>
        <input #chipInput
               matInput
               [formControl]="control"
               placeholder="Annotation"
               i18n-placeholder="@@annotationChipListPlaceholder"
               [matChipInputFor]="chipList"
               [matChipInputSeparatorKeyCodes]="annotationInputSeparators"
               (matChipInputTokenEnd)="onSave($event)"
        >
      </mat-chip-list>
    </mat-form-field>
  </form>

  <form [formGroup]="annotationForm" *ngIf="canUpdate && annotationForm.enabled">
    <mat-card class="label-form">
      <mat-card-header>
        <mat-icon mat-card-avatar>note</mat-icon>
        <mat-card-title i18n="@@annotationEditCardTitle">Edit annotation</mat-card-title>
      </mat-card-header>
      <mat-card-content class="newLabelCard" fxLayout="row" fxLayoutGap="16px">
        <mat-form-field fxFlex>
          <input #newKey matInput placeholder="Key" formControlName="key"
                 i18n-placeholder="@@annotationFormAddNewKeyPlaceholder">
          <mat-error *ngIf="!key.valid"
                     i18n="@@annotationKeyEmptyError">
            Can't be empty or contain a colon.
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex>
          <input #newValue matInput placeholder="Value" formControlName="value"
                 i18n-placeholder="@@annotationFormAddNewValuePlaceholder">
          <mat-error *ngIf="!value.valid"
                     i18n="@@annotationValueEmptyError">
            Can't be empty.
          </mat-error>
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button color="accent"
                *ngIf="showUpdate"
                [disabled]="!(annotationForm.valid && annotationForm.dirty)"
                (click)="onUpdateAnnotation(newKey.value, newValue.value)">OK
        </button>
        <button i18n="@@commonButtonCancel" mat-button
                (click)="onAbort()">CANCEL
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
