<form [formGroup]="form" fxFlex>
<mat-card>
  <mat-card-header>
    <mat-card-title>
      <span i18n="@@collectionDetailsHeader">Collection</span>
    </mat-card-title>
    <mat-card-subtitle>
        <span *ngIf="!configObject.id"
              i18n="@@collectionNewCollectionHeader">Ny (ikke lagret)</span>
    </mat-card-subtitle>
    <span fxFlex></span>
    <mat-slide-toggle i18n="@@collectionFormCompressLabel"
                      formControlName="compress">
      Komprimer
    </mat-slide-toggle>
  </mat-card-header>
  <mat-card-content fxLayout="row wrap" fxLayoutGap="24px">
    <div fxFlex fxLayout="column">
      <app-meta formControlName="meta" [shouldShow]="shouldShow"></app-meta>
      <mat-form-field *ngIf="!showSave && shouldShow">
        <input matInput
               formControlName="id"
               placeholder="Id"
               i18n-placeholder="@@configIdPlaceholder">
      </mat-form-field>
    </div>
    <div fxFlex fxLayout="column">
        <mat-form-field>
          <mat-select placeholder="Deduplisering policy"
                      formControlName="collectionDedupPolicy"
                      i18n-placeholder="@@collectionDedupPolicyDropdownPlaceholder"
          >
            <mat-option *ngFor="let policy of rotationPolicies" [value]="policy">{{policy}}</mat-option>
          </mat-select>
        </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Filrotasjon policy"
                    formControlName="fileRotationPolicy"
                    i18n-placeholder="@@collectionFileRotationPolicyDropdownPlaceholder"
        >
          <mat-option *ngFor="let policy of rotationPolicies" [value]="policy">{{policy}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput
               formControlName="fileSize"
               placeholder="Filstørrelse"
               i18n-placeholder="@@collectionFormFilesizePlaceholder">
        <mat-error *ngIf="!fileSize.valid"
                   i18n="@@politenessconfigFormMinRobotsValidDurationRequiredError">
          Må være et tall.
        </mat-error>
      </mat-form-field>
      <mat-toolbar>
        <span i18n="@@collectionFromSubCollectionToolbarTitle">Subcollection</span>
        <span class="fill-space"></span>
        <button mat-mini-fab (click)="onAddSubCollection()" *ngIf="canEdit">
          <mat-icon>add</mat-icon>
        </button>
      </mat-toolbar>

      <div formArrayName="subCollectionsList" style="padding: 24px;">
        <ng-container *ngFor="let subCollectionsList of subCollectionControlArray.controls; let i=index">
          <div [formGroupName]="i" fxLayout="row" fxLayoutGap="24px">
            <mat-form-field fxFlex>
              <input matInput formControlName="name" placeholder="Navn"
              i18n-placeholer="@@collectionFormSubCollectionNamePlaceholder">
            </mat-form-field>
            <mat-form-field>
              <mat-select placeholder="Subcollection type"
                          formControlName="type"
                          i18n-placeholder="@@collectionSubCollectionTypeDropdownPlaceholder"
              >
                <mat-option *ngFor="let type of subCollectionTypes" [value]="type">{{type}}</mat-option>
              </mat-select>
            </mat-form-field>
            <button matSuffix mat-icon-button
                    (click)="onRemoveSubCollection(i)"
                    *ngIf="canEdit">
              <mat-icon color="warn">close</mat-icon>
            </button>
          </div>
        </ng-container>
      </div>

    </div>
  </mat-card-content>

  <mat-card-actions *ngIf="canEdit">
    <button mat-raised-button color="primary"
            *ngIf="showSave"
            [disabled]="!canSave"
            (click)="onSave()"
            novalidate
            i18n="@@commonButtonSave">
      Lagre
    </button>
    <button mat-raised-button color="primary"
            *ngIf="!showSave"
            [disabled]="!canUpdate"
            (click)="onUpdate()"
            i18n="@@commonButtonSave">
      Oppdater
    </button>
    <button mat-raised-button color="accent"
            (click)="onRevert()"
            [disabled]="!canRevert"
            i18n="@@commonButtonRevert">
      Tilbakestill
    </button>
    <button mat-raised-button color="warn"
            *ngIf="!showSave"
            (click)="onDelete(); $event.stopPropagation()"
            i18n="@@commonButtonDelete">
      Slett
    </button>
  </mat-card-actions>
</mat-card>
</form>
