.crawlerRunningButton {
  color: forestgreen;
  float: left;
  font-size: 2.0em;
  margin-top: -0.1em;
}

.crawlerRunningButton .mat-icon {
  vertical-align: top;
  font-size: 1.25em;
  color: black;
}

.crawlerPausedButton {
  color: darkred;
  float: left;
  font-size: 2.0em;
  margin-top: -0.1em;
}

.crawlerPausedButton .mat-icon {
  vertical-align: top;
  font-size: 1.25em;
  color: black;
}

