<mat-nav-list>
  <ng-container [ngSwitch]="configObject.kind">

    <ng-container *ngSwitchCase="Kind.CRAWLJOB">
      <h2 mat-subheader>Shortcuts</h2>
      <a mat-list-item
         [routerLink]="['../seed']"
         [queryParams]="{crawl_job_id: configObject.id}"
         matTooltip="Show seeds with reference to the crawljob"
         i18n-matTooltip="@@crawljobListFilterSeedsWithCrawljobActionButtonTooltip">
        <mat-icon mat-list-icon>link</mat-icon>
        Show seed with crawljob
      </a>
    </ng-container>

    <ng-container *ngSwitchCase="Kind.CRAWLCONFIG">
      <h2 mat-subheader>Shortcuts</h2>
      <ng-container *ngIf="configObject.crawlConfig?.collectionRef?.id">
        <a mat-list-item
           [routerLink]="['../collection']"
           [queryParams]="{id: configObject.crawlConfig.collectionRef?.id}">
          <mat-icon matTooltip="Go to collection: {{configObject | getCollectionName | async}}"
                    i18n-matTooltip="@@crawlConfigListGoToCollectionActionButtonTooltip">collections_bookmark
          </mat-icon>
        </a>
      </ng-container>
      <ng-container *ngIf="configObject.crawlConfig?.browserConfigRef?.id">
        <a mat-icon-button class="shortcut-link"
           [routerLink]="['../browserconfig']"
           [queryParams]="{id: configObject.crawlConfig.browserConfigRef?.id}">
          <mat-icon matTooltip="Go to browserconfig: {{configObject | getBrowserConfigName | async}}"
                    i18n-matTooltip="@@crawlConfigListGoToBrowserConfigActionButtonTooltip">web
          </mat-icon>
        </a>
      </ng-container>

      <ng-container *ngIf="configObject.crawlConfig?.politenessRef?.id">
        <a mat-icon-button class="shortcut-link"
           [routerLink]="['../politenessconfig']"
           [queryParams]="{id: configObject.crawlConfig.politenessRef?.id}">
          <mat-icon matTooltip="Go to politenessconfig: {{configObject | getPolitenessConfigName | async}}"
                    i18n-matTooltip="@@crawlConfigListGoToPolitenessActionButtonTooltip">
            sentiment_very_satisfied
          </mat-icon>
        </a>
      </ng-container>
    </ng-container>
  </ng-container>
</mat-nav-list>
