<div fxLayout="column">
  <mat-label><b>User agent: </b> {{configObject.browserConfig.userAgent}}</mat-label>
  <mat-label><b>Window width: </b> {{configObject.browserConfig.windowWidth}}</mat-label>
  <mat-label><b>Window height: </b> {{configObject.browserConfig.windowHeight}}</mat-label>
  <mat-label><b>Page load timeout: </b> {{configObject.browserConfig.pageLoadTimeoutMs}}</mat-label>
  <mat-label><b>Max inactivity time: </b>{{configObject.browserConfig.maxInactivityTimeMs}}</mat-label>
  <mat-label><b>BrowserScripts:</b></mat-label>
  <ul *ngFor="let script of configObject.browserConfig.scriptRefList">
    <li>{{script.id}}</li>
  </ul>
  <mat-chip-list>
    <mat-chip *ngFor="let scriptSelector of configObject.browserConfig.scriptSelectorList">
      {{scriptSelector}}
    </mat-chip>
  </mat-chip-list>
</div>
