<h2 i18n="@@browserscriptListHeader">Browserscripts</h2>
<mat-nav-list>
  <mat-list-item
    *ngFor="let browserscript of browserScripts" (click)="selectBrowserScript(browserscript)"
    [class.active]="browserscript === selectedBrowserScript">
    {{browserscript.meta.name}}

  </mat-list-item>
</mat-nav-list>
<button mat-raised-button color="primary"
        (click)="createNewBrowserScript()"
        i18n="@@commonButtonNew">Ny
</button>

<ng-container *ngIf="selectedBrowserScript">
  <app-browserscript-details
    [browserScript]="selectedBrowserScript"
    [createHandler]="addBrowserScript"
    [updateHandler]="updateBrowserScript"
    [deleteHandler]="deleteBrowserScript">
  </app-browserscript-details>
</ng-container>
