<h2>Browserscripts</h2>
<md-nav-list>
  <md-list-item
    *ngFor="let browserscript of browserscripts" (click)="selectBrowserscript(browserscript)"
    [class.active]="browserscript === selectedBrowserscript">
    {{browserscript.meta.name}}

  </md-list-item>
</md-nav-list>
<button md-raised-button color="primary"
        (click)="createNewBrowserscript()">New
</button>

<ng-container *ngIf="selectedBrowserscript">
  <app-browserscript-details
    [browserscript]="selectedBrowserscript"
    [createHandler]="addBrowserscript"
    [updateHandler]="updateBrowserscript"
    [deleteHandler]="deleteBrowserscript">
  </app-browserscript-details>
</ng-container>
