@import "../../../../styles/theme";

.search-container {
  padding: 0 16px 0 24px;
}

.search-form.mat-form-field {
  width: 100%;
  font-size: 18px;
}

.search-form .mat-button {
  font-size: inherit;
  height: inherit;
}
