<h2 i18n="@@browserconfigListHeader">Browserconfigs</h2>
<mat-nav-list>
  <mat-list-item
    *ngFor="let browserconfig of browserConfigs" (click)="selectBrowserConfig(browserconfig)"
    [class.active]="browserconfig === selectedBrowserConfig">
    {{browserconfig.meta.name}}

  </mat-list-item>
</mat-nav-list>
<button mat-raised-button color="primary"
        (click)="onCreateNewBrowserConfig()"
        i18n="@@commonButtonNew">Ny
</button>

<ng-container *ngIf="selectedBrowserConfig">
  <app-browserconfig-details
    [browserConfig]="selectedBrowserConfig"
    (created)="onBrowserConfigCreated($event)"
    (updated)="onBrowserConfigUpdated($event)"
    (deleted)="onBrowserConfigDeleted($event)">
  </app-browserconfig-details>
</ng-container>
