<h2>Browserconfigs</h2>
<md-nav-list>
  <md-list-item
    *ngFor="let browserconfig of browserconfigs" (click)="selectBrowserconfig(browserconfig)"
    [class.active]="browserconfig === selectedBrowserconfig">
    {{browserconfig.meta.name}}

  </md-list-item>
</md-nav-list>
<button md-raised-button color="primary"
        (click)="createNewBrowserconfig()">New
</button>

<ng-container *ngIf="selectedBrowserconfig">
  <app-browserconfig-details
    [browserconfig]="selectedBrowserconfig"
    [createHandler]="addBrowserconfig"
    [updateHandler]="updateBrowserconfig"
    [deleteHandler]="deleteBrowserconfig">
  </app-browserconfig-details>
</ng-container>
