<mat-nav-list>
  <div mat-subheader i18n="@@actionShortcutListTitle">
    Actions
  </div>
  <ng-container [ngSwitch]="configObject.kind">

    <ng-container *ngSwitchCase="Kind.CRAWLENTITY">
      <a mat-list-item
         *ngIf="'create' | able: Kind[Kind.SEED]"
         (click)="onCreateSeed()"
         matTooltip="Create a new seed with reference to the entity"
         i18n-matTooltip="@@crawlEntityListCreateSeedActionButtonTooltip">
        <mat-icon mat-list-icon>add_circle</mat-icon>
        Create Seed
      </a>
    </ng-container>

    <ng-container *ngSwitchCase="Kind.SEED">
      <a mat-list-item
         *ngIf="'runCrawl' | able: Kind[Kind.SEED]"
         (click)="onRunCrawl()">
        <mat-icon mat-list-icon>play_arrow</mat-icon>
        Crawl seed
      </a>
    </ng-container>

    <ng-container *ngSwitchCase="Kind.CRAWLJOB">
      <a mat-list-item
         *ngIf="'runCrawl' | able: Kind[Kind.CRAWLJOB]"
         (click)="onRunCrawl()">
        <mat-icon mat-list-icon>play_arrow</mat-icon>
        Run crawljob
      </a>
    </ng-container>

  </ng-container>
  <a mat-list-item
     *ngIf="'create' | able: Kind[this.configObject.kind]"
     (click)="onClone()">
    <mat-icon mat-list-icon>file_copy</mat-icon>
    Clone
  </a>
</mat-nav-list>
