<mat-nav-list>
  <h2 mat-subheader>Actions</h2>
  <ng-container [ngSwitch]="configObject.kind">

    <ng-container *ngSwitchCase="Kind.CRAWLENTITY">
      <a mat-list-item
         (click)="onCreateSeed()"
         matTooltip="Create a new seed with reference to the entity"
         i18n-matTooltip="@@crawlEntityListCreateSeedActionButtonTooltip">
        <mat-icon mat-list-icon>add_circle</mat-icon>
        Crate new seed for entity
      </a>
    </ng-container>

    <ng-container *ngSwitchCase="Kind.SEED">
      <a mat-list-item
         (click)="onRunCrawl()"
         matTooltip="Start crawling seed: {{configObject.meta.name}}"
         i18n-matTooltip="@@seedListRunCrawlActionButtonTooltip">
        <mat-icon mat-list-icon>play_arrow</mat-icon>
        Run crawl
      </a>
    </ng-container>

    <ng-container *ngSwitchCase="Kind.CRAWLJOB">
      <a mat-list-item
         (click)="onRunCrawl()"
         matTooltip="Run crawljob: {{configObject.meta.name}}">
        <mat-icon mat-list-icon>play_arrow</mat-icon>
        Run crawljob
      </a>
    </ng-container>

  </ng-container>
  <a mat-list-item
     (click)="onClone()"
     matTooltip="Clone"
     i18n-matTooltip="@@configurationListCloneActionButtonTooltip">
    <mat-icon mat-list-icon>file_copy</mat-icon>
    Clone config
  </a>
</mat-nav-list>
