<form [formGroup]="form">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <span i18n="@@browserconfigDetailsHeader">Browserconfig</span>
      </mat-card-title>
      <mat-card-subtitle>
        <span *ngIf="!browserConfig.id"
              i18n="@@browserconfigNewConfigHeader">
        Ny (ikke lagret)</span>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content fxLayout="row" fxLayoutWrap>
      <div fxFlex fxLayout="column">
        <ng-container formGroupName="meta">

          <mat-form-field>
            <input matInput formControlName="name" placeholder="Navn"
                   i18n-placeholder="@@metaNameInputPlaceholder">
            <mat-error *ngIf="!name.valid"
                       i18n="@@metaNameRequiredError">
              Navn er påkrevd.
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput formControlName="description" placeholder="Beskrivelse"
                   i18n-placeholder="@@metaDescriptionInputPlaceholder">
          </mat-form-field>
        </ng-container>

        <mat-form-field>
          <input matInput formControlName="user_agent" placeholder="Brukeragent"
                 i18n-placeholder="@@browserconfigFormUserAgentPlaceholder">
          <mat-error *ngIf="!user_agent.valid"
                     i18n="@@browserconfigFormUserAgentRequiredError">
            Brukeragent er påkrevd.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput formControlName="window_width" placeholder="Vindusbredde"
                 i18n-placeholder="@@browserconfigFormWindowWidthPlaceholder">
          <mat-error *ngIf="!window_width.valid"
                     i18n="@@browserconfigFormWindowWidthRequiredError">
            Vindusbredde er påkrevd.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput formControlName="window_height" placeholder="Vindushøyde"
                 i18n-placeholder="@@browserconfigFormWindowHeightPlaceholder">
          <mat-error *ngIf="!window_height.valid"
                     i18n="@@browserconfigFormWindowHeightRequiredError">
            Vindushøyde er påkrevd.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput formControlName="page_load_timeout_ms" placeholder="Page load timeout in ms"
                 i18n-placeholder="@@browserconfigFormPageLoadTimeoutPlaceholder">
          <mat-error *ngIf="!page_load_timeout_ms.valid"
                     i18n="@@browserconfigFormPageLoadTimeoutRequiredError">
            Page load timeout er påkrevd.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput formControlName="sleep_after_pageload_ms" placeholder="Sleep after pageload ms"
                 i18n-placeholder="@@browserconfigFormSleepAfterPageLoadPlaceholder">
          <mat-error *ngIf="!sleep_after_pageload_ms.valid"
                     i18n="@@browserconfigFormSleepAfterPageLoadRequiredError">
            Sleep after pageload er påkrevd.
          </mat-error>
        </mat-form-field>
        <div *ngIf="!showSave">
          <div fxLayout="row">
            <mat-form-field class="extra-metadata__input">
              <input matInput
                     formControlName="id"
                     placeholder="Id"
                     i18n-placeholder="@@configIdPlaceholder">
            </mat-form-field>
          </div>
          <ng-container formGroupName="meta">
            <div fxLayout="row" fxLayoutGap="1em">
              <mat-form-field formGroupName="created" class="extra-metadata__input">
                <input matInput
                       formControlName="seconds"
                       placeholder="Opprettet"
                       i18n-placeholder="@@metaCreatedInputPlaceholder">
              </mat-form-field>

              <mat-form-field class =extra-metadata__input--narrow>
                <input matInput
                       formControlName="created_by"
                       placeholder="Opprettet av"
                       i18n-placeholder="@@metaCreatedByInputPlaceholder">
              </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutGap="1em">
              <mat-form-field formGroupName="last_modified" class="extra-metadata__input">
                <input matInput
                       formControlName="seconds"
                       placeholder="Sist endret"
                       i18n-placeholder="@@metaLastModifiedInputPlaceholder">
              </mat-form-field>

              <mat-form-field class="extra-metadata__input--narrow">
                <input matInput
                       formControlName="last_modified_by"
                       placeholder="Sist endret av"
                       i18n-placeholder="@@metaLastModifiedByInputPlaceholder">
              </mat-form-field>
            </div>
          </ng-container>
        </div>
      </div>
        <div fxFlex fxLayout="column" fxLayoutGap="1em">

          <div class="browserScriptDropdown">
            <mat-form-field>
              <mat-select placeholder="Velg browser script" formControlName="script_id"  multiple
                          i18n-placeholder="@@politenessconfigFormRobotPolicyDropdownPlaceholder">
                <mat-option *ngFor="let script of browserScriptList" [value]="script.id">{{script.itemName}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-error *ngIf="!script_id.valid  && !form.disabled"
                       i18n="@@browserconfigFormScriptsRequiredError">
              Scripts påkrevd.
            </mat-error>
          </div>

          <app-labels type="Selector" formControlName="script_selector"></app-labels>

          <ng-container formGroupName="meta">
            <app-labels type="Label" formControlName="label"></app-labels>
          </ng-container>
        </div>
    </mat-card-content>
    <mat-card-actions *ngIf="isAdmin">
      <button mat-raised-button color="primary"
              [disabled]="!canSave"
              *ngIf="showSave"
              (click)="onSave()" novalidate
              i18n="@@commonButtonSave">
        Lagre
      </button>
      <button mat-raised-button color="primary"
              *ngIf="!showSave"
              [disabled]="!canUpdate"
              (click)="onUpdate()"
              i18n="@@commonButtonSave">
        Oppdater
      </button>
      <button mat-raised-button color="accent"
              (click)="onRevert()"
              [disabled]="!canRevert"
              i18n="@@commonButtonRevert">
        Tilbakestill
      </button>
      <button mat-raised-button color="warn"
              *ngIf="!showSave"
              (click)="onDelete(); $event.stopPropagation()"
              i18n="@@commonButtonDelete">
        Slett
      </button>
    </mat-card-actions>
  </mat-card>
</form>
