<form [formGroup]="form">
  <md-card>
    <md-card-header>
      <md-card-title>
        <span i18n="@@browserconfigDetailsHeader">Browserconfig</span>
      </md-card-title>
      <md-card-subtitle>
        <span *ngIf="!browserConfig.id"
              i18n="@@browserconfigNewConfigHeader">
        Ny (ikke lagret)</span>
      </md-card-subtitle>
    </md-card-header>
    <md-card-content fxLayout="row" fxLayoutWrap>
      <div fxFlex fxLayout="column">
        <ng-container formGroupName="meta">

          <md-form-field>
            <input mdInput formControlName="name" placeholder="Navn"
                   i18n-placeholder="@@metaNameInputPlaceholder">
            <md-error *ngIf="! form.controls.meta.valid"
                      i18n="@@metaNameRequiredError">
              Navn er påkrevd.
            </md-error>
          </md-form-field>

          <md-form-field>
            <input mdInput formControlName="description" placeholder="Beskrivelse"
                   i18n-placeholder="@@metaDescriptionInputPlaceholder">
          </md-form-field>
        </ng-container>

        <md-form-field>
          <input mdInput formControlName="user_agent" placeholder="Brukeragent"
                 i18n-placeholder="@@browserconfigFormUserAgentPlaceholder">
          <md-error *ngIf="! form.controls.user_agent.valid"
                    i18n="@@browserconfigFormUserAgentRequiredError">
            Brukeragent er påkrevd.
          </md-error>
        </md-form-field>

        <md-form-field>
          <input mdInput formControlName="window_width" placeholder="Vindusbredde"
                 i18n-placeholder="@@browserconfigFormWindowWidthPlaceholder">
          <md-error *ngIf="! form.controls.window_width.valid"
                    i18n="@@browserconfigFormWindowWidthRequiredError">
            Vindusbredde er påkrevd.
          </md-error>
        </md-form-field>

        <md-form-field>
          <input mdInput formControlName="window_height" placeholder="Vindushøyde"
                 i18n-placeholder="@@browserconfigFormWindowHeightPlaceholder">
          <md-error *ngIf="! form.controls.window_height.valid"
                    i18n="@@browserconfigFormWindowHeightRequiredError">
            Vindushøyde er påkrevd.
          </md-error>
        </md-form-field>

        <md-form-field>
          <input mdInput formControlName="page_load_timeout_ms" placeholder="Page load timeout in ms"
                 i18n-placeholder="@@browserconfigFormPageLoadTimeoutPlaceholder">
          <md-error *ngIf="! form.controls.page_load_timeout_ms.valid"
                    i18n="@@browserconfigFormPageLoadTimeoutRequiredError">
            Page load timeout er påkrevd.
          </md-error>
        </md-form-field>

        <md-form-field>
          <input mdInput formControlName="sleep_after_pageload_ms" placeholder="Sleep after pageload ms"
                 i18n-placeholder="@@browserconfigFormSleepAfterPageLoadPlaceholder">
          <md-error *ngIf="! form.controls.sleep_after_pageload_ms.valid"
                    i18n="@@browserconfigFormSleepAfterPageLoadRequiredError">
            Sleep after pageload er påkrevd.
          </md-error>
        </md-form-field>
      </div>
      <div fxFlex fxLayout="column">
        <div>
          <label i18n="@@browserconfigFormBrowserScriptMultiselectLabel">Scripts:
            <angular2-multiselect [data]="browserScriptList"
                                  [(ngModel)]="selectedBrowserScriptItems"
                                  [settings]="browserScriptDropdownSettings"
                                  formControlName="script_id">
            </angular2-multiselect>
          </label>
          <md-error *ngIf="! form.controls.script_id.valid"
                    i18n="@@browserconfigFormScriptsRequiredError">
            Scripts påkrevd.
          </md-error>
        </div>

        <app-labels type="Selector" formControlName="script_selector"></app-labels>

        <ng-container formGroupName="meta">
          <app-labels type="Label" formControlName="label"></app-labels>
        </ng-container>
      </div>
    </md-card-content>
    <md-card-actions>
      <button md-raised-button color="primary"
              [disabled]="!form.valid"
              *ngIf="!browserConfig.id"
              (click)="createBrowserConfig(form.value)" novalidate
              i18n="@@commonButtonSave">
        Lagre
      </button>
      <button md-raised-button color="primary"
              *ngIf="browserConfig.id"
              [disabled]="!form.valid || !form.dirty"
              (click)="updateBrowserConfig(form.value)"
              i18n="@@commonButtonSave">
        Lagre
      </button>
      <button md-raised-button color="accent"
              (click)="revert()"
              [disabled]="!form.dirty"
              i18n="@@commonButtonRevert">
        Tilbakestill
      </button>
      <button md-raised-button color="warn"
              *ngIf="browserConfig.id"
              (click)="deleteBrowserConfig(browserConfig.id); $event.stopPropagation()"
              i18n="@@commonButtonDelete">
        Slett
      </button>
    </md-card-actions>
  </md-card>
</form>
