<h2 mat-dialog-title>
  <ng-container i18n="@@eventAltertnativeSeedDialogTitle">Alternative seed</ng-container>
</h2>

<mat-dialog-content *ngIf="eventObject">
  <p>Add annotation <mat-chip>scope_altSeed:{{alternativeSeed}}</mat-chip> for seed:

  <div *ngIf="eventObject | getSeedConfig | async as seed">
      <a [routerLink]="['/config','seed', configObject.id]">{{seed.meta.name}}</a>
  <div *ngIf="existingAltSeedAnnotation(seed)">
    <p>Want to add the following alternative seed to existing scope_altSeed annotation: </p>

  </div>
  <div *ngIf="!existingAltSeedAnnotation(seed)">
    <p> Want to add the following annotation:</p>
  </div>

    <div></div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="accent"
          [mat-dialog-close]="onAddAnnotation(true)"
          matTooltip="Add annotation to seed and set event status to closed">
   ADD AND CLOSE
  </button>
  <button mat-button
          [mat-dialog-close]="onAddAnnotation(false)"
          matTooltip="Add annotation but keep event status">ADD</button>
  <button mat-button mat-dialog-close i18n="@@commonButtonCancel">CANCEL</button>
</mat-dialog-actions>
