<h1 mat-dialog-title i18n="@@deleteMultiDialogTitle">Delete confirmation</h1>
<div mat-dialog-content>
  <p i18n="@@deleteMultiDialogConfirmationText">
    Are you sure you want to delete {{data.numberOfConfigs}} configurations?
  </p>

  <mat-form-field>
    <input matInput
           [(ngModel)]="numberOfConfigs"
           placeholder="Number of configurations" i18n-placeholder="@@deleteMultiDialogConfirmationInputPlaceholder"
           type="number">
    <mat-hint i18n="@@deleteMultiDialogConfirmationInputHint">Confirm number of configurations to delete</mat-hint>
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-button
          i18n="@@commonButtonCancel"
          [mat-dialog-close]="false">CANCEL
  </button>
  <span fxFlex></span>
  <button mat-raised-button
          color="warn"
          i18n="@@commonButtonDelete"
          [disabled]="data.numberOfConfigs !== numberOfConfigs"
          [mat-dialog-close]="data.numberOfConfigs === numberOfConfigs">DELETE
  </button>
</div>
