<div fxLayout="column" fxLayoutGap="8px">
  <form [formGroup]="form">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ getType() }}</mat-card-title>
        <mat-card-subtitle>{{getState()}}</mat-card-subtitle>
        <span fxFlex></span>
        <button mat-flat-button (click)="onShowInfoToggle()">
          {{showInfo ? 'Skjul detaljer' : 'Vis detaljer'}}
        </button>
      </mat-card-header>

      <mat-card-content fxLayout="column">
        <div [fxHide]="!showInfo">
          <div fxFlex fxLayout="column">
            <div fxLayout="row">
              <mat-form-field fxFlex="80">
                <mat-select placeholder="Tildelt" formControlName="assignee">
                  <mat-option *ngFor="let assignee of assigneeList"
                              [value]="assignee">
                    {{assignee}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <button matSuffix mat-flat-button (click)="onAssignToCurrentUser()" style="color: #0066ff" fxFlex="20">
                Assign to me
              </button>
            </div>

            <mat-form-field>
              <mat-select placeholder="Alvorlighetsgrad" formControlName="severity">
                <mat-option *ngFor="let severity of severities" [value]="severity">{{Severity[severity]}}</mat-option>
              </mat-select>
            </mat-form-field>

            <div fxlayout="row" fxLayoutGap="16px">
              <app-labels fxFlex kind="Merkelapp" formControlName="labelList" [removable]="canEdit"></app-labels>
              <div>
                <mat-button-toggle-group
                  [value]="shouldAddLabel"
                  (valueChange)="onToggleShouldAddLabels($event)"
                  name="shouldAddSelector">
                  <mat-button-toggle [value]="true">
                    <mat-icon>add</mat-icon>
                  </mat-button-toggle>
                  <mat-button-toggle [value]="false">
                    <mat-icon>remove</mat-icon>
                  </mat-button-toggle>
                </mat-button-toggle-group>
              </div>
            </div>

            <mat-form-field>
              <input matInput
                     readonly
                     formControlName="id"
                     placeholder="Id">
            </mat-form-field>
            <mat-form-field>
              <input matInput
                     formControlName="type"
                     placeholder="Type">
            </mat-form-field>
            <mat-form-field>
              <input matInput
                     formControlName="source"
                     placeholder="Kilde">
            </mat-form-field>
            <mat-form-field>
              <input matInput
                     readonly
                     formControlName="state"
                     placeholder="Status">
            </mat-form-field>

          </div>
        </div>

        <div [ngSwitch]="this.eventObject?.type">
          <app-event-new-seed *ngSwitchCase="'New seed'"
                              [eventObject]="this.eventObject"
                              (seedAssigned)="onSeedAssigned($event)"></app-event-new-seed>

          <app-event-warc-error *ngSwitchCase="'Warc error'"
                                [eventObject]="this.eventObject"></app-event-warc-error>
        </div>

        <mat-form-field>
          <textarea matInput
                    formControlName="comment"
                    placeholder="Kommentar"></textarea>
        </mat-form-field>

      </mat-card-content>

      <mat-card-actions *ngIf="canEdit">
        <button mat-raised-button color="primary"
                [disabled]="!canUpdate"
                (click)="onUpdate()">
          OPPDATER
        </button>
        <button mat-button
                (click)="onRevert()"
                [disabled]="!form.dirty">
          TILBAKESTILL
        </button>
        <span fxFlex></span>
        <button mat-button
                (click)="onDelete()">
          SLETT
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
  <app-changelog *ngIf="activityList.value?.length > 0" [activityList]="activityList.value"></app-changelog>
</div>
