/* You can add global styles to this file, and also import other style files */
html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
}

.material-icons {
  color: white;
}
.mdl-layout__header-row {
  background: #ffa31a;
}

div.mdl-textfield.is_dirty {
  height: 30px;
}

.mdl-layout__drawer {
  background: white;
}

.mdl-layout__title, .mdl-layout-title {
  color: white;
  background-color: #ffa31a;
}

.mdl-color--primary-dark {
  background-color: blue;
}
.mdl-textfield {
  width: 200px;
  background: 	#FF8C00;
}

.mdl-textfield__input {
  border: none;
}

.searcbox {
  height: 30px;
}

.modal-content {
  top: 200px;
}

.dropdown-list {
  z-index: 10
}

.selected-list .c-list .c-token .c-label {
  background: #FF8C00;
  width: 100px;
}
.selected-list .c-label {
  width: 100px;
}

.c-btn {
  background: grey;
}
