<div fxLayout="column" fxLayoutGap="16px">
  <div fxLayout="column">
    <div fxLayout="row">
      <mat-form-field fxFlex>
        <input matInput
               (keyup.enter)="onEnterKey($event)"
               placeholder="Søk"
               autofocus
               i18n-placeholder="@@searchSearchFieldPlaceholder">
      </mat-form-field>
    </div>
    <div>
      <mat-toolbar>
        <h1 i18n="@@searchEntityToolbarHeader">Entitet</h1>
        <span class="fill-space"></span>
        <button mat-mini-fab (click)="onCreateEntity()">
          <mat-icon matTooltipShowDelay="500"
                   matTooltip='En entitet besitter et eller flere nettsted.
                   Eks. VG (vg.no) eller Nasjonalbiblioteket (nb.no, ibsen.no, pliktavlevering.no)'
                   i18n-matTooltip="@@searchAddNewEntityTooltip">add
          </mat-icon>
        </button>
      </mat-toolbar>
      <app-base-list (onRowClick)="onSelectEntity($event)"></app-base-list>
    </div>
  </div>
  <div fxLayout="row" fxLayoutGap="16px">
    <div fxFlex>
      <app-entity-details
        [entity]="selectedEntity"
        (selectSeed)="onSelectSeed($event)"
        (createSeed)="onCreateSeed($event)">
      </app-entity-details>
    </div>
    <div fxFlex>
      <app-seed-details
        [seed]="selectedSeed"
        (seedCreated)="onSeedCreated($event)"
        (seedDeleted)="onSeedDeleted($event)">
      </app-seed-details>
    </div>
  </div>
</div>
