<h2 mat-dialog-title>
  <ng-container i18n="@@entityDetailsCardTitle">Politenessconfig</ng-container>
</h2>

<mat-dialog-content>
  <form [formGroup]="form">
    <app-meta formControlName="meta"></app-meta>
    <div fxLayout="column" fxLayoutGap="16px">
      <mat-form-field>
        <mat-select placeholder="Choose policy"
                    formControlName="robotsPolicy"
                    i18n-placeholder="@@politenessconfigFormRobotPolicyDropdownPlaceholder">
          <mat-option *ngFor="let policy of robotsPolicies" [value]="policy">{{RobotsPolicy[policy]}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field *ngIf="robotsPolicy.value === RobotsPolicy.CUSTOM_ROBOTS">
            <textarea matInput
                      formControlName="customRobots"
                      placeholder="robots.txt"
                      i18n-placeholder="politenessconfigFormCustomRobotsPolicyInputPlaceholder">
            </textarea>
      </mat-form-field>

      <!--CrawlHostGroup Selector -->
      <app-selector placeholder="CrawlHostGroup Selector" formControlName="crawlHostGroupSelectorList"
                    [removable]="canEdit" i18n-placeholder="@@politenessconfigFormCrawlhostgroupSelectorPlaceholder">
      </app-selector>

      <mat-label i18n="@@politenessconfigFormMinRobotsValidDurationLabel">Minimum robots validity</mat-label>
      <app-duration-picker formControlName="minimumRobotsValidityDurationS"
                           [unit]="UnitOfTime.SECOND"
                           [durationGranularity]="'d:h:m:s'">
      </app-duration-picker>
      <mat-error *ngIf="!minRobotsValidDurationSec.valid"
                 i18n="@@politenessconfigFormMinRobotsValidDurationValidationError">
        Must be a number.
      </mat-error>

      <mat-label i18n="@@politenessconfigFormMinTimeBetweenPageloadLabel">Minimum time between page load</mat-label>
      <app-duration-picker formControlName="minTimeBetweenPageLoadMs"
                           [unit]="UnitOfTime.MILLISECOND"
                           [durationGranularity]="'m:s'">
      </app-duration-picker>
      <mat-error *ngIf="!minTimeBetweenPageloadMs.valid"
                 i18n="@@politenessconfigFormMinTimeBetweenPageloadValidationError">
        Must be a number.
      </mat-error>

      <mat-label i18n="@@politenessconfigFormMaxTimeBetweenPageloadLabel">Maximum time between page load</mat-label>
      <app-duration-picker formControlName="maxTimeBetweenPageLoadMs"
                           [unit]="UnitOfTime.MILLISECOND"
                           [durationGranularity]="'m:s'">
      </app-duration-picker>
      <mat-error *ngIf="!maxTimeBetweenPageloadMs.valid"
                 i18n="@@politenessconfigFormMaxTimeBetweenValidationError">
        Must be a number.
      </mat-error>

      <mat-form-field>
        <input matInput
               formControlName="delayFactor"
               placeholder="Delay factor"
               i18n-placeholder="@@politenessconfigFormDelayFactorPlaceholder">
        <mat-error *ngIf="!delayFactor.valid"
                   i18n="@@politenessconfigFormMaxTimeBetweenValidationError">
          Must be a number.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput
               formControlName="maxRetries"
               placeholder="Maximum retries"
               i18n-placeholder="@@politenessconfigFormMaxRetriesPlaceholder">
        <mat-error *ngIf="!maxRetries.valid"
                   i18n="@@politenessconfigFormMaxRetriesValidationError">
          Must be a number.
        </mat-error>
      </mat-form-field>

      <mat-label i18n="politenessconfigFormRetryDelayLabel">Retry delay</mat-label>
      <app-duration-picker formControlName="retryDelaySeconds"
                           [unit]="UnitOfTime.SECOND"
                           [durationGranularity]="'m:s'">
      </app-duration-picker>
      <mat-error *ngIf="!retryDelaySeconds.valid"
                 i18n="@@politenessconfigFormRetryDelayValidationError">
        Must be a number.
      </mat-error>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button color="accent"
          *ngIf="showSave"
          [disabled]="!canSave"
          [mat-dialog-close]="onDialogClose()"
          i18n="@@commonButtonSave">SAVE
  </button>
  <button mat-button
          (click)="onRevert()"
          [disabled]="!canRevert"
          i18n="@@commonButtonRevert">REVERT
  </button>
  <button mat-button
          mat-dialog-close
          i18n="@@commonButtonCancel">CANCEL
  </button>
</mat-dialog-actions>
