<h2 mat-dialog-title>
  <ng-container i18n="@@entityDetailsCardTitle">Politenessconfig</ng-container>
</h2>

<mat-dialog-content>
  <form [formGroup]="form">
    <app-meta formControlName="meta"></app-meta>
    <div fxLayout="column" fxLayoutGap="16px">
      <mat-form-field>
        <mat-select placeholder="Choose policy"
                    formControlName="robotsPolicy"
                    i18n-placeholder="@@politenessconfigFormRobotPolicyDropdownPlaceholder">
          <mat-option *ngFor="let policy of robotsPolicies" [value]="policy">{{RobotsPolicy[policy]}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field *ngIf="robotsPolicy.value === RobotsPolicy.CUSTOM_ROBOTS">
            <textarea matInput
                      formControlName="customRobots"
                      placeholder="robots.txt"
                      i18n-placeholder="politenessconfigFormCustomRobotsPolicyInputPlaceholder">
            </textarea>
      </mat-form-field>

      <mat-label i18n="@@politenessconfigFormMinRobotsValidDurationLabel">Minimum robots validity</mat-label>
      <app-duration-picker formControlName="minimumRobotsValidityDurationS"
                           [unit]="UnitOfTime.SECOND"
                           [durationGranularity]="'d:h:m:s'">
      </app-duration-picker>
      <mat-error *ngIf="!minRobotsValidDurationSec.valid"
                 i18n="@@politenessconfigFormMinRobotsValidDurationValidationError">
        Must be a number.
      </mat-error>

      <mat-checkbox formControlName="useHostname"
                    labelPosition="after"
                    i18n="@@politenessconfigFormUseHostnameLabel"
                    color="accent">
        Use hostname
      </mat-checkbox>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button color="accent"
          *ngIf="showSave"
          [disabled]="!canSave"
          [mat-dialog-close]="onDialogClose()"
          i18n="@@commonButtonSave">SAVE
  </button>
  <button mat-raised-button color="accent"
          *ngIf="!showSave"
          [disabled]="!canUpdate"
          [mat-dialog-close]="onDialogClose()"
          i18n="@@commonButtonUpdate">UPDATE
  </button>
  <button mat-button
          (click)="onRevert()"
          [disabled]="!canRevert"
          i18n="@@commonButtonRevert">REVERT
  </button>
  <button mat-button
          mat-dialog-close
          i18n="@@commonButtonCancel">CANCEL
  </button>
</mat-dialog-actions>
