<div fxLayout="row">
  <div fxFlex="30%">
    <h2>
      <md-icon>schedule</md-icon>
      <ng-container i18n="@@scheduleListNavHeader">Schedules</ng-container>
    </h2>
    <md-nav-list>
      <md-list-item
        *ngFor="let schedule of schedules" (click)="selectSchedule(schedule)"
        [class.active]="schedule === selectedSchedule">
        {{schedule.meta.name}}
      </md-list-item>
    </md-nav-list>

    <button md-raised-button color="warn"
            (click)="createNewSchedule()"
            i18n="@@commonButtonNew">New
    </button>
  </div>

  <ng-container *ngIf="selectedSchedule">
    <app-schedule-details
      [schedule]="selectedSchedule"
      [createHandler]="addSchedule"
      [updateHandler]="updateSchedule"
      [deleteHandler]="deleteSchedule">
    </app-schedule-details>
  </ng-container>

</div>
