<h2>
  <mat-icon>schedule</mat-icon>
  <ng-container i18n="@@scheduleListHeader">Schedules</ng-container>
</h2>
<mat-nav-list>
  <mat-list-item
    *ngFor="let schedule of schedules" (click)="selectSchedule(schedule)"
    [class.active]="schedule === selectedSchedule">
    {{schedule.meta.name}}
  </mat-list-item>
</mat-nav-list>

<button mat-raised-button color="warn"
        (click)="createNewSchedule()"
        i18n="@@commonButtonNew">New
</button>

<ng-container *ngIf="selectedSchedule">
  <app-schedule-details
    [schedule]="selectedSchedule"
    [createHandler]="addSchedule"
    [updateHandler]="updateSchedule"
    [deleteHandler]="deleteSchedule">
  </app-schedule-details>
</ng-container>

