<h2>
  <mat-icon>schedule</mat-icon>
  <ng-container i18n="@@scheduleListHeader">Schedules</ng-container>
</h2>
<mat-nav-list>
  <mat-list-item
    *ngFor="let schedule of schedules" (click)="onSelectSchedule(schedule)"
    [class.active]="schedule === selectedSchedule">
    {{schedule.meta.name}}
  </mat-list-item>
</mat-nav-list>

<button mat-raised-button color="warn"
        (click)="onCreateNewSchedule()"
        i18n="@@commonButtonNew">New
</button>

<ng-container *ngIf="selectedSchedule">
  <app-schedule-details
    [schedule]="selectedSchedule"
    (created)="onScheduleCreated($event)"
    (updated)="onScheduleUpdated($event)"
    (deleted)="onScheduleDeleted($event)">
  </app-schedule-details>
</ng-container>

