<div [formGroup]="form" fxLayout="column">

  <mat-form-field *ngIf="!nameIsUrl" [hideRequiredMarker]="nameInput.value.length >= 2">
    <input matInput #nameInput formControlName="name" placeholder="Navn"
           i18n-placeholder="@@metaNameInputPlaceholder" required>
    <mat-hint *ngIf="nameInput.value.length < 2">Minimum 2 tegn</mat-hint>
    <mat-error
      i18n="@@metaNameRequiredError">
      Navn er påkrevd
    </mat-error>
  </mat-form-field>

  <ng-container *ngIf="nameIsUrl">
    <mat-form-field *ngIf="id === ''">
    <textarea matInput formControlName="name" placeholder="URL"
              i18n="@@metaUrlInputPlaceholder"
              cdkTextareaAutosize
              cdkAutosizeMinRows="2"
              cdkAutosizeMaxRows="10"
              #autosize="cdkTextareaAutosize">
    </textarea>
      <mat-error
        i18n="@@metaUrlRequiredError">
        En gyldig URL er påkrevd
      </mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="id !== ''">
      <input matInput formControlName="name" placeholder="URL"
             i18n="@@metaUrlInputPlaceholder">
      <mat-error
        i18n="@@metaUrlRequiredError">
        En gyldig URL er påkrevd
      </mat-error>
    </mat-form-field>
  </ng-container>

  <mat-form-field>
    <textarea matInput formControlName="description" placeholder="Beskrivelse"
              i18n-placeholder="@@metaDescriptionInputPlaceholder" matTextareaAutosize>
    </textarea>
  </mat-form-field>

  <app-labels [removable]="editable" formControlName="labelList"></app-labels>

  <mat-form-field *ngIf="created.value">
    <input matInput
           formControlName="created"
           placeholder="Opprettet"
           i18n-placeholder="@@metaCreatedInputPlaceholder">
  </mat-form-field>

  <mat-form-field *ngIf="createdBy.value">
    <input matInput
           formControlName="createdBy"
           placeholder="Opprettet av"
           i18n-placeholder="@@metaCreatedByInputPlaceholder">
  </mat-form-field>

  <mat-form-field *ngIf="lastModified.value">
    <input matInput
           formControlName=lastModified
           placeholder="Sist endret"
           i18n-placeholder="@@metaLastModifiedInputPlaceholder">
  </mat-form-field>

  <mat-form-field *ngIf="lastModifiedBy.value">
    <input matInput
           formControlName="lastModifiedBy"
           placeholder="Sist endret av"
           i18n-placeholder="@@metaLastModifiedByInputPlaceholder">
  </mat-form-field>
</div>
