<form>
  <div fxLayout="column">
    <h5>Common labels for the selected configs: </h5>
    <div fxFlex fxLayout="row" fxLayoutGap="16px">
      <mat-chip-list fxFlex id="commonLabelsChipList" cdkDropList cdkDropListConnectedTo="labelInputChipList">
        <mat-chip *ngFor="let label of configObject.meta.labelList" [selectable]="false"
                  cdkDrag [cdkDragData]="label.key + ':' + label.value"
                  [cdkDragDisabled]="shouldAddLabel || shouldAddLabel === undefined">
          {{label.key}}:{{label.value}}
        </mat-chip>
      </mat-chip-list>
      <mat-button-toggle-group
        name="shouldAddLabel"
        [value]="shouldAddLabel"
        (valueChange)="onToggleShouldAddLabels($event)">
        <mat-button-toggle [value]="true" matTooltip="Add labels for the selected configs"
                           i18n-matTooltip="@@labelsMultiAddLabelToggleButtonTooltip">
          <mat-icon>add</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle [value]="false" matTooltip="Remove labels from the selected configs"
                           i18n-matTooltip="@@labelsMultiRemoveLabelToggleButtonTooltip">
          <mat-icon>remove</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div fxflex fxLayout="column" *ngIf="shouldAddLabel !== undefined">
      <div *ngIf="shouldAddLabel">
        <p>Add labels to the selected configs</p>
      </div>
      <div *ngIf="!shouldAddLabel">
        <p>Remove labels from the selected configs.</p>
        <p>Add labels by typing a valid label, or by dragging a label from the common label list </p>
      </div>
      <mat-form-field>
        <mat-chip-list id="labelInputChipList" #labelInputChipList
                       cdkDropList cdkDropListConnectedTo="commonLabelsChipList"
                       (cdkDropListDropped)="onDrop($event)">
          <mat-chip *ngFor="let label of labels"
                    (removed)="onRemove(label.key, label.value)">
            {{label.key}}:{{label.value}}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
          <input placeholder="Add label to remove..."
                 #chipInput
                 matInput
                 [formControl]="control"
                 [matChipInputFor]="labelInputChipList"
                 [matChipInputSeparatorKeyCodes]="labelInputSeparators"
                 [matAutocomplete]="auto"
                 (matChipInputTokenEnd)="onAdd($event)">
        </mat-chip-list>
      </mat-form-field>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onAutocompleteOptionSelected($event)">
        <mat-option *ngFor="let key of filteredKey$ | async" [value]="key">{{key}}</mat-option>
      </mat-autocomplete>
    </div>
  </div>
</form>
