<form [formGroup]="form"
      fxLayout="column">
  <md-card *ngIf="seed">
    <md-card-header fxLayout="row">
      <md-card-title>
        <span i18n="@@seedDetailsCardTitle">SEED</span>
      </md-card-title>
      <md-card-subtitle *ngIf="!seed.id">
        <span i18n="@@seedDetailsCardSubtitle">Ny (ikke lagret)</span>
      </md-card-subtitle>
      <span class="fill-space"></span>
      <md-slide-toggle formControlName="disabled" i18n="@@seedDisabledToggleSwitch">
        Aktiv
      </md-slide-toggle>
    </md-card-header>
    <md-card-content fxLayout="row">
      <div fxFlex fxLayout="column">

        <ng-container formGroupName="meta">
          <md-form-field>
            <input mdInput formControlName="name" placeholder="URL"
                   i18n-placeholder="@@seedFormUrlPlaceholder">
          </md-form-field>

          <md-form-field>
            <input mdInput formControlName="description" placeholder="Beskrivelse"
                   i18n-placeholder="@@seedFormAddDescriptionPlaceholder">
            <md-icon class="ttInfo" mdSuffix mdTooltipShowDelay="500"
                     mdTooltip={{seedDetailsText.addDescriptionTooltip}}
                     i18n-mdTooltip="@@seedAddDescriptionTooltip">info
            </md-icon>
          </md-form-field>
        </ng-container>

        <md-form-field formGroupName="scope" *ngIf="seed.id">
          <input mdInput
                 formControlName="surt_prefix"
                 placeholder="Surt prefiks"
                 i18n-placeholder="@@seedFormSurtPrefixPlaceholder">
        </md-form-field>

        <md-form-field *ngIf="seed.id">
          <input mdInput formControlName="id" placeholder="Id"
                 i18n-placeholder="@@seedFormIdPlaceholder">
        </md-form-field>

        <ng-container formGroupName="meta" *ngIf="seed.id">
          <md-form-field formGroupName="created">
            <input mdInput
                   formControlName="seconds"
                   placeholder="Opprettet"
                   i18n-placeholder="@@seedFormCreatedPlaceholder">
          </md-form-field>

          <md-form-field>
            <input mdInput
                   formControlName="created_by"
                   placeholder="Opprettet av"
                   i18n-placeholder="@@seedFormCreatedByPlaceholder">
          </md-form-field>

          <md-form-field formGroupName="last_modified">
            <input mdInput
                   formControlName="seconds"
                   placeholder="Sist endret"
                   i18n-placeholder="@@seedFormLastModifiedPlaceholder">
          </md-form-field>

          <md-form-field>
            <input mdInput
                   formControlName="last_modified_by"
                   placeholder="Sist endret av"
                   i18n-placeholder="@@seedFormLastModifiedByPlaceholder">
          </md-form-field>
        </ng-container>

        <md-form-field>
          <input mdInput formControlName="entity_id"
                 placeholder="Entitetens Id"
                 i18n-placeholder="@@seedFormEntityIdPlaceholder">
        </md-form-field>
      </div>
      <div fxFlex fxLayout="column">
        <ng-container formGroupName="meta">
          <app-labels type="Label" formControlName="label"></app-labels>
        </ng-container>
        <div>
          <span i18n="@@seedFormCrawljobMultiSelectHeader">Høstejobb:</span>
          <angular2-multiselect [data]="crawlJobList"
                                [(ngModel)]="selectedCrawlJobItems"
                                [settings]="dropdownCrawlJobSettings"
                                formControlName="job_id">
          </angular2-multiselect>
        </div>
      </div>
    </md-card-content>

    <md-card-actions>
      <button md-raised-button color="primary"
              *ngIf="!seed.id"
              [disabled]="!form.valid"
              (click)="onSave()"
              i18n="@@commonButtonSave">Lagre
      </button>
      <button md-raised-button color="primary"
              *ngIf="seed.id"
              [disabled]="!form.dirty"
              (click)="onUpdate()"
              i18n="@@commonButtonSave">Lagre
      </button>
      <button md-raised-button color="accent"
              [disabled]="!form.dirty"
              (click)="onRevert()"
              i18n="@@commonButtonRevert">Tilbakestill
      </button>
      <button md-raised-button color="warn"
              (click)="onDelete()"
              i18n="@@commonButtonDelete">Slett
      </button>
    </md-card-actions>
  </md-card>
</form>
