<form [formGroup]="form"
      fxLayout="column">
  <md-card *ngIf="seed">
    <md-card-header fxLayout="row">
      <md-card-title>
        <span>SEED</span>
      </md-card-title>
      <md-card-subtitle *ngIf="!seed.id">
        <span>Ny (ikke lagret)</span>
      </md-card-subtitle>
      <span class="fill-space"></span>
      <md-slide-toggle formControlName="disabled">Aktiv</md-slide-toggle>
    </md-card-header>
    <md-card-content fxLayout="row">
      <div fxFlex fxLayout="column">

        <ng-container formGroupName="meta">
          <md-form-field>
            <input mdInput formControlName="name" placeholder="URL">
          </md-form-field>

          <md-form-field>
            <input mdInput formControlName="description" placeholder="Beskrivelse">
            <md-icon class="ttInfo" mdSuffix mdTooltipShowDelay="500" mdTooltip={{seedDetailsText.addDescriptionTooltip}}>info</md-icon>
          </md-form-field>
        </ng-container>

        <md-form-field formGroupName="scope" *ngIf="seed.id">
          <input mdInput
                 formControlName="surt_prefix"
                 placeholder="Surt prefix">
        </md-form-field>

        <md-form-field *ngIf="seed.id">
          <input mdInput formControlName="id" placeholder="Id">
        </md-form-field>

        <ng-container formGroupName="meta" *ngIf="seed.id">
          <md-form-field formGroupName="created">
            <input mdInput
                   formControlName="seconds"
                   placeholder="Created">
          </md-form-field>

          <md-form-field>
            <input mdInput
                   formControlName="created_by"
                   placeholder="Created by">
          </md-form-field>

          <md-form-field formGroupName="last_modified">
            <input mdInput
                   formControlName="seconds"
                   placeholder="Last modified">
          </md-form-field>

          <md-form-field>
            <input mdInput
                   formControlName="last_modified_by"
                   placeholder="Last modified by">
          </md-form-field>
        </ng-container>

        <md-form-field>
          <input mdInput formControlName="entity_id" placeholder="Entitetens Id">
        </md-form-field>
      </div>
      <div fxFlex fxLayout="column">
        <ng-container formGroupName="meta">
          <app-labels type="Label" formControlName="label"></app-labels>
        </ng-container>
        <div>
          <span>Høstejobb:</span>
          <angular2-multiselect [data]="crawlJobList"
                                [(ngModel)]="selectedCrawlJobItems"
                                [settings]="dropdownCrawlJobSettings"
                                formControlName="job_id">
          </angular2-multiselect>
        </div>
      </div>
    </md-card-content>

    <md-card-actions>
      <button md-raised-button color="primary"
              *ngIf="!seed.id"
              [disabled]="!form.valid"
              (click)="onSave()">Lagre
      </button>
      <button md-raised-button color="primary"
              *ngIf="seed.id"
              [disabled]="!form.dirty"
              (click)="onUpdate()">Lagre
      </button>
      <button md-raised-button color="accent"
              [disabled]="!form.dirty"
              (click)="onRevert()">Tilbakestill
      </button>
      <button md-raised-button color="warn"
              (click)="onDelete()">Slett
      </button>
    </md-card-actions>
  </md-card>
</form>
