<h1 mat-dialog-title i18n="@@deleteDialogTitle">Delete confirmation</h1>
<div mat-dialog-content [ngSwitch]="configObject.kind">
  <p>
    <span i18n="@@deleteDialogConfirmationText">Are you sure you want to delete </span>
    <strong *ngSwitchCase="Kind.ROLEMAPPING">{{roleMapping}}</strong>
    <span *ngSwitchDefault>"{{configObject.meta.name}}"</span>
    ?
  </p>
</div>

<div mat-dialog-actions>
  <button mat-button
          i18n="@@commonButtonCancel"
          [mat-dialog-close]="false">CANCEL
  </button>
  <span fxFlex></span>
  <button mat-raised-button
          color="warn"
          i18n="@@commonButtonDelete"
          [mat-dialog-close]="true">DELETE
  </button>
</div>
