<h2>Merkelapper</h2>
<div *ngFor="let group of groups" fxLayout="columns" class="labelList">
  <div fxLayout="row" fxLayoutAlign="center center">
    <h2 class="key">{{group.key}}:</h2>
    <ng-container *ngFor="let value of group.values">
      <div class="chip">{{value}}
        <button class="removeValueIcon" md-icon-button (click)="removeLabel(group.key, value)">
          <md-icon class="md-24">cancel</md-icon>
        </button>
      </div>
    </ng-container>
  </div>
</div>
<md-list-item>
  <button md-raised-button color="accent"
          (click)="inputNewLabel()"> Legg til merkelapp
  </button>
</md-list-item>
<br>
<md-list-item *ngIf="showAddLabelCard" id="newLabelCard">
  <br>
  <md-form-field>
    <input #newKey mdInput placeholder="Type" [(ngModel)]="newKeyInput">
    <md-icon class="ttInfo" mdSuffix mdTooltipShowDelay="500" mdTooltip="Hva skal merkelappen beskrive?
    Eks. Org.nummer, kategorisering, begivenhet">info
    </md-icon>
  </md-form-field>
  <br>
  <md-form-field>
    <input #newValue mdInput placeholder="Verdi" [(ngModel)]="newValueInput">
    <md-icon class="ttInfo" mdSuffix mdTooltipShowDelay="500" mdTooltip="En verdi gir en merkelapp. Den brukes for å merke og identifisere en entitet eller seed.
    Eks. offentlig nettsted, nettavis, Valg 2017">info
    </md-icon>
  </md-form-field>
  <br>
  <button md-raised-button color="accent"
          (click)="onNewLabel(newKey.value, newValue.value)">Legg til
  </button>
  <br>
</md-list-item>
<br>
<br>


