name: Docker

on:
  push:
    tags:
      - v*

jobs:
  build-docker-image:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: docker/build-push-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: norsknettarkiv/veidemann-dashboard
          tag_with_ref: true
          tags: latest
          add_git_labels: true
