<h2 *ngIf="schedule.id">Schedule Details</h2>
<h2 *ngIf="!schedule.id">New Schedule</h2>
<form [formGroup]="scheduleForm" fxLayout="column">
  <md-form-field formGroupName="meta">
    <input mdInput
           formControlName="name"
           placeholder="Navn">
    <md-error *ngIf="! scheduleForm['controls'].meta['controls'].name.valid">
      Navn er påkrevd.
    </md-error>
  </md-form-field>

  <md-form-field formGroupName="meta">
    <input mdInput
           formControlName="description"
           placeholder="Beskrivelse">
  </md-form-field>

  <div formGroupName="cron_expression">
    <h3>Cron expression</h3>
    <md-form-field>
      <input mdInput formControlName="minute" placeholder="Minute">
    </md-form-field>
    <md-form-field>
      <input mdInput formControlName="hour" placeholder="Hour">
    </md-form-field>
    <md-form-field>
      <input mdInput formControlName="dom" placeholder="Dom">
    </md-form-field>
    <md-form-field>
      <input mdInput formControlName="month" placeholder="Month">
    </md-form-field>
    <md-form-field>
      <input mdInput formControlName="dow" placeholder="Dow">
    </md-form-field>
    <md-error *ngIf="!scheduleForm['controls'].cron_expression.valid">
      Cron expression required.
    </md-error>
  </div>

  <div formGroupName="valid_from">
    <h3>Valid from</h3>
    <md-form-field>
      <input mdInput formControlName="year" placeholder="Year">
    </md-form-field>
    <md-form-field>
      <input mdInput formControlName="month" placeholder="Month">
    </md-form-field>
    <md-form-field>
      <input mdInput formControlName="day" placeholder="Day">
    </md-form-field>
  </div>
  <div formGroupName="valid_to">
    <h3>Valid to</h3>
    <md-form-field>
      <input mdInput formControlName="year" placeholder="Year">
    </md-form-field>
    <md-form-field>
      <input mdInput formControlName="month" placeholder="Month">
    </md-form-field>
    <md-form-field>
      <input mdInput formControlName="day" placeholder="Day">
    </md-form-field>
  </div>

  <md-expansion-panel formArrayName="label">
    <md-expansion-panel-header>
      <md-panel-title>
        Merkelapp
      </md-panel-title>
      <md-panel-description>
        Merkelapp beskrivelse
      </md-panel-description>
    </md-expansion-panel-header>
    <md-card *ngFor="let label of label.controls; let i=index" [formGroupName]="i">
      <md-card-header>
        <md-card-title>Merkelapp #{{i + 1}}</md-card-title>
      </md-card-header>
      <md-card-content>
        <md-form-field>
          <input mdInput formControlName="key" placeholder="Type">
        </md-form-field>
        <md-form-field>
          <input mdInput formControlName="value" placeholder="Value">
          <md-error *ngIf="! scheduleForm['controls'].label.valid">
            Merkelapp er påkrevd.
          </md-error>
        </md-form-field>
        <button md-icon-button (click)="removeLabel(i)">
          <md-icon>close</md-icon>
        </button>
      </md-card-content>
    </md-card>
    <button md-raised-button color="accent" (click)="addLabel()">Legg til merkelapp</button>
  </md-expansion-panel>

  <div>
    <button md-raised-button color="primary"
            [disabled]="!scheduleForm.valid"
            *ngIf="!schedule.id"
            (click)="createSchedule(schedule)" novalidate>Lagre
    </button>
    <button md-raised-button color="primary"
            *ngIf="schedule.id"
            [disabled]="!scheduleForm.valid"
            (click)="updateSchedule(schedule)">Lagre
    </button>
    <button md-raised-button color="accent"
            (click)="revert()">Tilbakestill
    </button>

    <button md-raised-button color="warn"
            *ngIf="schedule.id"
            (click)="deleteSchedule(schedule.id); $event.stopPropagation()">
      Slett
    </button>
  </div>

</form>

<schedule-sidebar></schedule-sidebar>
