<app-toolbar>
  <span class="toolbar--title">LogLevels</span>
  <button mat-mini-fab (click)="onAdd()">
    <mat-icon>add</mat-icon>
  </button>
</app-toolbar>
<form [formGroup]="form">
  <mat-card>
    <mat-card-content>
      <ng-container formArrayName="log_level" *ngFor="let _ of logLevelsFormArray.controls; let i=index">
        <div [formGroupName]="i" fxLayout="row" fxLayoutGap="1em">
          <mat-form-field fxFlex="2 1 100%">
            <input matInput formControlName="logger" placeholder="Logger"
                   i18n-placeholder="@@logconfigFormLoggerPlaceholder">
          </mat-form-field>
          <mat-form-field fxFlex>
            <mat-select formControlName="level" placeholder="Level"
                        i18n-placeholder="@@logconfigFormLevelPlaceholder">
              <mat-option *ngFor="let level of levelOptions" [value]="level">{{level}}</mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-icon-button color="warn" (click)="onDelete(i)" *ngIf="canEdit">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </ng-container>
    </mat-card-content>
    <mat-card-actions *ngIf="canEdit">
      <button mat-raised-button color="primary"
              [disabled]="!form.valid ||!form.dirty"
              (click)="onSave()"
              i18n="@@commonButtonSave">Lagre
      </button>
      <button mat-raised-button color="accent"
              (click)="onRevert()"
              [disabled]="!form.dirty"
              i18n="@@commonButtonRevert">
        Tilbakestill
      </button>
    </mat-card-actions>
  </mat-card>
</form>
