<form [formGroup]="form">
  <h2 mat-dialog-title>Schedule - Mass update</h2>
  <mat-dialog-content>
    <div fxLayout="row wrap" fxLayoutGap="24px">
      <div fxFlex fxLayout="column" fxLayoutGap="16px">
        <app-label-multi [configObject]="configObject"
                         [allSelected]="allSelected"
                         (update)="onUpdateLabels($event)">
        </app-label-multi>
      </div>
      <div fxFlex fxLayout="column" fxLayoutGap="16px">
        <div fxLayout="row" fxLayoutGap="24px">
          <div (click)="validFrom.disabled ? validFrom.enable() : null"
               i18n-matTooltip="@@scheduleMassUpdateValidFromDisabledTooltip"
               [matTooltip]="validFrom.disabled ?
                        ' The value for this field is not equal for all the selected configs.'
                        + 'Click the field and set desired state to override all, '
                        + 'or leave untouched to keep the configurations original value.'
                        : null">
            <mat-form-field>
              <mat-label i18n="@@scheduleDetailsValidFromInputLabel">
                Valid from
              </mat-label>
              <input matInput [matDatepicker]="validFromDatepicker" formControlName="validFrom">
              <mat-datepicker-toggle matSuffix [for]="validFromDatepicker"></mat-datepicker-toggle>
              <mat-datepicker #validFromDatepicker></mat-datepicker>
            </mat-form-field>
          </div>
          <div (click)="validTo.disabled ? validTo.enable() : null"
               i18n-matTooltip="@@scheduleMassUpdateValidToDisabledTooltip"
               [matTooltip]="validFrom.disabled ?
                        ' The value for this field is not equal for all the selected configs.'
                        + 'Click the field and set desired state to override all, '
                        + 'or leave untouched to keep the configurations original value.'
                        : null">
            <mat-form-field>
              <mat-label i18n="@@scheduleDetailsValidToInputLabel">
                Valid to
              </mat-label>
              <input matInput [matDatepicker]="validToDatepicker" formControlName="validTo">
              <mat-datepicker-toggle matSuffix [for]="validToDatepicker"></mat-datepicker-toggle>
              <mat-datepicker #validToDatepicker></mat-datepicker>
            </mat-form-field>
          </div>
          <button mat-icon-button (click)="onRemoveValidFromTo()"
                  [matTooltip]="'Remove valid from / valid to for all the selected configurations'"
                  i18n-matTooltip="@@scheduleMassUpdateRemoveValidFromToButtonTooltip">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </mat-dialog-content>
</form>

<mat-dialog-actions *ngIf="canEdit">
  <button mat-raised-button color="accent"
          [disabled]="!canUpdate"
          [mat-dialog-close]="onDialogClose()"
          i18n="@@commonButtonSave">UPDATE
  </button>
  <button mat-button
          (click)="onRevert()"
          [disabled]="!canRevert"
          i18n="@@commonButtonRevert">REVERT
  </button>
  <button mat-button
          mat-dialog-close
          i18n="@@commonButtonCancel">CANCEL
  </button>
</mat-dialog-actions>
